{% extends "shared/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="offset-1 bg-white col-md-6 pt-2 pb-4 px-4">
    <h1 class="text-uppercase">About</h1>
    {{p.body|safe}}
    </div>

  </div>
</div>
<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>
{% if p.background_video %}
  <video autoplay loop muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}
</div>
{% endblock %}