{% extends "shared/base.html" %}

{% block title %}{{video.title}}{% endblock %}

{% block content %}

<div id="down-arrow"><img src="/static/images/down-arrow.png" alt="Scroll down"></div>

<iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}#t={% if clip.start_time_minutes != '' %}{{clip.start_time_minutes}}{% else %}0{% endif %}m{% if clip.start_time_seconds != '' %}{{clip.start_time_seconds}}{% else %}0{% endif %}s?title=0&byline=0&portrait=0" style="width:100%;height:calc(100vw * .56);" name="iframe" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="100%" allow="fullscreen" allowfullscreen></iframe>

<div id="main" class="bg-white" style="margin-top:-5px;">
  <div class="container">
    <div class="row">

        <div class="col-12">
          <h1 class="my-4 lato-black">{{video.title}}</h1>
        </div>

        <div class="col-md-9 mb-5">

          {{clip.transcription|safe}}

        </div>
        <div class="col-md-3">

          <p><a href="{% url 'video' video.id %}" class="btn btn-outline-primary">Beginning of interview&nbsp;»</a></p>


          {% for v in video.victim_set.all %}
          <p><a href="https://data.ensaaf.org/profile/{{v.profile_id}}/" class="btn btn-outline-primary">Full Profile of {{v.victim_name}}»</a></p>
          {% if forloop.last %}<br>{% endif %}              
          {% endfor %}
                    

          {% if clip.theme or video.theme.all %}  
          Theme
          <ul class="mb-4">
          {% endif %}                       
          {% for t in clip.theme.all %}            
              <li class="my-1"><a href="{% url 'theme' t.slug %}">{{t.name}}</a></li>
          {% endfor %}
          {% if clip.theme or video.theme.all %}  
          </ul>
          {% endif %}   


          {% if video.clip_set.all or video.theme.all %}  
              Other clips from this interview
          <ul class="mb-4">
          {% endif %}                       

          {% for t in video.theme.all %}
              <li class="my-1"><a href="{% url 'video' video.id %}">{{t.name}}</a></li>
          {% endfor %}

          {% for c in video.clip_set.all %}
            {% for t in c.theme.all %}
              {% if c.id != clip.id %}
              <li class="my-1"><a href="{% url 'clip' c.id %}">{{t.name}}</a></li>
              {% endif %}
            {% endfor %}          
          {% endfor %}

          {% if video.clip_set.all or video.theme.all %}  
          </ul>
          {% endif %}                       


        </div>
    </div>
  </div>
</div>

{% endblock %}
