{% extends "shared/base.html" %}{% load i18n %}

{% block title %}Interviews{% endblock %}




{% block head %}
  <meta name="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="name" content="Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India" />
  <meta itemprop="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta name="twitter:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta property="og:site_name" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />

{% endblock %}





{% block content %}

<div id="home">
  <div class="inner">
    <h1>{% trans "Testimonies of Truth" %}</h1>
    <h2>{% trans "A Video Archive" %}</h2>
  </div>
</div>

<a id="enter" href="{% url "interviews" %}">{% trans "Enter" %}</a>

<div id="background">
{% if p.background_video %}
  <video id="video" muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}
</div>

{% endblock %}