{% extends "shared/base.html" %}{% load i18n %}

{% block title %}Interviews{% endblock %}

{% block content %}

<div id="home">
  <div class="inner">
    <h1>{% trans "Testimonies of Truth" %}</h1>
    <h2>{% trans "A Video Archive" %}</h2>
  </div>
</div>

<a id="enter" href="{% url "interviews" %}">{% trans "Enter" %}</a>

<div id="background">
{% if p.background_video %}
  <video id="video" muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}
</div>


<script>
$( document ).ready(function() {

  $('#home').addClass('active');

  var video = document.getElementById('video');
  video.play();
  video.addEventListener('ended',function(){
      window.location = '{% url "interviews" %}';
  });

});
</script>

{% endblock %}