{% extends "shared/base.html" %}
{% load cropping %}
{% load i18n %}
{% load humanize %}
{% load profiletags %}

{% block title %}Map of Interviews{% endblock %}


{% block head %}

  <meta name="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="name" content="Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India" />
  <meta itemprop="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta name="twitter:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta property="og:site_name" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/carto.css" />
  <script type="text/javascript" src="/static/js/carto.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.zoomhome.min.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.minimap.min.js"></script>

  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
{% endblock %}



{% block content %}
<div class="container pb-5">


  <h1 class="offset-1 mt-1 mb-4 text-uppercase">Interviews</h1>

  <form method="get" id="form">

  <br>

  <div class="row bg-black pt-1 pb-4">

      <div class="form-group filter{% if selected_gender %} selected{% endif %} col-6 col-md-3 col-lg-2">
        <select class="form-control" id="gender" name="gender" onchange="updateMapData()">
          <option value="">{% trans "Gender" %}</option>
          <option {% if selected_gender == 'Female' %} selected=selected{% endif %} value="Female">{% trans "Female" %}</option>
          <option {% if selected_gender == 'Male' %} selected=selected{% endif %} value="Male">{% trans "Male" %}</option>
        </select>
      </div>


      <div class="form-group filter{% if selected_age %} selected{% endif %} col-6 col-md-3 col-lg-2">
        <select class="form-control" id="age" name="age" onchange="updateMapData()">
          <option value="">{% trans "Age" %}</option>
          <option{% if selected_age == '0-17' %} selected=selected{% endif %} value="0-17">{% trans '0-17' %}</option>
          <option{% if selected_age == '18-33' %} selected=selected{% endif %} value="18-33">{% trans '18-33' %}</option>
          <option{% if selected_age == '34-49' %} selected=selected{% endif %} value="34-49">{% trans '34-49' %}</option>
          <option{% if selected_age == '50-64' %} selected=selected{% endif %} value="50-64">{% trans '50-64' %}</option>
          <option{% if selected_age == '65+' %} selected=selected{% endif %} value="65+">{% trans '65+' %}</option>
        </select>
      </div>


      <div class="form-group filter{% if selected_classification %} selected{% endif %} col-6 col-md-3 col-lg-2">
        <select class="form-control" id="classification" name="classification" onchange="updateMapData()">
          <option value="">{% trans "Classification" %}</option>
          <option {% if selected_classification == 'Enforced Disappearance' %} selected=selected{% endif %} value="Enforced Disappearance">{% trans "Enforced Disappearance" %}</option>
          <option {% if selected_classification == 'Extrajudicial Execution' %} selected=selected{% endif %} value="Extrajudicial Execution">{% trans "Extrajudicial Execution" %}</option>
        </select>
      </div>


      <div class="form-group filter{% if selected_district %} selected{% endif %} col-6 col-md-3 col-lg-2">
        <select class="form-control" id="district" name="district" onchange="updateMapData()">
          <option value="">{% trans "District" %}</option>

      {% if request.LANGUAGE_CODE == 'pb' %}
          {% for o in districts %}
          <option value="{{o.district_id}}" {% if selected_district|add:"0" == o.district_id %} selected=selected{% endif %}>{{o.district_pb}}</option>
          {% for t in o.subdistricts %}
          <option value="{{t.tehsil_id}}" {% if selected_district|add:"0" == t.tehsil_id %} selected=selected{% endif %}>&nbsp;&nbsp;- {{t.tehsil_pb}}</option>
          {% endfor %}
          {% endfor %}
      {% else %}
          {% for o in districts %}
          <option value="{{o.district_id}}" {% if selected_district|add:"0" == o.district_id %} selected=selected{% endif %}>{{o.district}}</option>
          {% for t in o.subdistricts %}
          <option value="{{t.tehsil_id}}" {% if selected_district|add:"0" == t.tehsil_id %} selected=selected{% endif %}>&nbsp;&nbsp;- {{t.tehsil}}</option>
          {% endfor %}
          {% endfor %}
      {% endif %}

        </select>
      </div>


      <div class="form-group filter{% if selected_year %} selected{% endif %} col-6 col-md-3 col-lg-2">
        <select class="form-control" id="year" name="year" onchange="updateMapData()">
          <option value="">{% trans "Year" %}</option>
          {% for o in years %}
          <option{% if selected_year|add:"0" == o %} selected=selected{% endif %} value="{{o}}">{{o|yearpa}}</option>
          {% endfor %}
        </select>
      </div>


      <div class="form-group  col-6 col-md-3 col-lg-2" id="clear-filters"{%if selected %} style="display:block;"{%endif%}>
        <p class="text-right"><a href="#" onclick="clearFilters();return false;">{% trans 'Clear filters' %}</a></p>
      </div>

  </div>

  </form>



  <div class="row">

      <div id="mapid" class="col-12">
      </div>
    
      <div class="col-12 bg-black">
          <hr>
          {{p.body|safe}}
      </div>
    
  </div>


</div>

<script type="text/javascript">

function numpa(num) {
  var num = num.toString();
  var dic = {'0':'੦','1':'੧','2':'੨','3':'੩','4':'੪','5':'੫','6':'੬','7':'੭','8':'੮','9':'੯'};
  var output = [];
  for (let i = 0; i < num.length; i++) {
    output.push( dic[ num[i] ] );
  }
  return output.join('');
}

function numberWithCommas(x) {
  {% if request.LANGUAGE_CODE == 'pb' %}
  return numpa( x.toString() );
  {% else %}
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  {% endif %}
}

var timeCapsule = [{% for o in videos %}{"v":{"uid":"{{o.video.id}}","img":"{% cropped_thumbnail o.video "image_cropping" %}","id":"{{o.village|default:"0"}}","p":"{{o.profile_id|default:""}}","t":{{o.date|date:"U"|default:"0"}}}}{% if forloop.last %}{%else%},{% endif %}{% endfor %}];

for (var i=0;i<timeCapsule.length;i++) {
    if ( timeCapsule[i]['v']['id'] ) {
      timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
      var d = new Date(0);
      timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
    }
}  

var start = d3.min(d3.entries(timeCapsule), function(d) { return d.value.date; });
var end = d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

var villages = {};
var villageCentroids = [];
var markers = {};




function clearFilters() {
  $("#form option[selected]").removeAttr("selected");    
  $("#form .filter").removeClass('selected');
  $("#form .filter select").val($("#form option:first").val());
  updateMapData();
  mymap.setView([31.0157601,75.45], 8);
}


function updateMapData() {

  var hasFilters = 0;
  
  $('.filter select').each(function(i, obj) {
    $o = $(obj);
    if ($o.val() !== '') {
      $o.parent().addClass('selected'); 
      hasFilters = 1;
    } else {
      $o.parent().removeClass('selected');
    }
  });

  if (hasFilters) {
    $('#clear-filters').fadeIn(); 
  } else {
    $('#clear-filters').hide(); 
  }

  var params = $('#form').serialize();

  $.getJSON("/interviews_map_xhr/?" + params, function(json) {
        
      timeCapsule = [];
      timeCapsule = json.timeline;
      
      for (var i=0;i<timeCapsule.length;i++) {
          if ( timeCapsule[i]['v']['t']  < 1514764800 ) {
            timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
            var d = new Date(0);
            timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
          }
      } 
     
      // history.pushState(params,'Mapping Crimes Against Humanity in Punjab, India: Enforced Disappearances and Extrajudicial Executions', "/?" + params);
      
      makeVillageNames(start, end);
  })
  .fail(function(error) {
    console.log("error");
    console.log(error);
  })

}





// init

var previousDistrict = '';





// load basemap
var mymap = new L.Map('mapid', {
  center: [31.0157601,75.45],
  zoom: 8
});
cartodb.createLayer(mymap, 'https://sukhmandhami.carto.com/api/v2/viz/9650d7c6-9865-4151-a4e7-3456ef906d7d/viz.json', {https: true}).addTo(mymap);
var zoomHome = L.Control.zoomHome({ zoomHomeIcon: 'refresh' });
zoomHome.addTo(mymap);

var pubs2 = new L.TileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png');
var layers = new L.LayerGroup([pubs2]);
var miniMap = new L.Control.MiniMap(layers, { width: 250, height: 200, zoomLevelFixed: 3, position: 'topright', centerFixed: [21.28,77] }).addTo(mymap);

mymap.setView(new L.LatLng(31.0157601,75.45),8);
mymap.scrollWheelZoom.disable();


// load village centroids

$.getJSON("/static/js/village_loc.json", function(json) {
    villageCentroids = json
    makeVillageNames( 0,1 );
});




function makeVillageNames(start, end) {

    villages = {};
    var profiles_used = [];

    // update size per village
    for (var i=0;i<timeCapsule.length;i++) {
        if ((end >= timeCapsule[i]['date']) && (timeCapsule[i]['date'] >= start) && ( timeCapsule[i]['v']['id'] ))  {
        
          if (! profiles_used.includes(timeCapsule[i]['v']['p'])) {        
              var id = timeCapsule[i]['v']['id'];
              if (villages[id]) {
                villages[id].push(timeCapsule[i]['v']);
              } else {
                villages[id] = [timeCapsule[i]['v']];
              }
              profiles_used.push( timeCapsule[i]['v']['p'] );
          }
        }
    }
        
    updateMap(start, end);
}



var area = d3.scalePow().exponent(0.5).domain([0, 100]).range([1, 15]);



function updateMarkers(markers, points) {
        // update markers

        var markers_array = [];

        _.forEach(markers, function(value, key) {
          if ( d = _.find(points, { 'id': key }) ) {

              d.size = villages[d.id].length ;
              
              markers[key]._icon.classList.remove('hidden');

              var tultipText = '<div class="name">' + d.name + '</div><div class="position">' + numberWithCommas(d.size);
              {% if request.LANGUAGE_CODE == 'pb' %}
                if (d.size == 1) { tultipText += ' ਪੀੜਤ'; } else { tultipText += ' ਪੀੜਤ'; }
              {% else %}
                tultipText += ' Victim'; if (d.size > 1) { tultipText += 's'; }
              {% endif %}
                tultipText += '</div>';

              markers[key].bindPopup(tultipText, {offset:[0,-5]});
              markers[key].on('mouseover', function (e) { this.openPopup(); });
              markers[key].on('mouseout', function (e) { this.closePopup(); });
              markers[key].on('click', function (e) {
                {% comment %}
                //var params = $('#form').serialize();
                //document.location.href = '{% lang %}' + this.options.url + '/?' + params;
                {% endcomment %}
                  document.location.href = this.options.icon.options.url;
              });

              console.log('SHOW', markers[key].options.icon.options.url);

              markers_array.push( markers[key] );
          } else {

            markers[key]._icon.classList.add('hidden');
            markers[key].unbindPopup();

          }
        });

        return markers_array;
}




function updateMap(start, end) {

    // make map
    var points = [];
    var keys = Object.keys(villages);
    for (var i in keys) {
      var thisVillage = _.find(villageCentroids, function(o) {
        return o.CODE.endsWith(keys[i]);        
      });
      if (keys[i] && thisVillage) {
        points.push({'id':keys[i],'coord':thisVillage.coord,'subdist':thisVillage.SUBDIST,'dist':thisVillage.DIST,'size':villages[keys[i]],'name':{% if request.LANGUAGE_CODE == 'pb' %}thisVillage.NAME_PA{% else %}thisVillage.NAME{% endif %}});
      }
    }


    // if markers, remove all
    for(var i = 0; i < this.markers.length; i++){
      this.map.removeLayer(this.markers[i]);
    }

    // add points to map
    _.forEach(points, function(d) {
      if (d.id !== '0') {

        var imageIcon = L.icon({
            iconUrl:  '/static/images/play-button.png',
            iconSize:  [25,25],
            opacity: 1,
            url: '/video/' + villages[d.id][0].uid,
        });
        markers[String(d.id)] = L.marker([d.coord[1], d.coord[0] ], {icon: imageIcon}).addTo(mymap);

      }
    }); // end for points

    updateMarkers(markers, points);

}




d3.select(window).on('resize', function() {
  makeVillageNames(0,1);
});

var maxHeight = 0;




</script>




<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>
{% if p.background_video %}
  <video autoplay loop muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}
</div>


{% endblock %}
