{% extends "shared/base.html" %}
{% load cropping %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container pb-5">


{% if q %}



  {% if video_results.0 == None and clip_results.0 == None %}

    <h1 class="offset-1 mt-1 mb-4 text-uppercase">Search</h1>

    <div class="row">
      <div class="col-md-4 col-sm-6 slate">
        <div class="inner-slate">
          <h4>No results found for {{q}}</h4>
        </div>
      </div>
    </div>

  {% else %}


  <h1 class="offset-1 mt-1 mb-4 text-uppercase">Search results for {{q}}</h1>

  <div class="row">


    {% for v in video_results %}
      
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'video' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v "image_cropping" %}')">
          <h4>{{v.title}}</h4>
        </div>
      </div>

    {% endfor %}

    {% for v in clip_results %}
      
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'clip' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v.video "image_cropping" %}')">
          <h4>{{v.video.title}}</h4>
        </div>
      </div>

    {% endfor %}

  </div>

  {% endif %}


{% else %}

<h1 class="offset-1 mt-1 mb-4 text-uppercase">Search</h1>


{% endif %}


</div>

<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>
{% if p.background_video %}
  <video autoplay loop muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}
</div>
{% endblock %}
