{% extends "shared/base.html" %}
{% load cropping %}

{% block title %}Themes{% endblock %}

{% block content %}
<div class="container">

  <h1 class="offset-1 mt-1 mb-4 text-uppercase">Themes</h1>

  <div class="row">
      {% for t in themes %}
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'theme' t.slug %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail t "image_cropping" %}')">
          <h4>{{t.name}}</h4>
        </div>
      </div>
      {% endfor %}
  </div>

</div>
<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>

<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>

{% if p.background_video %}
  <video autoplay loop muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}

</div>
{% endblock %}
