{% extends "shared/base.html" %}{% load i18n %}
{% load cropping %}

{% block title %}{{t.name}}{% endblock %}



{% block head %}
  <meta name="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="name" content="Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India" />
  <meta itemprop="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta name="twitter:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:title" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta property="og:site_name" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
{% endblock %}



{% block content %}
<div class="container pb-5">

  <h1 class="offset-1 mt-1 mb-4 text-uppercase">{{t.name}}</h1>

  <div class="row">

    {% for v in t.video_set.all %}
      
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'video' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v "image_cropping" %}')">
          <h4>{{v.title}}</h4>
        </div>
      </div>

    {% endfor %}
  
    {% for v in t.clip_set.all %}

      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'clip' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v.video "image_cropping" %}')">
          <h4>{{v.video.title}}</h4>
        </div>
      </div>

    {% endfor %}
  </div>


</div>

<div id="background" class="dotted" style="background: url('{% cropped_thumbnail t "image_cropping" %}') no-repeat fixed center;background-size: cover;">
</div>
{% endblock %}
