{% extends "shared/base.html" %}
{% load cropping %}

{% block title %}Themes{% endblock %}



{% block head %}
  <meta name="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="name" content="Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India" />
  <meta itemprop="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta name="twitter:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:title" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta property="og:site_name" content="{% trans 'Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
{% endblock %}




{% block content %}
<div class="container pb-5">

  <h1 class="offset-1 mt-1 mb-4 text-uppercase">Themes</h1>

  <div class="row">
      {% for t in themes %}
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'theme' t.slug %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail t "image_cropping" %}')">
          <h4>{{t.name}}</h4>
        </div>
      </div>
      {% endfor %}
  </div>

</div>
<div id="background" class="dotted" {% if p.background_image %} style="background: url('/media/{{p.background_image}}') no-repeat fixed center;background-size: cover;"{% endif %}>

{% if p.background_video %}
  <video autoplay loop muted{% if p.background_image %} poster="/media/{{p.background_image}}"{% endif %}>
      <source data-src="/media/{{p.background_video}}" type="video/mp4">
  </video>
{% endif %}

</div>
{% endblock %}
