{% extends "shared/base.html" %}
{% load cropping %}

{% block title %}{{t.name}}{% endblock %}

{% block content %}
<div class="container pb-5">

  <h1 class="offset-1 mt-1 mb-4 text-uppercase">{{t.name}}</h1>

  <div class="row">

    {% for v in t.video_set.all %}
      
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'video' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v "image_cropping" %}')">
          <h4>{{v.title}}</h4>
        </div>
      </div>

    {% endfor %}
  
    {% for v in t.clip_set.all %}

      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'clip' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v.video "image_cropping" %}')">
          <h4>{{v.video.title}}</h4>
        </div>
      </div>

    {% endfor %}
  </div>


</div>

<div id="background" class="dotted" style="background: url('{% cropped_thumbnail t "image_cropping" %}') no-repeat fixed center;background-size: cover;">
</div>
{% endblock %}
