{% extends "shared/base.html" %}
{% load cropping %}

{% block title %}{{t.name}}{% endblock %}

{% block content %}
<div class="container">

  <h1 class="offset-1 mt-1 mb-4 text-uppercase">{{t.name}}</h1>

  <div class="row">

    {% for v in t.video_set.all %}
      
      <div class="col-md-4 col-sm-6 slate" onclick="document.location.href='{% url 'video' v.id %}'">
        <div class="inner-slate" style="background-image: url('{% cropped_thumbnail v "image_cropping" %}')">
          <h4>{{v.title}}</h4>
        </div>
      </div>

    {% endfor %}
  
    {% for v in t.clip_set.all %}
      <p class="card">
      {{v.vimeo_id}}
      <img src="https://i.vimeocdn.com/video/{{v.vimeo_id}}?mw=1920&amp;mh=1080&amp;q=70"><br>    
      {{v.title}}</p>
    {% endfor %}
  </div>


</div>

<div id="background" class="dotted" style="background: url('{% cropped_thumbnail t "image_cropping" %}') no-repeat fixed center;background-size: cover;">
</div>
{% endblock %}
