{% extends "shared/base.html" %}{% load i18n %}

{% block title %}{{video.title}}{% endblock %}



{% block head %}
  <meta name="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="name" content="Testimonies of Truth, Video Interviews with Survivors of Crimes Against Humanity in Punjab, India" />
  <meta itemprop="description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta name="twitter:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:title" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share-interviews.jpg" />
  <meta property="og:description" content="An archive of video interviews documenting widespread and systematic enforced disappearances and extrajudicial executions." />
  <meta property="og:site_name" content="{% trans 'Testimonies of Truth: Video Interviews with Survivors of Crimes Against Humanity in Punjab, India' %}" />

  <script src="https://player.vimeo.com/api/player.js"></script>

{% endblock %}


{% block content %}

<div id="down-arrow"><img src="/static/images/down-arrow.png" alt="Scroll down"></div>

<iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?title=0&byline=0&portrait=0" style="width:100%;height:calc(100vw * .56);" name="iframe" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" width="100%" allow="fullscreen" allowfullscreen></iframe>

<div id="main" class="bg-white" style="margin-top:-5px;">
  <div class="container">
    <div class="row">

        <div class="col-12">
          <h1 class="my-4 lato-black">{{video.title}}</h1>
        </div>

        <div class="col-md-9 mb-5" id="transcript">

          {{video.transcription|safe}}

        </div>
        <div class="col-md-3">


          {% for v in video.victim_set.all %}
          <p><a href="https://data.ensaaf.org/profile/{{v.profile_id}}/" class="btn btn-outline-primary">Profile of {{v.victim_name}}&nbsp;»</a></p>
            {% if forloop.last %}  
              <br>
            {% endif %}      
          {% endfor %}
          
                    
          {% for t in video.theme.all %}
            {% if forloop.first %}  
              Theme
              <ul class="mb-4">
            {% endif %}      
              <li class="my-1"><a href="{% url 'theme' t.slug %}">{{t.name}}</a></li>
            {% if forloop.last %}  
              </ul>
            {% endif %}      
          {% endfor %}


          {% for c in video.clip_set.all %}
            {% if forloop.first %}  
              Clips from this video by theme
              <ul class="mb-4">
            {% endif %}      
            {% for t in c.theme.all %}
              <li class="my-1"><a href="{% url 'clip' c.id %}">{{t.name}}</a></li>
            {% endfor %}          
            {% if forloop.last %}  
              </ul>
            {% endif %}      
          {% endfor %}



          {% if other_videos_with_victim or other_videos_with_vimeo %}
              Related interviews
              <ul class="mb-4">
          {% endif %}
          {% for v in other_videos_with_victim %}
              <li class="my-1"><a href="{% url 'video' v.id %}">{{v.title}}</a></li>
          {% endfor %}
          {% for v in other_videos_with_vimeo %}
              <li class="my-1"><a href="{% url 'video' v.id %}">{{v.title}}</a></li>
          {% endfor %}
          {% if other_videos_with_victim or other_videos_with_vimeo %}
              </ul>
          {% endif %}
          

          
        </div>
    </div>
  </div>
</div>

<script>

var starttime = 0;
var endtime = {{video.clip_set.all.0.start_time_minutes}} * 60 + {{video.clip_set.all.0.start_time_seconds}};
var iframe = document.querySelector('iframe');
var player = new Vimeo.Player(iframe);

player.on('timeupdate', function(data) {
  //console.log(data.seconds ,' ', endtime);
  if (data.seconds > endtime || data.seconds < starttime) {
      let url = "/transcript/{{video.id}}/" + starttime + "/" + endtime + "/" + data.seconds;
      console.log(url);
      $.get( url, function( data ) {
        $("#transcript").html( data.transcript );
        endtime = Number(data.endtime);
        starttime = Number(data.starttime);
      });
  }
});

</script>


{% endblock %}
