{% load staticfiles %}{% load i18n %}{% load profiletags %}<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  <style>@import url( {% static "css/bootstrap.min.css" %} );</style>
  <style>@import url( {% static "css/interviews.css" %}?1.3 );</style>
  <script src='{% static "js/jquery.js" %}'></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
  <link rel="icon" href="{% static "images/favicon.ico" %}" sizes="48x48" />

  <title>{% block title %}{% endblock %} — {% trans "Ensaaf" %}</title>
</head>
<body>
<div id="app-wrapper">

  <nav class="navbar navbar-light fixed-top">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="closer" data-toggle="collapse" data-target="#navbarSupportedContent">Close Nav</div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url "interviews_home" %}" title="{% trans "Crimes Against Humanity in Punjab, India: Enforced Disappearances and Extrajudicial Executions" %}">{% trans "Site Title" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "interviews" %}" title="{% trans "Interviews" %}">{% trans "Interviews" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "search" %}" title="{% trans "Search" %}">{% trans "Search" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "about" %}" title="{% trans "About" %}">{% trans "About" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://donate.ensaaf.org/give/199767/#!/donation/checkout?" title="{% trans "Donate" %}">{% trans "Donate" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://ensaaf.org" title="ensaaf.org">ensaaf.org</a></li>
        <li class="nav-item"><a class="nav-link" href="https://ensaaf.org" title="ensaaf.org">data.ensaaf.org</a></li>

        <li class="nav-item">
        <div class="social-media">
          <a href="https://twitter.com/ensaaf"><img class="twitter" title="Twitter" alt="Twitter" src="/static/images/twitter.svg"></a>
          <a href="https://www.facebook.com/Ensaaf/"><img class="facebook" title="Facebook" alt="Facebook" src="/static/images/facebook.svg"></a>
        </div>
        </li>

      </ul>
    </div>

    <div class="collapse row" id="search-form">
      <div class="col-12">
        <form class="form-inline autocomplete-me" method="get" action="{% lang %}/search/">
          <input class="form-control mr-2 col-9" name="q" id="id_q" type="search" placeholder="{% trans "Search" %}" aria-label="Search">
          <button class="btn col-2 my-2" type="submit" style="width:100px;"><img src="/static/images/search.svg" title="{% trans "Search" %}" alt="Search" style="height:25px;width:25px;" height="25" width="25"></button>
        </form>
        <div class="row">
          <div class="col-12 suggestions"></div>
        </div>
      </div>
    </div>
  
  </nav>


  <div class="container">

{% block content %}
{% endblock %}


  </div><!-- /container -->


</div>
<script src="/static/js/main.js?1"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124579006-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-124579006-1');
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400" media="all">
</body>
</html>