{% extends "../base.html" %}

{% load i18n %}
{% load humanize %}
{% load profiletags %}

{% block title %}{% trans 'Mohd. Izhar Alam and enforced disappearances &amp; extrajudicial executions in Punjab, India' %}{% endblock %}

{% block head %}
  <meta name="description" content="{% trans 'Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews.' %}" />

  <meta itemprop="name" content="{% trans 'Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India' %}" />
  <meta itemprop="description" content="{% trans 'Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews.' %}" />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India' %}" />
  <meta name="twitter:description" content="{% trans 'Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews.' %}" />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="{% trans 'Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="{% trans 'Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews.' %}" />
  <meta property="og:site_name" content="{% trans 'Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />


  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/carto.css" />
  <script type="text/javascript" src="/static/js/carto.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.zoomhome.min.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.minimap.min.js"></script>



  <style>
    #mapid {
      height:500px;
      width: calc(100% - 2rem);
      background-color: #000;
      margin: 0 1rem;
    }
    h1 { margin-bottom: 1rem; }
    #timeline { height: 400px; }
    #timeline circle { fill: #ca0; cursor: pointer; }
    .tick text:hover { fill: #ccc; }
    .brush { display: none; }
    .d3-tip {
      background-color: #fff;
      color: #999;
      font-weight: 400;
      font-family: "Helvetica Neue", Helvetica, Arial;
      font-size: 14px;
      line-height: 1.4;
    }
    .d3-tip:after { color: #fff; }
    .thumb { width:calc(50% - 2px); float:right; border: 1px solid #ddd;}
  </style>
  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
  <script type="text/javascript" src="/static/js/d3-tip.js"></script>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-12">  
        <h1>{% trans 'Mohd. Izhar Alam' %}</h1>
    </div>
  </div>
</div><!-- end container -->

 
<div id="map-over">
  <div class="container">    
    {% if request.LANGUAGE_CODE == 'pb' %}
      <h4>ਘੱਟੋ ਘੱਟ <span id="count"></span> ਜ਼ਬਰਨ ਲਾਪਤਾ/ਗੈਰ ਕਾਨੂੰਨੀ ਹੱਤਿਆਵਾਂ ਦੀ ਗਿਣਤੀ</h4>
    {% else %}
      <h4>At least <span id="count"></span> Enforced Disappearances/Extrajudicial Executions</h4>
    {% endif %}  
  </div>
</div>
<div id="mapid"></div>
<div id="timeline"></div>


<div class="container">

  <div class="row">
      <div class="col-sm-9">
    {% if request.LANGUAGE_CODE == 'pb' %}
        <p>The dossier of Mohammad Izhar Alam visualizes cases of enforced disappearances and extrajudicial executions reportedly committed under his command during his tenure as Senior Superintendent of Police (SSP) or Deputy Inspector General (DIG) in various jurisdictions of Punjab. He not only permitted his subordinates and other security forces to perpetrate violations against residents in his assigned jurisdictions, but he also allowed them to travel extraterritorially to target individuals. Further, during the counterinsurgency, human rights groups regularly reported on the Alam Sena, a paramilitary group organized and run by Alam and notorious for human rights violations.</p>
        <p>The number of cases presented here is an undercounting of the likely cases perpetrated under his command. These cases draw from Ensaaf’s interviews with family members of the victims and other witnesses, and present the information provided by them. This visualization excludes all cases where complete incident dates or locations were not available. Without this information, it is difficult to ascertain whether those incidents occurred under Alam’s command. This data also excludes cases of individuals who were arbitrarily detained or tortured by Alam or officials under his command.</p>
        <p>We will update the cases of enforced disappearances and extrajudicial executions reported under his command, as we receive more information. To a large extent, however, this information and the complete truth rests with the government of India.</p>
    {% else %}    
        <p>The dossier of Mohammad Izhar Alam visualizes cases of enforced disappearances and extrajudicial executions reportedly committed under his command during his tenure as Senior Superintendent of Police (SSP) or Deputy Inspector General (DIG) in various jurisdictions of Punjab. He not only permitted his subordinates and other security forces to perpetrate violations against residents in his assigned jurisdictions, but he also allowed them to travel extraterritorially to target individuals. Further, during the counterinsurgency, human rights groups regularly reported on the Alam Sena, a paramilitary group organized and run by Alam and notorious for human rights violations.</p>
        <p>The number of cases presented here is an undercounting of the likely cases perpetrated under his command. These cases draw from Ensaaf’s interviews with family members of the victims and other witnesses, and present the information provided by them. This visualization excludes all cases where complete incident dates or locations were not available. Without this information, it is difficult to ascertain whether those incidents occurred under Alam’s command. This data also excludes cases of individuals who were arbitrarily detained or tortured by Alam or officials under his command.</p>
        <p>We will update the cases of enforced disappearances and extrajudicial executions reported under his command, as we receive more information. To a large extent, however, this information and the complete truth rests with the government of India.</p>
    {% endif %}
      </div>
      <div class="col-sm-3">
      <!--
        <p><img src="https://data.ensaaf.org/static/files/saini/sumedh-saini.jpg" width="100%" height="auto" vspace="5" style="border:1px solid #ddd;"></p>
      -->
      </div>
  </div>

  <div class="row">
    <div class="col-12">  
        <hr>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">


      <script>
  
          var timeCapsule = [];
          var profiles = [];

          function makeList(data, selector) {
            var html = "<ul>";
            for (var i in data) {

              {% if request.LANGUAGE_CODE == 'pb' %}
                if (data[i].fields['victim_name_pb'] && data[i].fields['victim_name_pb'] != ' ') { data[i].fields['victim_name'] = data[i].fields['victim_name_pb'] }
                data[i].fields['village_name'] = data[i].fields['village_name_pb'];
              {% endif %}

              html += '<li><a href="{% lang %}/profile/' + data[i].pk + '">' + data[i].fields["victim_name"] + "</a></li>";

              var thisTime = {
                v: {
                  id: data[i].fields["village_id"],
                  t: new Date(data[i].fields["timeline"]).valueOf() / 1000,
                  record_id: data[i].pk,
                },
              };
              var thisProfile = {
                id: data[i].pk,
                name: data[i].fields["victim_name"],
                village: data[i].fields["village_name"],
                date: new Date(data[i].fields["timeline"]).valueOf(),
              };

              if (
                profiles.some((obj) => {
                  if ( obj.id == thisProfile.id ) {
                    return 1;
                  } else {
                    return 0;
                  }
                })
              ) {
                //console.log("exists in time capsule ", thisTime);
              } else {
                timeCapsule.push(thisTime);
                profiles.push(thisProfile);
              }
            } // end for i in data
            html += "</ul>";

            $(selector).html(html);
          }
    
      </script>



 
      <h5>{% trans 'Command History' %}</h5>

    {% if request.LANGUAGE_CODE == 'pb' %}
      <p><em><small style="line-height:1.2;">Unless otherwise noted, Mohammad Izhar Alam’s command history draws from the following sources: (1) the annual Civil List of the Indian Police Service (IPS) for the Punjab cadre, prepared by the Ministry of Home Affairs, naming the position and date of posting of the senior police official as of January 1 of that year for 1983 to 1996, (2) news reports from the Punjabi daily newspaper Ajit and the English daily Tribune (Chandigarh), and (3) the individual websites of Punjab’s police districts, listing the names of Senior Superintendents of Police (SSP) and their dates of tenure. This information draws from publicly available records/sources; the complete account of Alam’s official postings and activities lies with the government of India.</small></em></p>
    {% else %}
      <p><em><small style="line-height:1.2;">Unless otherwise noted, Mohammad Izhar Alam’s command history draws from the following sources: (1) the annual Civil List of the Indian Police Service (IPS) for the Punjab cadre, prepared by the Ministry of Home Affairs, naming the position and date of posting of the senior police official as of January 1 of that year for 1983 to 1996, (2) news reports from the Punjabi daily newspaper Ajit and the English daily Tribune (Chandigarh), and (3) the individual websites of Punjab’s police districts, listing the names of Senior Superintendents of Police (SSP) and their dates of tenure. This information draws from publicly available records/sources; the complete account of Alam’s official postings and activities lies with the government of India.</small></em></p>    
    {% endif %}

      <ul>


      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong>SSP Ropar</strong>, October 31, 1983 - November 14, 1985</p>
      {% else %}
        <p><strong>SSP Ropar</strong>, October 31, 1983 - November 14, 1985</p>
      {% endif %}
        <div id="d1"></div>
        <br>
      </li>      
      {% autoescape off %}
      <script>
      makeList( {% dossier_command 'district' 0307 '1983-10-31' '1985-11-14' %}, '#d1');
      </script>
      {% endautoescape %}    
      
      
      
      
      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong>SSP Jalandhar</strong>, November 15, 1985 - June 30, 1986</p>
      {% else %}
        <p><strong>SSP Jalandhar</strong>, November 15, 1985 - June 30, 1986</p>
      {% endif %}
        <div id="d2"></div>
        <br>
      </li>      
      {% autoescape off %}
      <script>
      makeList( {% dossier_command 'district' 0304 '1985-11-15' '1986-06-30' %}, '#d2');
      </script>
      {% endautoescape %}    
      

      
      
      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong>SSP Amritsar</strong>, July 1, 1986 - April 19, 1988<br>(The IPS List from 1987 and the Amritsar police website vary by one week on both the starting and ending dates. The dates provided by the Amritsar police are used here.)</p>
      {% else %}
        <p><strong>SSP Amritsar</strong>, July 1, 1986 - April 19, 1988<br>(The IPS List from 1987 and the Amritsar police website vary by one week on both the starting and ending dates. The dates provided by the Amritsar police are used here.)</p>
      {% endif %}
        <div id="d3"></div>
        <br>
      </li>      
      {% autoescape off %}
      <script>
      makeList( {% dossier_command 'district' '0302' '1986-07-01' '1988-04-19' %}, '#d3');
      </script>
      {% endautoescape %}    
      
      

      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong>Padma Shri awarded by Government of India in August 1987।</strong></p>
      {% else %}
        <p><strong>Padma Shri awarded by Government of India in August 1987</strong></p>
      {% endif %}
      </li>



      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong>SSP Jalandhar</strong>, April 27, 1988 - most likely May 21, 1989</p>
      {% else %}
        <p><strong>SSP Jalandhar</strong>, April 27, 1988 - most likely May 21, 1989</p>
      {% endif %}
        <div id="d4"></div>
        <br>
      </li>      
      {% autoescape off %}
      <script>
      makeList( {% dossier_command 'district' '0304' '1988-04-27' '1989-05-21' %}, '#d4');
      </script>
      {% endautoescape %}    



      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p>Most likely <strong>DIG, Border Range</strong>, May 27, 1989 - November 14,1989<br>(On May 21, 1989, the Tribune reported that Alam took over as DIG Jalandhar Range on May 21, 1989, but then subsequent articles stated he was DIG Border Range as of May 27. See, e.g., <em>May 27, 1989, p. 8, “Areas Changed”.</em> Because this posting falls in the middle of the year, it is not reported in the IPS Civil List. Further, the Punjab Police website does not provide information regarding its historical postings of DIG.)</p>
      {% else %}
        <p>Most likely <strong>DIG, Border Range</strong>, May 27, 1989 - November 14,1989<br>(On May 21, 1989, the Tribune reported that Alam took over as DIG Jalandhar Range on May 21, 1989, but then subsequent articles stated he was DIG Border Range as of May 27. See, e.g., <em>May 27, 1989, p. 8, “Areas Changed”.</em> Because this posting falls in the middle of the year, it is not reported in the IPS Civil List. Further, the Punjab Police website does not provide information regarding its historical postings of DIG.)</p>
      {% endif %}
        <div id="d5"></div>
        <div id="d6"></div>
        <br>
      </li>      
      {% autoescape off %}
      <script>
      makeList( {% dossier_command 'district' '0301' '1989-05-27' '1989-11-14' %}, '#d5');
      makeList( {% dossier_command 'district' '0302' '1989-05-27' '1989-11-14' %}, '#d6');
      </script>
      {% endautoescape %}    


      </ul>


    </div>
    <div class="col-sm-6 border-left">


      <h5>{% trans 'Personal Participation' %}</h5>

      <ul>

      <li class="stats-block">
      {% if request.LANGUAGE_CODE == 'pb' %}
        <p><strong><span id="abduction_count"></span> cases directly implicating Mohd. Izhar Alam in abduction, disappearance, and/or killing</strong></p>
      {% else %}
        <p><strong><span id="abduction_count"></span> cases directly implicating Mohd. Izhar Alam in abduction, disappearance, and/or killing</strong></p>
      {% endif %}
       <div id="d10"></div>
      </li>

      {% autoescape off %}
      <script>

      function numpa(num) {
        var num = num.toString();
        var dic = {'0':'੦','1':'੧','2':'੨','3':'੩','4':'੪','5':'੫','6':'੬','7':'੭','8':'੮','9':'੯'};
        var output = [];
        for (let i = 0; i < num.length; i++) {
          output.push( dic[ num[i] ] );
        }
        return output.join('');
      }
      
      var oversight = {% dossier_abduction 'S0002' %};
      
      makeList( oversight, '#d10');
      {% if request.LANGUAGE_CODE == 'pb' %}
        $('#abduction_count').html( numpa(oversight.length) );
      {% else %}
        $('#abduction_count').html( oversight.length );
      {% endif %}
      </script>
      {% endautoescape %}
      
      </ul>

  
      <hr>


      <h5>{% trans 'Known Promotions' %}</h5>

      {% if request.LANGUAGE_CODE == 'pb' %}
        <p>The government of India consistently promoted Mohd. Izhar Alam throughout his career to the highest ranks of Punjab Police, including Additional Director General of Police (ADGP). It also rewarded Alam in 1987 with the Padma Shri civilian award. He retired from the police service in 2009. Alam died in 2021, escaping accountability for human rights violations committed by him and under his command.</p>
      {% else %}
        <p>The government of India consistently promoted Mohd. Izhar Alam throughout his career to the highest ranks of Punjab Police, including Additional Director General of Police (ADGP). It also rewarded Alam in 1987 with the Padma Shri civilian award. He retired from the police service in 2009. Alam died in 2021, escaping accountability for human rights violations committed by him and under his command.</p>
      {% endif %}


      <ul>
      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <strong>DIG/Punjab Armed Police, Jalandhar Cantt.</strong>, November 15, 1989
      {% else %}
        <strong>DIG/Punjab Armed Police, Jalandhar Cantt.</strong>, November 15, 1989
      {% endif %}
      <br><br></li>

      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <strong>DIG, Central Reserve Police Force (CRPF)</strong>, April 22, 1990 - at least 1994 (reported in IPS Civil Lists)
      {% else %}
        <strong>DIG, Central Reserve Police Force (CRPF)</strong>, April 22, 1990 - at least 1994 (reported in IPS Civil Lists)
      {% endif %}
      <br><br></li>

      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <strong>Inspector General of Police (IG), Commando, BNS Patiala</strong>, December 21, 1995 (according to 1996 IPS List)
      {% else %}
        <strong>Inspector General of Police (IG), Commando, BNS Patiala</strong>, December 21, 1995 (according to 1996 IPS List)
      {% endif %}
      <br><br></li>

      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <strong>IG (Prisons)</strong>, position held as of March 6, 2002, as reported in Times of India
      {% else %}
        <strong>IG (Prisons)</strong>, position held as of March 6, 2002, as reported in Times of India
      {% endif %}
      <br><br></li>

      <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
        <strong>ADGP (Prisons)</strong>, promoted April 26, 2002, according to the Tribune
      {% else %}
        <strong>ADGP (Prisons)</strong>, promoted April 26, 2002, according to the Tribune
      {% endif %}
      </li>
      </ul>


      <hr>



      <h5>{% trans 'Legal Cases / Select News Articles' %}</h5>

      <div class="row mb-4">
          <div class="col-3"></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          Saka Nakodar killings, February 4, 1986: Visit victim profiles of <a href="https://data.ensaaf.org/profile/5511/">Baldhir Singh Multani</a>, <a href="https://data.ensaaf.org/profile/5512/">Jhilman Singh</a>, <a href="https://data.ensaaf.org/profile/5513/">Harminder Singh</a>, and <a href="https://data.ensaaf.org/profile/5510/">Ravinder Singh</a>, for various news articles reporting on Alam’s role and response.
      {% else %}
          Saka Nakodar killings, February 4, 1986: Visit victim profiles of <a href="https://data.ensaaf.org/profile/5511/">Baldhir Singh Multani</a>, <a href="https://data.ensaaf.org/profile/5512/">Jhilman Singh</a>, <a href="https://data.ensaaf.org/profile/5513/">Harminder Singh</a>, and <a href="https://data.ensaaf.org/profile/5510/">Ravinder Singh</a>, for various news articles reporting on Alam’s role and response.
      {% endif %}
          </div>
      </div>

      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/19861230-p1.pdf"><img src="https://data.ensaaf.org/static/files/alam/thumbs/19861230-p1.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Tribune</em>, December 30, 1986, p. 1, <a href="https://data.ensaaf.org/static/files/alam/pdf/19861230-p1.pdf">“Five Intruders Shot Dead.”</a> Alam mentions the arrest of <a href="https://data.ensaaf.org/profile/4203/">Gurdip Singh</a>, who years later was unlawfully killed by police.
      {% else %}
          <em>Tribune</em>, December 30, 1986, p. 1, <a href="https://data.ensaaf.org/static/files/alam/pdf/19861230-p1.pdf">“Five Intruders Shot Dead.”</a> Alam mentions the arrest of <a href="https://data.ensaaf.org/profile/4203/">Gurdip Singh</a>, who years later was unlawfully killed by police.
      {% endif %}
          </div>
      </div>

      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/19870411-p12.pdf"><img src="https://data.ensaaf.org/static/files/alam/thumbs/19870411-p12.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Tribune</em>, April 11, 1987, p. 12, <a href="https://data.ensaaf.org/static/files/alam/pdf/19870411-p12.pdf">“Chowk Mehta Shrine ‘Shelters Killers.’”</a> Newspaper article reports people Alam wants to arrest, including <a href="https://data.ensaaf.org/profile/2417/">Waryam Singh</a>, who was later unlawfully killed in 1990.
      {% else %}
          <em>Tribune</em>, April 11, 1987, p. 12, <a href="https://data.ensaaf.org/static/files/alam/pdf/19870411-p12.pdf">“Chowk Mehta Shrine ‘Shelters Killers.’”</a> Newspaper article reports people Alam wants to arrest, including <a href="https://data.ensaaf.org/profile/2417/">Waryam Singh</a>, who was later unlawfully killed in 1990.
      {% endif %}
          </div>
      </div>

      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/19871216-p1.pdf"><img src="https://data.ensaaf.org/static/files/alam/thumbs/19871216-p1.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Tribune</em>, December 16, 1987, p.1, <a href="https://data.ensaaf.org/static/files/alam/pdf/19871216-p1.pdf">“6 Hardcore Terrorists Shot.”</a> Alam reports the killings of <a href="https://data.ensaaf.org/profile/3375/">Swaranjit Singh</a>, <a href="https://data.ensaaf.org/profile/4863/">Surmukh Singh</a>, and <a href="https://data.ensaaf.org/profile/4296/">Mohinder Singh</a> as genuine killings, but the families reported them as unlawful killings to Ensaaf
      {% else %}
          <em>Tribune</em>, December 16, 1987, p.1, <a href="https://data.ensaaf.org/static/files/alam/pdf/19871216-p1.pdf">“6 Hardcore Terrorists Shot.”</a> Alam reports the killings of <a href="https://data.ensaaf.org/profile/3375/">Swaranjit Singh</a>, <a href="https://data.ensaaf.org/profile/4863/">Surmukh Singh</a>, and <a href="https://data.ensaaf.org/profile/4296/">Mohinder Singh</a> as genuine killings, but the families reported them as unlawful killings to Ensaaf.
      {% endif %}
          </div>
      </div>



      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1988-02-18.jpg"><img src="https://data.ensaaf.org/static/files/alam/thumbs/ajit-1988-02-18-thumb.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Ajit</em>, February 18, 1988, p.3, <a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1988-02-18.jpg">“Balkar Singh from Canada had to endure 14 hours torture from Amritsar Police.”</a> A Supreme Court petition is filed on behalf of a Canadian citizen, charging Alam, among others, of unlawful detention and torture.
      {% else %}
          <em>Ajit</em>, February 18, 1988, p.3, <a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1988-02-18.jpg">“Balkar Singh from Canada had to endure 14 hours torture from Amritsar Police.”</a> A Supreme Court petition is filed on behalf of a Canadian citizen, charging Alam, among others, of unlawful detention and torture.
      {% endif %}
          </div>
      </div>



      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/19890504-p16.pdf"><img src="https://data.ensaaf.org/static/files/alam/thumbs/19890504-p16.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Tribune</em>, May 4, 1989, p. 16, <a href="https://data.ensaaf.org/static/files/alam/pdf/19890504-p16.pdf">“Probe into Canadian torture over.”</a> Alam is one of 5 officials accused of torturing Canadian citizen.
      {% else %}
          <em>Tribune</em>, May 4, 1989, p. 16, <a href="https://data.ensaaf.org/static/files/alam/pdf/19890504-p16.pdf">“Probe into Canadian torture over.”</a> Alam is one of 5 officials accused of torturing Canadian citizen.
      {% endif %}
          </div>
      </div>


      <div class="row mb-4">
          <div class="col-3"><a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1989-12-11.jpg"><img src="https://data.ensaaf.org/static/files/alam/thumbs/ajit-1989-12-11-thumb.jpg" class="thumb"></a></div>
          <div class="col-9">
      {% if request.LANGUAGE_CODE == 'pb' %}
          <em>Ajit</em>, December 11, 1989, p. 1, <a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1989-12-11.jpg">“Demand from UNO to Protect the Human Rights being Crushed in Punjab.”</a>
      {% else %}
          <em>Ajit</em>, December 11, 1989, p. 1, <a href="https://data.ensaaf.org/static/files/alam/pdf/ajit-1989-12-11.jpg">“Demand from UNO to Protect the Human Rights being Crushed in Punjab.”</a>
      {% endif %}
          </div>
      </div>



      <hr>


      <h5>{% trans 'Other Reports' %}</h5>

      <ul>
        <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
          <a href="https://wikileaks.org/plusd/cables/05NEWDELHI9513_a.html">Cable, US Embassy in New Delhi</a>, December 19, 2005, shared on Wikileaks: “During the insurgency, he [Alam] assembled a large, personal paramilitary force of approximately 150 men known as the ‘Black Cats’ or ‘Alam Sena’ (‘Alam’s Army’) that included cashiered police officers and rehabilitated Sikh terrorists. The group had reach throughout the Punjab and is alleged to have had carte blanche in carrying out possibly thousands of staged ‘encounter killings.’”
      {% else %}
          <a href="https://wikileaks.org/plusd/cables/05NEWDELHI9513_a.html">Cable, US Embassy in New Delhi</a>, December 19, 2005, shared on Wikileaks: “During the insurgency, he [Alam] assembled a large, personal paramilitary force of approximately 150 men known as the ‘Black Cats’ or ‘Alam Sena’ (‘Alam’s Army’) that included cashiered police officers and rehabilitated Sikh terrorists. The group had reach throughout the Punjab and is alleged to have had carte blanche in carrying out possibly thousands of staged ‘encounter killings.’”
      {% endif %}
        <br><br></li>

        <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
          <a href="https://wikileaks.org/plusd/cables/06NEWDELHI4667_a.html">Cable, US Embassy in New Delhi</a>, July 3, 2006, shared on Wikileaks, mentioning Alam Sena.
      {% else %}
          <a href="https://wikileaks.org/plusd/cables/06NEWDELHI4667_a.html">Cable, US Embassy in New Delhi</a>, July 3, 2006, shared on Wikileaks, mentioning Alam Sena.
      {% endif %}
        <br><br></li>


        <li>
      {% if request.LANGUAGE_CODE == 'pb' %}
          Tribune, February 28, 1988, p.5, <a href="https://data.ensaaf.org/static/files/alam/pdf/19880228-p5.pdf">“Police, terrorism and justice.”</a>
      {% else %}
          Tribune, February 28, 1988, p.5, <a href="https://data.ensaaf.org/static/files/alam/pdf/19880228-p5.pdf">“Police, terrorism and justice.”</a>
      {% endif %}
        </li>
      </ul>


      <hr>
    
      {% if request.LANGUAGE_CODE == 'pb' %}
        <h5>ਕੇਸਾਂ ਦੇ ਮੁੱਖ ਅੰਕੜੇ ਜੋ {% trans 'Mohd. Izhar Alam' %} ਵੱਲ ਸਿੱਧਾ ਇਸ਼ਾਰਾ ਕਰਦੇ ਹਨ:</h5>
      {% else %}
        <h5>Key Statistics of cases directly implicating Mohd. Izhar Alam:</h5>
      {% endif %}
    
        {% include 'stats.html' %}

    
    </div>

  </div>
</div>




<script type="text/javascript">


function numpa(num) {
  {% if request.LANGUAGE_CODE == 'pb' %}
    var num = num.toString();
    var dic = {'0':'੦','1':'੧','2':'੨','3':'੩','4':'੪','5':'੫','6':'੬','7':'੭','8':'੮','9':'੯'};
    var output = [];
    for (let i = 0; i < num.length; i++) {
      output.push( dic[ num[i] ] );
    }
    return output.join('');
  {% else %}
    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  {% endif %}
}


for (var i=0;i<timeCapsule.length;i++) {
    if ( timeCapsule[i]['v']['id'] ) {
      timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
      var d = new Date(0);
      timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
    }
}  



var timeline_margin = {top: 10, right: 10, bottom: 35, left: 10};

var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
    height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

var start = d3.min(d3.entries(timeCapsule), function(d) { return d.value.date; });
var end = d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

var xScale = d3.scaleTime()
    .domain([start, end])
    .rangeRound([0, width]);

var villages = {};
var villageCentroids = [];
var markers = {};





// init

var previousDistrict = '';



// load basemap
var mymap = new L.Map('mapid', {
  center: [31.0157601,75.45],
  zoom: 8
});
cartodb.createLayer(mymap, 'https://sukhmandhami.carto.com/api/v2/viz/9650d7c6-9865-4151-a4e7-3456ef906d7d/viz.json', {https: true}).addTo(mymap);
var zoomHome = L.Control.zoomHome({ zoomHomeIcon: 'refresh' });
zoomHome.addTo(mymap);

// https://sukhmandhami.carto.com/builder/350efab7-443d-419e-930c-b50ab8e394cd/embed
var osm2 = new L.TileLayer('https://cartocdn-gusc.global.ssl.fastly.net/sukhmandhami/api/v1/map/sukhmandhami@8cf94c4f@7394194616a5b4936fb73a4555534a43:1554421032266/1,2/{z}/{x}/{y}.png');
var pubs2 = new L.TileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png');
var layers = new L.LayerGroup([pubs2, osm2]);
var miniMap = new L.Control.MiniMap(layers, { width: 250, height: 200, zoomLevelFixed: 3, position: 'topright', centerFixed: [21.28,77] }).addTo(mymap);

mymap.setView(new L.LatLng(31.0157601,75.45),8);
mymap.scrollWheelZoom.disable();


// load village centroids

$.getJSON("/static/js/village_loc.json", function(json) {
    villageCentroids = json
    makeTimeline();
});




function makeVillageNames(start, end) {

    villages = {};

    // update size per village
    for (var i=0;i<timeCapsule.length;i++) {
        if ((end >= timeCapsule[i]['date']) && (timeCapsule[i]['date'] >= start) && ( timeCapsule[i]['v']['id'] ))  {
          var id = timeCapsule[i]['v']['id'];
          if (villages[id] && villages[id].count) {
            villages[id].count = villages[id].count + 1;
          } else {
            villages[id] = {};
            villages[id].count = 1;
            villages[id].record_ids = [timeCapsule[i]['v']['record_id']];            
          }
          villages[id].record_ids.push( [timeCapsule[i]['v']['record_id']] );  
        }
    }
    updateMap(start, end);
}



var area = d3.scalePow().exponent(0.5).domain([0, 10]).range([1, 15]);



function updateMap(start, end) {

    // make map
    var points = [];
    var keys = Object.keys(villages);
    for (var i in keys) {
      var thisVillage = _.find(villageCentroids, function(o) {
        return o.CODE.endsWith(keys[i]);
      });
      if (keys[i] && thisVillage) {
        {% if request.LANGUAGE_CODE == 'pb' %}
          thisVillage.NAME = thisVillage.name_pb;
        {% endif %}        
        points.push({'id':keys[i],'coord':thisVillage.coord,'subdist':thisVillage.SUBDIST,'dist':thisVillage.DIST,'size':villages[keys[i]].count,'name':thisVillage.NAME, 'record_ids':villages[keys[i]].record_ids });
      }
    }


    // test Object.keys(markers).length to see less than total? see if need to recreate map or just update

    if (Object.keys(markers).length > 0) {

        var markers_array = [];

        // update markers
        _.forEach(markers, function(value, key) {
          if ( d = _.find(points, { 'id': key }) ) {
          
              markers[key].setStyle({fillOpacity: .5});
              markers[key].setRadius(area(d.size));

              var tultipText = '<div class="name">' + d.name + '</div><div class="position">' + numpa(d.size);
              {% if request.LANGUAGE_CODE == 'pb' %}
                if (d.size == 1) { tultipText += ' ਪੀੜਤ'; } else { tultipText += ' ਪੀੜਤਾਂ'; }
              {% else %}
                tultipText += ' Victim'; if (d.size > 1) { tultipText += 's'; }
              {% endif %}
                tultipText += '</div>';

              markers[key].bindPopup(tultipText, {offset:[0,-5]});
              markers[key].on('mouseover', function (e) { this.openPopup(); });
              markers[key].on('mouseout', function (e) { this.closePopup(); });
              markers[key].on('click', function (e) {
                document.location.href = this.options.url;
              });

              markers_array.push( markers[key] );
          }
        });

          mymap.setView([31.0157601,75.45], 8);            
    
    } else {
        
        // add points to map
        _.forEach(points, function(d) {
          if (d.id !== '0') {
            var customCircleMarker = L.CircleMarker.extend({
               options: { 
                  url: '{% lang %}/village/' + d.id + '/?ids=' + d.record_ids.join(',')
               }
            });
            markers[String(d.id)] = new customCircleMarker([d.coord[1] + .015,d.coord[0] - .025], {
                stroke: false,
                fillColor: '#fc0',
                fillOpacity: 0.5,
                url: '{% lang %}/village/' + d.id + '/?ids=' + d.record_ids.join(',')
            }).addTo(mymap);
          }
        }); // end for points

    } // end if markers

}




d3.select(window).on('resize', function() {
  makeTimeline();
});

var maxHeight = 0;




function makeTimeline() {

  d3.select("#timeline").html("")
 
  var timeline_margin = {top: 10, right: 25, bottom: 35, left: 25};

  var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
      height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

  var start = new Date('January 1, 1987');
  var end = new Date('December 31, 1996');

  var x = d3.scaleTime()
      .domain([start, end])
      .rangeRound([0, width]);

  //console.log(f);





  var y = d3.scaleLinear()
      .range([height, 0]);

  var histogram = d3.histogram()
      .value(function(d) { return d.date; })
      .domain(x.domain())
      .thresholds(x.ticks(d3.timeMonth));

  var svg = d3.select("#timeline").append("svg")
      .attr("width", width + timeline_margin.left + timeline_margin.right)
      .attr("height", height + timeline_margin.top + timeline_margin.bottom)
    .append("g")
      .attr("transform", 
            "translate(" + timeline_margin.left + "," + timeline_margin.top + ")");


  // Create Tooltips
  var tip = d3.tip().attr('class', 'd3-tip').direction('n').offset([-10,0])
    .html(function(d) {
      var content = d.name + '<br>' + d.village;
      return content;
    });

  svg.call(tip);


  $('#count').html( numpa(profiles.length) );


  var bins = histogram(profiles).filter(d => d.length>0);

  if (maxHeight == 0) {
    maxHeight = d3.max(bins, function(d) { return d.length; });
  }
  
  y.domain([-3, maxHeight ]);




    //g container for each bin
    let binContainer = svg.selectAll(".gBin")
      .data(bins);

    binContainer.exit().remove()

    let binContainerEnter = binContainer.enter()
      .append("g")
        .attr("class", "gBin")
        .attr("transform", d => `translate(${x(d.x0)}, ${height})`)

  //need to populate the bin containers with data the first time
  binContainerEnter.selectAll("circle")
      .data(d => d.map((p, i) => {
        return {idx: i,
                profile: p.id,
                name: p.name,
                village: p.village,
                radius: (x(d.x1)-x(d.x0))/2
              }
      }))
    .enter()
    .append("circle")
        .attr("class", "enter")
        .attr("cx", 0) //g element already at correct x pos
        .attr("cy", function(d) {
            return - d.idx * 2 * d.radius - d.radius; })
        .attr("r", 0)
        .on("click", function(d) {window.location = "{% lang %}/profile/" + d.profile})
        .on("mouseover", function(d) { tip.show(d); })
        .on("mouseout", function(d) { tip.hide(d); })
        .transition()
          .duration(500)
          .attr("r", function(d) {
          return (d.length==0) ? 0 : d.radius; })

    binContainerEnter.merge(binContainer)
        .attr("transform", d => `translate(${x(d.x0)}, ${height})`)

    //enter/update/exit for circles, inside each container
    let dots = binContainer.selectAll("circle")
        .data(d => d.map((p, i) => {
          return {idx: i,
                  profile: p.id,
                  name: p.name,
                  village: p.village,
                  radius: (x(d.x1)-x(d.x0))/2
                }
        }))

    //EXIT old elements not present in data
    dots.exit()
        .attr("class", "exit")
      .transition(1000)
        .attr("r", 0)
        .remove();

    //UPDATE old elements present in new data.
    dots.attr("class", "update");

    //ENTER new elements present in new data.
    dots.enter()
      .append("circle")
        .attr("class", "enter")
        .attr("cx", 0) //g element already at correct x pos
        .attr("cy", function(d) {
          return - d.idx * 2 * d.radius - d.radius; })
        .attr("r", 0)
      .merge(dots)
        .on("click", function(d) {window.location = "{% lang %}/profile/" + d.profile})
        .on("mouseover", function(d) { tip.show(d); })
        .on("mouseout", function(d) { tip.hide(d); })
        .transition()
          .duration(500)
          .attr("r", function(d) {
          return (d.length==0) ? 0 : d.radius; })
          

  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .attr('class','axis')
      .call( d3.axisBottom(x).tickFormat(
        function(d) {
          var formatDate = d3.timeFormat("%Y");
          var year = formatDate(Date.parse(d));
          {% if request.LANGUAGE_CODE == 'pb' %}
          return numpa(year);
          {% else %}
          return year;
          {% endif %}
        })
      );




  var brush = d3.brushX().on("start brush end", brushed);

  // brush
  var gBrush = svg.append("g")
      .attr("class", "brush")
      .call(brush);

  gBrush.call(brush.move, x.range());

  // https://bl.ocks.org/mbostock/4349545
  
  function brushed() {
    var s = x.range();    
    makeVillageNames( x.invert(s[0]), x.invert(s[1]) );
  }

} // end makeTimeline

</script>


{% endblock %}
