/* @override http://localhost:8000/static/css/base.css */

@font-face {
  font-family: "Fira Sans Bold";
  src: url("/static/fonts/Fira/firasans-bold-webfont.eot");
  src: url("/static/fonts/Fira/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Fira/firasans-bold-webfont.woff2") format("woff2"), url("/static/fonts/Fira/firasans-bold-webfont.woff") format("woff"), url("/static/fonts/Fira/firasans-bold-webfont.ttf") format("truetype"), url("/static/fonts/Fira/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("/static/fonts/Fira/firasans-regular-webfont.eot");
  src: url("/static/fonts/Fira/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Fira/firasans-regular-webfont.woff2") format("woff2"), url("/static/fonts/Fira/firasans-regular-webfont.woff") format("woff"), url("/static/fonts/Fira/firasans-regular-webfont.ttf") format("truetype"), url("/static/fonts/Fira/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f4e9;
  font-family: 'Fira Sans', sans-serif;    
  line-height: 1.4;
}
strong { font-family: "Fira Sans Bold"; font-weight: normal; }
.container { background-color: #ffffff; }
.navbar {
  background-color: #cc9;
  margin-bottom: 2rem; 
}
h1 { font-family: 'Alfa Slab One', sans; }
img { width: 100%; height: auto; }
.documents img { vertical-align: top; max-width: 200px; }
.vwrap { color: #900; }
td { border-top: 1px solid #eee; padding-bottom: .75em; }
tr { vertical-align: top; }
.kicker {
  font-size: .9em;
  color: #909090;
  margin-bottom: 0em;
  font-weight: normal;
}
@media only screen and (min-width: 640px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid .col-sm-6 {
    margin-bottom: .75em;    
  }
  .grid .col-sm-3 {
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    margin-top: 1em;
  }
}

.footnotes {
  margin-top: 1em;
  margin-bottom: 3em;
  padding-top: 1em;
  font-size: 80%;
  color: #777;
}


.home-box {
	position: relative;	
	overflow: hidden;	
	height: 300px;
	color: #fff;
	text-shadow: 0px 0px 10px #666;
	margin-bottom: 30px;
	background-color: #732;
	background-position: center;
	background-size: cover;
}
.home-box a {
  font-family: 'Alfa Slab One', sans;
  font-weight: normal;
	color: #fff;
}
.home-box .names {
	position: absolute;
	z-index: 1;
	padding: 10px;
	bottom: 0;
}
.home-box .names p {
  margin-bottom: 0;
  font-size: 75%;
}




.percent {
	font-weight: bold;
	margin: 0 .25em;
}
.number-of-cases {
  color: #999;
  font-size: 90%;
}
.percent-bar {
	height: 6px;
	background-color: #fa0;
	margin: 3px 0 1px 0;
}
.bar-2 {
	margin: 1px 0 3px 0;
	background-color: #d30;
}
.stats-block .toggle {
  display: none;
}