body {
  background-color: #333;
  font-family: "Inconsolata", monospace;
  line-height: 1.4;
  color: #808080;
}

strong {
  font-family: "Inconsolata", monospace;
  font-weight: 800;
}

a {
  color: #008eaf;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.dotted:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/static/images/dot_pattern.png");
  background-size: 4px 4px;
  background-repeat: repeat;
  z-index: 1;
}

#background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.navbar {
  background-color: #fff;
  margin-bottom: 2rem;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-item .social-media {
  margin: 10px 0 10px 7px;
}

.share img,
.nav-item .social-media img {
  height: 25px;
  width: 25px;
}

.navbar-light button,
.navbar-light .navbar-nav .nav-link {
  color: #fc0;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-brand {
  background: url(/static/images/ensaaf-logo.png);
  background-repeat: no-repeat;
  background-size: 70px 26px;
  width: 70px;
  height: 26px;
  text-indent: -99999px;
  flex: 0 0 70px;
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  left: 10px;
  border: #fc0 solid 2px !important;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  padding: 7px;
}

.navbar-toggler::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.3);
  width: 65px;
  height: 65px;
  top: -15px;
  left: -15px;
  position: absolute;
  z-index: -1;
}

.navbar-toggler::before {
  content: " ";
  top: 50px;
  left: -15px;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 32.5px solid transparent;
  border-right: 32.5px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 22 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 204, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M0 3h22M0 13h22M0 23h22'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
}

.navbar-collapse {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  border: 1px solid #000;
  box-shadow: 3px 3px 10px #000;
}

.navbar-collapse .closer {
  text-indent: -999px;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 36px;
  width: 15px;
  height: 15px;
  line-height: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='rgba(200, 200, 200, 1)' stroke-width='3' x1='0' y1='0.1' x2='39.9' y2='40'/%3E%3Cline stroke='rgba(200, 200, 200, 1)' stroke-width='3' x1='0' y1='40' x2='39.9' y2='0.1'/%3E%3C/svg%3E");
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  nav {
    flex-wrap: wrap !important;
  }

  nav.navbar-expand-lg .nav-item:first-of-type .nav-link {
    padding-left: 2px;
    border-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-collapse {
    margin-top: 10px;
    border: 1px solid #ddd;
  }

  .nav-item .nav-link {
    border-left: 0;
    border-bottom: 1px solid #ddd;
  }

  .navbar-brand {
    background-size: 50px 18px;
    width: 50px;
    height: 18px;
    flex: 0 0 50px;
    margin-right: 0.75rem;
  }

  #site-title {
    padding-top: 0;
    font-size: 0.9rem;
  }
}

.navbar-collapse {
  z-index: 10;
}
.navbar-collapse .nav-item:first-of-type .nav-link,
.navbar-collapse .nav-item .nav-link {
  padding: 0.1rem 0.75rem;
}

.navbar-collapse .nav-item hr {
  border-color: #883;
  margin: 12px;
}

#language {
  border: 1px solid #fc0;
  font-weight: bold;
}

#search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #000;
  background-color: #000;
  padding: 10px 0;
  z-index: 1;
}

#search-form .form-control {
  background: inherit;
  border: none;
  color: #fc0;
}

#search-form .input-group {
  border: 1px solid #fc0;
  border-radius: 4px;
  margin-left: 20px;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fc0;
  font-weight: 600;
}
.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white h6 {
  color: #000;
}

h5 {
  margin-top: 1em;
}

@media only screen and (max-width: 616px) {
  h1 {
    margin-left: 3rem;
  }
}

.smallparen {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: #808080;
}

.keyword h2 {
  margin-bottom: 0;
}
.m-2-top {
  margin-top: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}

.documents img {
  vertical-align: top;
  max-width: 200px;
}

.vwrap {
  color: #900;
}

td {
  border-top: 1px solid #eee;
  padding-bottom: 0.75em;
}

tr {
  vertical-align: top;
}

.kicker {
  font-size: 0.9em;
  color: #909090;
  margin-bottom: 0em;
  font-weight: normal;
}

.dots {
  border-bottom: 1px dotted #ccc;
}
.gray {
  color: #bbb;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
  box-shadow: 3px 3px 10px #000;
}

.bg-black hr {
  border-color: #666;
}

/* hide default selectbox style */
.filter select:-ms-expand {
  display: none;
}

.filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fc0;
  padding: 0;
  color: #fc0;
  background: inherit !important;
}

.filter.selected select {
  color: #999;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.filter::after {
  content: "❯";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 18px;
  position: absolute;
  top: 5px;
  color: #fc0;
  pointer-events: none;
}

.filter.selected::after {
  color: #b9b9b9;
}
.form-group.filter select.form-control {
  height: 1.75rem;
}
#clear-filters {
  display: none;
}

#mapid {
  height: 650px;
  background-color: #000;
}

#map-over {
  padding: 1rem 0 0.5rem 0;
  margin: 0 1rem;
  background-color: #000;
}

#map-over h4 {
  color: #b28f00;
  font-weight: normal;
}

#count {
  font-weight: bold;
  color: #fc0;
}

.cartodb-logo {
  display: none !important;
}
.leaflet-container {
  background-color: #000;
}
.leaflet-control-attribution,
.leaflet-control-zoom {
  display: none;
}
.leaflet-zoom-animated g,
.leaflet-clickable {
  cursor: pointer;
}
.leaflet-popup-content-wrapper {
  border-radius: 2px;
}
.leaflet-control-zoomhome a {
  font: bold 18px "Lucida Console", Monaco, monospace;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
  line-height: 26px;
}

@media only screen and (max-width: 768px) {
  .leaflet-right {
    display: none;
  }
}

.leaflet-control-minimap {
  border: 1px #999 solid;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  background-color: #000 !important;
  transition: all 0.6s;
}

.leaflet-control-minimap a {
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  z-index: 99999;
  transition: all 0.6s;
}

.leaflet-control-minimap a.minimized-bottomright {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 0;
}

.leaflet-control-minimap a.minimized-topleft {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border-radius: 0;
}

.leaflet-control-minimap a.minimized-bottomleft {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  border-radius: 0;
}

.leaflet-control-minimap a.minimized-topright {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 0;
}

.leaflet-control-minimap-toggle-display {
  background-image: url(images/toggle.svg);
  background-size: cover;
  position: absolute;
  border-radius: 3px 0 0;
}

.leaflet-oldie .leaflet-control-minimap-toggle-display {
  background-image: url(images/toggle.png);
}

.leaflet-control-minimap-toggle-display-bottomright {
  bottom: 0;
  right: 0;
}

.leaflet-control-minimap-toggle-display-topleft {
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.leaflet-control-minimap-toggle-display-bottomleft {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.leaflet-control-minimap-toggle-display-topright {
  top: 0;
  right: 0;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.leaflet-oldie .leaflet-control-minimap {
  border: 1px solid #999;
}
.leaflet-oldie .leaflet-control-minimap a {
  background-color: #fff;
}
.leaflet-oldie .leaflet-control-minimap a.minimized {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#year_buttons {
  text-align: center;
  background-color: #000;
}

#year_buttons button {
  font-size: 1.5rem;
  margin: 2px;
}

#timeline {
  height: 200px;
  margin: 0 1rem 2rem 1rem;
  background-color: #000;
}

.bar {
  fill: #333;
}
.axis line,
.axis path {
  stroke: #666;
}

.tick {
  fill: #999;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
}

.tick text {
  font-size: 16px;
  fill: #ccc;
  cursor: pointer;
}

.tick text:hover {
  fill: #079;
}

circle.handle--custom {
  fill: #ccc;
  cursor: ew-resize;
  pointer-events: none;
}

.handle {
  width: 10px;
}

rect.active {
  fill: #fc0;
  fill-opacity: 0.77;
}

.brush .selection {
  fill: none;
  stroke: none;
}

@media only screen and (min-width: 640px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid .col-sm-6 {
    margin-bottom: 0.5rem;
  }

  .grid .col-sm-3 {
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1 / 4) - 10px - 1px);
    margin-top: 1em;
  }
}

.footnotes {
  margin-top: 1em;
  margin-bottom: 3em;
  padding-top: 1em;
  font-size: 80%;
  color: #777;
}

.home-box {
  overflow: hidden;
  height: 200px;
  color: #fff;
  text-shadow: 0 0px 10px #666;
  margin-bottom: 1rem;
  background-color: #732;
  background-position: top;
  background-size: cover;
  cursor: pointer;
}

.names a {
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  color: #000;
}

.year {
  background-color: #eee;
  padding: 1rem;
  cursor: default;
}

.year h3 {
  color: #987;
  text-shadow: none;
}

.percent {
  color: #963;
  margin-right: 0.25em;
}

.number-of-cases {
  color: #963;
  font-size: 90%;
  margin-left: 0.25em;
}

.percent-bar {
  height: 12px;
  background-color: #fda;
  margin: 3px 0 1px 0;
}

.bar-2 {
  margin: 1px 0 3px 0;
  background-color: #9cf;
}

.stats-block .toggle {
  display: none;
}

.arrow:after {
  content: "❯";
  font-size: 0.9rem;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
}

[define] {
  position: relative;
  background-image: linear-gradient(to right, #09c 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

[define]:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 100;
}

[define]:hover::after {
  content: attr(define);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 12px;
  min-width: 100px;
  border-radius: 5px;
  padding: 4px;
  pointer-events: none;
}

blockquote {
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: italic;
}

blockquote em {
  font-style: normal;
}

article h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article li {
  margin-bottom: 1rem;
}
article ul.toc li {
  margin-bottom: 0;
}
.share p {
  padding-top: 2rem;
}

/* responsive video container */
iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin: 3rem 0;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* footer! */
footer {
  border-top: 1px solid #ccc;
  margin-top: 3rem;
}

footer .row {
  margin: 0;
}
footer,
footer h3,
footer h4,
footer h5 {
  font: 14px/1.7 "Open Sans", Arial, Helvetica, sans-serif;
}
footer h3,
footer h4,
footer h5 {
  color: #000;
}
img.footer_logo {
  margin-bottom: 1rem;
}
.footer_charity-name {
  margin-bottom: 0.5rem;
}
.footer_info {
  margin: 0;
}
.footer_top {
  padding: 2rem 1rem 1rem 1rem;
}
.footer_bottom {
  padding: 1rem 1rem 0 1rem;
}
.footer_info,
.footer_bottom {
  font-size: 0.75rem;
}

/* d3 tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* themes */

.slate {
  margin-top: 2rem;
}

.inner-slate {
  cursor: pointer;
  background-color: #000;
  padding: 0.25rem 1rem;
  box-shadow: 2px 2px 10px #00000099;
  transition: 0.25s box-shadow;
  background-position: center;
  background-size: cover;
}

.inner-slate h4 {
  z-index: 1;
  position: relative;
}
.inner-slate:hover {
  box-shadow: 2px 2px 10px #000000;
}

.inner-slate:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.inner-slate:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 0;
  right: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  height: 45%;
  z-index: 0;
}
