{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h2>Search</h2>
    
    <p>Search by victim name or victim residence</p>
    
    <form method="get" class="form-inline my-2 my-lg" action=".">
      <input type="search" class="form-control mr-sm-2" name="q" value="{{query}}" id="id_q">
      <input type="submit" class="btn my-2 my-sm-0" value="Search">
    </form>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">

  {% if query %}

      <h3>Results</h3>

      <p>{{ page.paginator.count|intcomma }} results, page {{ page.number }} of {{ page.paginator.num_pages }}</p>

      <ul>
      {% for o in page.object_list %}   
          <li><a href="/profile/{{ o.record_id }}">{{o.victim_name}}</a>,           
              {% if o.village_id|add:"0" > 0 and village.tehsil%}
                <span define="Village/town/city"><a href="{% url 'village' victim.village_id %}">{{o.village_name}},</a></span>
                <span define="Subdistrict"><a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}},</a></span>
                <span define="District"><a href="/district/{{village.district_id}}">{{village.district}}</a></span></p>
              {% else %}
                {{o.village_name}}
              {% endif %}
          </li>

      {% empty %}
          <p>No results found.</p>
      {% endfor %}
      </ul>

      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
              |
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}

  </div>
</div>

{% endblock %}