{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}
{% load profiletags %}

{% block title %}Search{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <script type="text/javascript" src="/static/js/leaflet.js"></script>
  <style>
    .leaflet-interactive { cursor: pointer; }
    .leaflet-popup-content-wrapper { border-radius: 2px; }
    #list-view, #gallery-view, .leaflet-control-attribution { display: none; }    
    #suggestions div { display: inline; }
  </style>
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-12">
    <h2>{% trans 'Search' %}</h2>
    
    <p>{% trans 'Search by victim name or victim residence' %}</p>
    
    <form method="get" class="form-inline my-2 my-lg autocomplete-me2" action=".">
          <input type="search" class="form-control mr-sm-2" name="q" value="{{query}}" id="id_qq">
          <input type="submit" class="btn my-2 my-sm-0" value="Search">
    </form>
    <div class="row">
      <div class="col-12 suggestions"></div>
    </div>

  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">

  {% if query %}

      <h3>{% trans 'Results' %}</h3>

      <p>{{ page.paginator.count|numpa }} {% trans 'results, page' %} {{ page.number }} {% trans 'of' %} {{ page.paginator.num_pages }}  
      &nbsp;&nbsp;  <a href="#" id="list-view-toggle">{% trans 'Switch to list view' %}</a><a href="#" style="display:none;" id="gallery-view-toggle">{% trans 'Switch to gallery view' %}</a></p>




      <div class="row" id="list-view">
          <div class="col-12">
            <ul>
      {% for victim in page.object_list %}   
          {% if victim.record_id %}
          
                <li><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a>, 
                {% if o.village_id|add:"0" > 0 and village.tehsil%}
                  <span define="Village/town/city"><a href="{% url 'village' victim.village_id %}">{{o.village_name}},</a></span>
                  <span define="{% trans 'Subdistrict' %}"><a href="{% url 'tehsil' village.tehsil_id %}">{% trans village.tehsil %},</a></span>
                  <span define="{% trans 'District' %}"><a href="{% url 'district' village.district_id %}">{% trans village.district %}</a></span>,
                {% else %}
                  {{victim.village_name}},
                {% endif %}
                {% if victim.victim_disappeared_killed == 2 %}
                  {% trans 'extrajudicial execution' %},
                {% endif %}
                {% if victim.victim_disappeared_killed == 1 %}
                  {% trans 'disappeared'},
                {% endif %}
                {% hdateslash victim.timeline_start victim.timeline_end %}
                  </li>
    
              {% else %}

                <li><span define="Village/town/city"><a href="{% url 'village' victim.vid %}">{{victim.village_name}},</a></span>
                <span define="{% trans 'Subdistrict' %}"><a href="{% url 'tehsil' victim.tehsil_id %}">{% trans victim.tehsil %},</a></span>
                <span define="{% trans 'District' %}"><a href="{% url 'district' victim.district_id %}">{% trans victim.district %}</a></span></li>

              {% endif %}

      {% empty %}   
          <li>{% trans 'No results found.' %}</li>
      {% endfor %}
          </ul>
        </div>
      </div>

    
      <script>
        var allMaps = [];
      </script>
      

      <div class="row" id="gallery-view">
      {% for victim in page.object_list %}   
          {% if victim.record_id %}
          
          <div class="col-6 col-sm-4 col-md-3 victim">

            <div class="home-box" style="background-image:url('{% if victim.photo_vic_fn %}{% hphoto victim.photo_vic_fn %}{% else %}{% if victim.victim_sex == 2 %}/static/images/woman.jpg{% else %}/static/images/gray.jpg{% endif %}{% endif %}')" onclick="window.location.href='/profile/{{victim.record_id}}';" id="p{{victim.record_id}}">     
            </div>

              <div class="names">
                <h5 style="margin: 0;"><a href="{% url 'profile' victim.record_id %}">{{victim.victim_name}}</a></h5>

                {% if o.village_id|add:"0" > 0 and village.tehsil%}
                  <span define="Village/town/city"><a href="{% url 'village' victim.village_id %}">{{o.village_name}},</a></span>
                  <span define="{% trans 'Subdistrict' %}"><a href="{% url 'tehsil' village.tehsil_id %}">{% trans village.tehsil %},</a></span>
                  <span define="{% trans 'District' %}"><a href="{% url 'district' village.district_id %}">{% trans village.district %}</a></span>,
                {% else %}
                  {{victim.village_name}}<br>
                {% endif %}
                {% if victim.victim_disappeared_killed == 2 %}
                  {% trans 'Extrajudicial execution' %},
                {% endif %}
                {% if victim.victim_disappeared_killed == 1 %}
                  {% trans 'Disappeared' %},
                {% endif %}
                {% hdateslash victim.timeline_start victim.timeline_end %}
                <p><br></p>
              </div>

          </div>

              {% else %}

          <div class="col-6 col-sm-4 col-md-3 victim">
            <div class="home-box map" style="background-color:#000;" id="map{{victim.vid}}">
            </div>
              <div class="names">
                <h6 style="margin: 0;"><span define="Village/town/city"><a href="{% url 'village' victim.vid %}">{{victim.village_name}},</a></span>
                <span define="Subdistrict"><a href="{% url 'tehsil' victim.tehsil_id %}">{% trans victim.tehsil %},</a></span>
                <span define="District"><a href="{% url 'district' victim.district_id %}">{% trans victim.district %}</a></span></h6>
                <p><br></p>
              </div>
          </div>

          <script>
          var mymap{{victim.vid}} = L.map('map{{victim.vid}}', { minZoom: 4, maxZoom: 12, zoomControl: false }).setView([{{victim.lat}},{{victim.lon}}], 12);
          L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}{r}.png', { subdomains: 'abcd', attribution: '', }).addTo(mymap{{victim.vid}});
          var circle{{victim.vid}} = L.circle([{{victim.lat}},{{victim.lon}}], {
                stroke: false,
                fillColor: '#fc0',
                fillOpacity: 0.5,
                radius: 400,
                url: '{% url 'village' victim.vid %}',
          }).addTo(mymap{{victim.vid}});
          circle{{victim.vid}}.on('click', function (e) { document.location.href = this.options.url; });
          mymap{{victim.vid}}.scrollWheelZoom.disable();
          allMaps.push(mymap{{victim.vid}});
          </script>

              {% endif %}

      {% empty %}   
        <div class="col-12">
          <p>{% trans 'No results found.' %}</p>
        </div>
      {% endfor %}
      </div>

      <p><br></p>
    
      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="btn btn-light">&laquo; {% trans 'Previous' %}</a>{% endif %}
              
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="btn btn-light">{% endif %}{% trans 'Next' %} &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}

  </div>
</div>
<script>

  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') { c = c.substring(1); }
          if (c.indexOf(name) == 0) { return c.substring(name.length, c.length); }
      }
      return "";
  }
  window.onload = function(e){ 
    var view = getCookie('view');
    if (view) {
      $('#'+view+'-view-toggle').trigger('click');
    } else {
      $('#gallery-view-toggle').trigger('click');    
    }
  }

  $('#list-view-toggle').on('click', function(e) {
    $(this).hide();
    $('#list-view').show();
    $('#gallery-view').hide();
    $('#gallery-view-toggle').show();
    setCookie("view", 'list', 7);
    return false;
  });
  $('#gallery-view-toggle').on('click', function(e) {
    $(this).hide();
    $('#gallery-view').css('display', 'flex');
    $('#list-view').hide();
    $('#list-view-toggle').show();
    setCookie("view", 'gallery', 7);
    allMaps.forEach(function(e) {
      e.invalidateSize();
    });
    return false;
  });



$( document ).ready(function() {

  window.autocomplete2 = new Autocomplete({ form_selector: '.autocomplete-me2' });
  window.autocomplete2.setup();

});  
  
</script>



{% endblock %}