{% extends 'base.html' %}

{% load humanize %}
{% load profiletags %}

{% block title %}Search{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <script type="text/javascript" src="/static/js/leaflet.js"></script>
  <style>
    .leaflet-interactive { cursor: pointer; }
    .leaflet-popup-content-wrapper { border-radius: 2px; }
    #list-view, #gallery-view, .leaflet-control-attribution { display: none; }    
    #suggestions div { display: inline; }
  </style>
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-12">
    <h2>Search</h2>
    
    <p>Search by victim name or victim residence</p>
    
    <form method="get" class="form-inline my-2 my-lg autocomplete-me" action=".">
          <input type="search" class="form-control mr-sm-2" name="q" value="{{query}}" id="id_q">
          <input type="submit" class="btn my-2 my-sm-0" value="Search">
    </form>
    <div class="row">
      <div id="suggestions" class="col-12"></div>
    </div>

  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-12">

  {% if query %}

      <h3>Results</h3>

      <p>{{ page.paginator.count|intcomma }} results, page {{ page.number }} of {{ page.paginator.num_pages }}  
      &nbsp;&nbsp;  <a href="#" id="list-view-toggle">Switch to list view</a><a href="#" style="display:none;" id="gallery-view-toggle">Switch to gallery view</a></p>




      <div class="row" id="list-view">
          <div class="col-12">
            <ul>
      {% for victim in page.object_list %}   
          {% if victim.record_id %}
          
                <li><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a>, 
                {% if o.village_id|add:"0" > 0 and village.tehsil%}
                  <span define="Village/town/city"><a href="{% url 'village' victim.village_id %}">{{o.village_name}},</a></span>
                  <span define="Subdistrict"><a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}},</a></span>
                  <span define="District"><a href="/district/{{village.district_id}}">{{village.district}}</a></span>,
                {% else %}
                  {{victim.village_name}},
                {% endif %}
                {% if victim.victim_disappeared_killed == 2 %}
                  extrajudicial execution,
                {% endif %}
                {% if victim.victim_disappeared_killed == 1 %}
                  disappeared,
                {% endif %}
                {% hdateslash victim.timeline_start victim.timeline_end %}
                  </li>
    
              {% else %}

                <li><span define="Village/town/city"><a href="{% url 'village' victim.vid %}">{{victim.village_name}},</a></span>
                <span define="Subdistrict"><a href="/tehsil/{{victim.tehsil_id}}">{{victim.tehsil}},</a></span>
                <span define="District"><a href="/district/{{victim.district_id}}">{{victim.district}}</a></span></li>

              {% endif %}

      {% empty %}   
          <li>No results found.</li>
      {% endfor %}
          </ul>
        </div>
      </div>

    
      <script>
        var allMaps = [];
      </script>
      

      <div class="row" id="gallery-view">
      {% for victim in page.object_list %}   
          {% if victim.record_id %}
          
          <div class="col-6 col-sm-4 col-md-3 victim">

            <div class="home-box" style="background-image:url('{% if victim.photo_vic_fn %}{% hphoto victim.photo_vic_fn %}{% else %}{% if victim.victim_sex == 2 %}/static/images/woman.jpg{% else %}/static/images/gray.jpg{% endif %}{% endif %}')" onclick="window.location.href='/profile/{{victim.record_id}}';" id="p{{victim.record_id}}">     
            </div>

              <div class="names">
                <h5 style="margin: 0;"><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></h5>

                {% if o.village_id|add:"0" > 0 and village.tehsil%}
                  <span define="Village/town/city"><a href="{% url 'village' victim.village_id %}">{{o.village_name}},</a></span>
                  <span define="Subdistrict"><a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}},</a></span>
                  <span define="District"><a href="/district/{{village.district_id}}">{{village.district}}</a></span><br>
                {% else %}
                  {{victim.village_name}}<br>
                {% endif %}
                {% if victim.victim_disappeared_killed == 2 %}
                  Extrajudicial execution,
                {% endif %}
                {% if victim.victim_disappeared_killed == 1 %}
                  Disappeared,
                {% endif %}
                {% hdateslash victim.timeline_start victim.timeline_end %}
                <p><br></p>
              </div>

          </div>

              {% else %}

          <div class="col-6 col-sm-4 col-md-3 victim">
            <div class="home-box map" style="background-color:#000;" id="map{{victim.vid}}">
            </div>
              <div class="names">
                <h6 style="margin: 0;"><span define="Village/town/city"><a href="{% url 'village' victim.vid %}">{{victim.village_name}},</a></span>
                <span define="Subdistrict"><a href="/tehsil/{{victim.tehsil_id}}">{{victim.tehsil}},</a></span>
                <span define="District"><a href="/district/{{victim.district_id}}">{{victim.district}}</a></span></h6>
                <p><br></p>
              </div>
          </div>

          <script>
          var mymap{{victim.vid}} = L.map('map{{victim.vid}}', { minZoom: 4, maxZoom: 12, zoomControl: false }).setView([{{victim.lat}},{{victim.lon}}], 12);
          L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}{r}.png', { subdomains: 'abcd', attribution: '', }).addTo(mymap{{victim.vid}});
          var circle{{victim.vid}} = L.circle([{{victim.lat}},{{victim.lon}}], {
                stroke: false,
                fillColor: '#fc0',
                fillOpacity: 0.5,
                radius: 400,
                url: '{% url 'village' victim.vid %}',
          }).addTo(mymap{{victim.vid}});
          circle{{victim.vid}}.on('click', function (e) { document.location.href = this.options.url; });
          mymap{{victim.vid}}.scrollWheelZoom.disable();
          allMaps.push(mymap{{victim.vid}});
          </script>

              {% endif %}

      {% empty %}   
        <div class="col-12">
          <p>No results found.</p>
        </div>
      {% endfor %}
      </div>

      <p><br></p>
    
      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="btn btn-light">&laquo; Previous</a>{% endif %}
              
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="btn btn-light">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}

  </div>
</div>
<script>

  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') { c = c.substring(1); }
          if (c.indexOf(name) == 0) { return c.substring(name.length, c.length); }
      }
      return "";
  }
  window.onload = function(e){ 
    var view = getCookie('view');
    if (view) {
      $('#'+view+'-view-toggle').trigger('click');
    } else {
      $('#gallery-view-toggle').trigger('click');    
    }
  }

  $('#list-view-toggle').on('click', function(e) {
    $(this).hide();
    $('#list-view').show();
    $('#gallery-view').hide();
    $('#gallery-view-toggle').show();
    setCookie("view", 'list', 7);
    return false;
  });
  $('#gallery-view-toggle').on('click', function(e) {
    $(this).hide();
    $('#gallery-view').css('display', 'flex');
    $('#list-view').hide();
    $('#list-view-toggle').show();
    setCookie("view", 'gallery', 7);
    allMaps.forEach(function(e) {
      e.invalidateSize();
    });
    return false;
  });

  
  
</script>



  <script type="text/javascript">

    function onlyUnique(value, index, self) { 
        return self.indexOf(value) === index;
    }

    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '/search/spelling/'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 2)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this

      this.form_elem = $(this.form_selector)
      this.query_box = this.form_elem.find('input[name=q]')

      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()
        if(query.length < self.minimum_length) { return false }
        self.fetch(query)
      })      
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this
      $.ajax({ url: this.url, data: { 'q': query },
        success: function(data) {
          data = data.results;
          if (typeof data.spellcheck.suggestions[query] !== "undefined") {
              var results = data.spellcheck.suggestions[query];
          }
          self.show_results( results )
        }
      })
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()

      if (data == undefined) {
        $('#suggestions').html('');        
      } else if (typeof data.suggestion == "undefined") {
        $('#suggestions').html('');        
      } else {
            
        var results = data.suggestion || []
        var results_wrapper = $('<div class="ac-results"></div>')
        var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

        if(results.length > 0) {
          for(var res_offset in results) {
            var elem = base_elem.clone();
            // Don't use .html(...) here, as you open yourself to XSS.
            // Really, you should use some form of templating.
            elem.find('.ac-result').text(results[res_offset].word);
            elem.find('.ac-result').attr('href', '/search/?q=' + results[res_offset].word);
            if (res_offset < results.length - 1) {
              elem.append(', ');
            }
            results_wrapper.append(elem);
          }
          $('#suggestions').html('Suggested spelling: ').append(results_wrapper);
        } else {
          var elem = base_elem.clone()
          elem.text("")
          results_wrapper.append(elem)
          $('#suggestions').html('');
        }

      }
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me'
      })
      window.autocomplete.setup();
      $('#id_q').keyup();
    })
  </script>



{% endblock %}