{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <style>@import url( {% static "css/bootstrap.min.css" %} );</style>
    <style>@import url( {% static "css/base.css" %} );</style>
    <script src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %} — Ensaaf</title>
</head>
<body>
<div id="app-wrapper">




<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/" title="Ensaaf">Ensaaf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/" title="Home">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/" title="About">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/" title="Profiles">Profiles</a></li>
    </ul>

    <form class="form-inline my-2 my-lg-0" method="get" action="/search/">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

        




  <div class="container">

{% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | safe }} <span  class='message_close'><a href="#">x︎</a></span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


{% block content %}
{% endblock %}





  </div><!-- /container -->

  <footer id="footer">
    <div class="container"></div>
  </footer>

</div>
</body>
</html>