{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Changes over Time{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
  <style>
    .axis line, .axis path { stroke: #aaa; }
    .tick { font-family: 'Fira Sans', sans-serif; }
    #chart { width: 100%; height: 500px; }
    .line {
      fill: none;
      stroke-width: 1.5px;
    }
    .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
    }
  </style>
{% endblock %}


{% block content %}

<h1>Changes over Time</h1>

<ul>
<li><a href="#" id="disposal">How did the disposal of bodies change?</a></li>
<li><a href="#" id="witnesses">How did the presence of witnesses at abduction change?</a></li>
<li><a href="#" id="prior_detentions">How did the prior persecution of victims change?</a></li>
<li><a href="#" id="militant">How did the militant vs. non-militant background of victims change?</a></li>
<li><a href="#" id="militant_reason">Why did the victim join the militancy?</a></li>
</ul>

<hr>

<div id="chart"></div>





<script>


/*

d3.select(window).on('resize', resize);

function resize() {
  var width = $('#chart').width() - timeline_margin.left - timeline_margin.right,
      height = $('#chart').height() - timeline_margin.top - timeline_margin.bottom;
  d3.select("#chart svg").attr("width",width);
  d3.selectAll("path").attr('d', path);
}
*/




function makeChart(data, values, field) {

  //console.log(data);

  $('#chart').html('');


  d3.select("#chart").append("svg").attr('width', $('#chart').width() ).attr('height',$('#chart').height());

  var svg = d3.select("svg"),
      margin = {top: 20, right: 20, bottom: 110, left: 40},
      margin2 = {top: 430, right: 20, bottom: 30, left: 40},
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom,
      height2 = +svg.attr("height") - margin2.top - margin2.bottom;


  var color = d3.scaleOrdinal(d3.schemeCategory10);

  var x = d3.scaleTime().range([0, width]),
      x2 = d3.scaleTime().range([0, width]),
      y = d3.scaleLinear().range([height, 0]),
      y2 = d3.scaleLinear().range([height2, 0]);



  data.forEach( function(d) {
    if (d.timeline) {
      var p = d.timeline.split('-');
      var date = new Date(p[0], p[1] - 1, p[2]);
      if ( (p[0] > 1979) && (p[0] < 2020) ) {
        d.date = date;
      }
    }
  });

  var start = d3.min(d3.entries(data), function(d) { return d.value.date; } );
  var end = d3.max(d3.entries(data), function(d) { return d.value.date; } );

  x.domain([start, end]);
  x2.domain([start, end]);


  var histogram = d3.histogram()
      .value(function(d) { return d.date; })
      .domain(x.domain())
      .thresholds(x.ticks(d3.timeMonth));


  // get max height for all values
  var max = null;
  values.forEach( function(v) {
    var thisData = [];
    data.forEach( function(d) {
      if (d[field] == v.datum) {
        thisData.push(d);
      }
    });
    var bins = histogram(thisData);
    var thisMax = d3.max(bins, function(d) { return d.length; });
    if (thisMax > max) { max = thisMax };
  });
  y.domain([0, max]);
  y2.domain(y.domain());


  var xAxis = d3.axisBottom(x),
      xAxis2 = d3.axisBottom(x2),
      yAxis = d3.axisLeft(y);

  var brush = d3.brushX()
      .extent([[0, 0], [width, height2]])
      .on("brush end", brushed);

  var zoom = d3.zoom()
      .scaleExtent([1, Infinity])
      .translateExtent([[0, 0], [width, height]])
      .extent([[0, 0], [width, height]])
      .on("zoom", zoomed);

  var clip = svg.append("defs").append("svg:clipPath")
      .attr("id", "clip")
      .append("svg:rect")
      .attr("width", width)
      .attr("height", height)
      .attr("x", 0)
      .attr("y", 0); 

  var Line_chart = svg.append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .attr("clip-path", "url(#clip)");

  var focus = svg.append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," +  margin.top  + ")");

  var context = svg.append("g")
      .attr("class", "context")
      .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

  var line = d3.line()
      .x(function(d) { return x(d.x0); })
      .y(function(d) { return y(d.length); });

  var line2 = d3.line()
      .x(function (d) { return x2(d.x0); })
      .y(function (d) { return y2(d.length); });


    focus.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    focus.append("g")
        .attr("class", "axis axis--y")
        .call(yAxis);
  
  
  
/*
  var svg = d3.select("#chart").append("svg")
      .attr("width", width + timeline_margin.left + timeline_margin.right)
      .attr("height", height + timeline_margin.top + timeline_margin.bottom)
    .append("g")
      .attr("transform", 
            "translate(" + timeline_margin.left + "," + timeline_margin.top + ")");
*/


  values.forEach( function(v, i) {

      var thisData = [];
      
      data.forEach( function(d) {
        if (d[field] == v.datum) {
          thisData.push(d);
        }
      });

      bins = histogram(thisData);

      // define the line

      Line_chart.append("path")
          .datum(bins)
          .attr("class", "line")
          .attr("stroke", color(i) )
          .attr("stroke-width", "1.5px" )
          .attr("fill", "none" )
          .attr("d", line);

      context.append("path")
          .datum(bins)
          .attr("stroke", color(i) )
          .attr("stroke-width", "1.5px" )
          .attr("fill", "none" )
          .attr("d", line2);

      // Add the valueline path.
      /*
      svg.append("path")
          .data([bins])
          .attr("class", "line")
          .attr("stroke", color(i) )
          .attr("d", valueline);
      */

      d3.select("#chart").append("div").html('<span style="color:'+color(i)+'">•</span> ' + v.label);


  });


    context.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height2 + ")")
        .call(xAxis2);

    context.append("g")
        .attr("class", "brush")
        .call(brush)
        .call(brush.move, x.range());

    svg.append("rect")
        .attr("class", "zoom")
        .attr("width", width)
        .attr("height", height)
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .call(zoom);

  function brushed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
    var s = d3.event.selection || x2.range();
    x.domain(s.map(x2.invert, x2));
    Line_chart.selectAll(".line").attr("d", line);
    focus.select(".axis--x").call(xAxis);
    svg.select(".zoom").call(zoom.transform, d3.zoomIdentity
        .scale(width / (s[1] - s[0]))
        .translate(-s[0], 0));
  }

  function zoomed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return; // ignore zoom-by-brush
    var t = d3.event.transform;
    x.domain(t.rescaleX(x2).domain());
    Line_chart.selectAll(".line").attr("d", line);
    focus.select(".axis--x").call(xAxis);
    context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
  }



}







function getAjax(e, url, callback) {
    e.preventDefault();
    $('#chart').html('Loading');
    $.ajax({
      method: 'get',
      url: url,
    }).done(function(results) {
      callback(results)
    });  

}



// How did the disposal of bodies change?
$('#disposal').click(function(e) {

  /*
  1	Cremated the body
  2	Dumped body in canal/river
  3	Dumped body in well/drain
  4	Buried the body
  5	Don't Know
  6	Other (specify details in Free Text)
  */

  var values = [
    {"datum":1,"label":"Cremated the body"},
    {"datum":2,"label":"Dumped body in canal/river"},
    {"datum":3,"label":"Dumped body in well/drain"},
    {"datum":4,"label":"Buried the body"},
  ];
  var field = 'soBodyDisposal';

  getAjax( e,       '/graphql?query=%7B%0A%20%20data%20%7B%0A%20%20%20%20soBodyDisposal%0A%20%20%20%20timeline%0A%20%20%7D%0A%7D%0A',
    function(results) {  
      makeChart(results.data.data, values, field);
    }
  );
    
});


// Why did the victim join the militancy?
$('#militant_reason').click(function(e) {
    /*
1	victim_militant_reason___1	1984 Indian Army attack on the Harmandir Sahib
2	victim_militant_reason___2	Persecution (i.e. arbitrary arrest, torture, self-defense)
3	victim_militant_reason___3	Persecution of a family member or a friend
4	victim_militant_reason___4	General persecution of Sikhs
5	victim_militant_reason___5	Supported the goals of the militancy movement
6	victim_militant_reason___6	Was forced to join
  */
    
  var values = [
    {"datum":1,"label":"1984 Indian Army attack on the Harmandir Sahib"},
    {"datum":2,"label":"Persecution (i.e. arbitrary arrest, torture, self-defense)"},
    {"datum":3,"label":"Persecution of a family member or a friend"},
    {"datum":4,"label":"General persecution of Sikhs"},
    {"datum":5,"label":"Supported the goals of the militancy movement"},
    {"datum":6,"label":"Was forced to join"},
  ];
  var field = 'militant_reason';

  getAjax( e,             '/graphql?operationName=null&query=%7B%0A%20%20data%20%7B%0A%20%20%20%20victimMilitantReason1%0A%20%20%20%20victimMilitantReason2%0A%20%20%20%20victimMilitantReason3%0A%20%20%20%20victimMilitantReason4%0A%20%20%20%20victimMilitantReason5%0A%20%20%20%20victimMilitantReason6%0A%20%20%20%20timeline%0A%20%20%7D%0A%7D%0A',
    function(results) {  

      var data = [];
      results.data.data.forEach( function(d) {
        for (var j = 0; j <= 10; j++) {
          var whichWitness = 'victimMilitantReason'+j;
          if (d[whichWitness] == 1) {
            data.push({'militant_reason': j, "timeline": d.timeline});
          }
        }
      });
      makeChart(data, values, field);
    }
  );


});


// How did the presence of witnesses at abduction change?
$('#witnesses').click(function(e) {

    /*
      0	witness_arrest___0	No witness
      1	witness_arrest___1	Spouse
      2	witness_arrest___2	Parents
      3	witness_arrest___3	Children
      4	witness_arrest___4	Sibling
      5	witness_arrest___5	Grandparent
      6	witness_arrest___6	Cousin
      7	witness_arrest___7	Aunt/uncle
      8	witness_arrest___8	Friend
      9	witness_arrest___9	Co-villager
      10	witness_arrest___10	Respondent
      11	witness_arrest___11	Other
      12	witness_arrest___12	Don't Know
    */
    
  var values = [
    {"datum":0,"label":"No witness"},
    {"datum":1,"label":"Spouse"},
    {"datum":2,"label":"Parents"},
    {"datum":3,"label":"Children"},
    {"datum":4,"label":"Sibling"},
    {"datum":5,"label":"Grandparent"},
    {"datum":6,"label":"Cousin"},
    {"datum":7,"label":"Aunt/uncle"},
    {"datum":8,"label":"Friend"},
    {"datum":9,"label":"Co-villager"},
    {"datum":10,"label":"Respondent"}
  ];
  var field = 'witness_arrest';

  getAjax( e,             '/graphql?query=%7B%0A%20%20data%20%7B%0A%20%20%20%20witnessArrest0%0A%20%20%20%20witnessArrest1%0A%20%20%20%20witnessArrest2%0A%20%20%20%20witnessArrest3%0A%20%20%20%20witnessArrest4%0A%20%20%20%20witnessArrest5%0A%20%20%20%20witnessArrest6%0A%20%20%20%20witnessArrest7%0A%20%20%20%20witnessArrest8%0A%20%20%20%20witnessArrest9%0A%20%20%20%20witnessArrest10%0A%20%20%20%20timeline%0A%20%20%7D%0A%7D%0A',
    function(results) {  

      var data = [];
      results.data.data.forEach( function(d) {
        for (var j = 0; j <= 10; j++) {
          var whichWitness = 'witnessArrest'+j;
          if (d[whichWitness] == 1) {
            data.push({'witness_arrest': j, "timeline": d.timeline});
          }
        }
      });
      makeChart(data, values, field);
    }
  );


});





// How did the prior persecution of victims change?
$('#prior_detentions').click(function(e) {

  var values = [
    {"datum":1,"label":"Victim had prior detention"},
    {"datum":0,"label":"Victim did not have prior detention"},
  ];
  var field = 'victimPriorDetentionSt';

  getAjax( e,       '/graphql?query=%7B%0A%20%20data%20%7B%0A%20%20%20%20victimPriorDetentionSt%0A%20%20%20%20timeline%0A%20%20%7D%0A%7D%0A',
    function(results) {  
      makeChart(results.data.data, values, field);
    }
  );

});



// How did the militant vs. non-militant background of victims change?
$('#militant').click(function(e) {


    /*
1	Yes
0	No
9	Don't Know
    */

  var values = [
    {"datum":1,"label":"Victim had militant background"},
    {"datum":0,"label":"Victim did not have militant background"},
  ];
  var field = 'victimMilitantStatus';

    getAjax( e,       '/graphql?query=%7B%0A%20%20data%20%7B%0A%20%20%20%20victimMilitantStatus%0A%20%20%20%20timeline%0A%20%20%7D%0A%7D%0A',
    function(results) {  
      makeChart(results.data.data, values, field);
    }
  );

});

</script>


{% endblock %}
