{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Victims cremated in {% if request.LANGUAGE_CODE == 'pb' %}{{name_pb}}{% else %}{{name}}{% endif %}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{% if request.LANGUAGE_CODE == 'pb' %}{{name_pb}}{% else %}{{name}}{% endif %}</h1>
  </div>
</div>

{% if victims.all|length > 0 %}


<div class="row keyword">
  <div class="col-sm-6">
      
  <p class="m-2">{{stats.total|numpa}} documented case{{stats.total|pluralize}} of victims cremated in {% if request.LANGUAGE_CODE == 'pb' %}{{name_pb}}{% else %}{{name}}{% endif %}:</p>

  {% regroup victims.all by district as district_list %}

  {% for district in district_list %}
    {% if forloop.first %}
      <ul>{% endif %}
        <li><a href="#{{district.grouper|default_if_none:"Location Withheld"|slugify}}">{{ district.grouper|default_if_none:"Location Withheld"  }}</a></li>
    {% if forloop.last %}</ul>{% endif %}        
  {% endfor %}
  

  {% for district in district_list %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
          <hr>
        <h2><a name="{{district.grouper|default_if_none:"Location Withheld"|slugify}}"></a>{{ district.grouper|default_if_none:"Location Withheld"  }} {% if district.grouper != None %}District{% endif %}</h2>
      </div>
    </div>
    
  {% regroup district.list by tehsil as tehsil_list %}

  {% for tehsil in tehsil_list %}

    {%if tehsil.grouper %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
        <h5>{{ tehsil.grouper|default_if_none:""  }} {% trans 'Subdistrict' %}</h5>
      </div>
    </div>
    {% endif %}

    {% for victim in tehsil.list %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
  
      <strong><a href="/profile/{{victim.record_id}}">{% if request.LANGUAGE_CODE == 'pb' and victim.victim_name_pb %}{{victim.victim_name_pb}}{% else %}{{victim.victim_name}}{% endif %}</a></strong>

      {% if victim.victim_sex %}{% sex victim.victim_sex %}{% endif %}{% if victim.victim_age %}{% if victim.victim_age != "Don't know" %}{% if victim.victim_sex %},{% endif %}        {% if victim.victim_disappeared_killed  %}{% if victim.victim_disappeared_killed == 1 %}{% blocktrans with thisage=victim.victim_age|default:"unknown"|numpa %}age {{thisage}} at time of disappearance{% endblocktrans %}{% endif %}{% if victim.victim_disappeared_killed == 2 %}{% blocktrans with thisage=victim.victim_age|default:"unknown"|numpa %}age {{thisage}} at time of extrajudicial execution{% endblocktrans %}{% endif %}{% endif %}{% endif %}{% endif %}
      {% if victim.village_name_checked %}, <a href="{% url 'village' victim.village_id %}">{{victim.village_name}}</a>{% else %}{% if victim.village_name %}, {{victim.village_name|lowercaselocationwithheld}} {% endif %}{% endif %}

      </div>
    </div>
    
    {% endfor %}
  
  {% endfor %}

  {% endfor %}

  
  </div>
  
  
  <div class="col-sm-6 border-left">
    
    <p class="m-2-top">Key statistics of cremated in {% if request.LANGUAGE_CODE == 'pb' %}{{name_pb}}{% else %}{{name}}{% endif %}:</p>

    {% include 'stats.html' %}

  </div>      
</div>      
  


  
  {% else %}

  <div class="row">
    <div class="col-sm-12 col-md m-2">   
      <p>No documented cases implicating the {% if request.LANGUAGE_CODE == 'pb' %}{{name_pb}}{% else %}{{name}}{% endif %}.</p>
    </div>
  </div>

  {% endif %}
  


<div class="row">
  <div class="col-12">
    <div class="border-top footnotes">
      <p> {% trans 'Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.' %} </p>
    </div>
  </div>
</div>

{% endblock %}
