{% extends "base.html" %}
{% load i18n %}
{% load profiletags %}

{% block title %}Profile of Manohar Singh — Ensaaf{% endblock %}

{% block head %}
<style>
iframe {
  width: 100%;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin: 3rem 0;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
</style>
{% endblock %}

    
{% block content %}

  <div class="row">
 
     
       <div class="col-sm-8">
    

      <h1 style="margin-bottom:1rem;">{% trans 'Manohar Singh' %}</h1>

      <p>{% trans 'Extrajudicial Execution on April 17, <a href="/year/1993">1993</a>' %}</p>

      <p>{% trans 'Male' %}, {% trans 'age' %} {{ '26' | numpa }}</p>     
                    
                
      <p><br></p>  
    
      <h4>{% trans 'Demographics' %}</h4>
        
          <div class="row">  
            <div class="col-sm-2">
              <p class="kicker dots">{% trans 'Residence' %}</p>
            </div>
            <div class="col-sm-10">
              
                <p><span define="Village/town/city"><a href="{% url 'village' '00100800' %}">{% trans 'Kahnuwan' %},</a></span>
                <span define="Subdistrict"><a href="{% url 'tehsil' '03010003' %}">{% trans 'Gurdaspur' %},</a></span>
                <span define="District"><a href="{% url 'district' '0301' %}">{% trans 'Gurdaspur' %}</a></span></p>
              
            </div>
          </div>
          
      

      

      
      
      <div class="row">  
        <div class="col-sm-2">
          <p class="kicker dots">{% trans 'Education' %}</p>
        </div>
        <div class="col-sm-10">
          <p>{% trans 'High school' %}</p>
        </div>
      </div>
      
      
      

      

      
      <div class="row">  
      <div class="col-sm-2">
        <p class="kicker dots">{% trans 'Married' %}</p>
      </div>
      <div class="col-sm-10">
        <p>{% trans 'No' %}</p>
      </div>
      </div>
    
      
    
            
      <div class="row">  
      <div class="col-sm-2">
        <p class="kicker dots">{% trans 'Employment' %}</p>
      </div>
      <div class="col-sm-10">
        <p>{% trans 'Rice mill' %}</p>
      </div>
      </div>
    
      
    
      
    
    
    
      
      
      <div class="row">  
      <div class="col-sm-2">
        <p class="kicker dots">{% trans 'Religion' %}</p>
      </div>
      <div class="col-sm-10">
        <p>{% trans 'Sikh' %}, <span define="An initiated Sikh, belonging to the Khalsa">{% trans 'Amritdhari' %}</span></p>
      </div>
      </div>
      
      

      

      
      
      

      

    </div>
    
      <div class="col-sm-4 photos" >
        <br>
        <img src="https://data.ensaaf.org/static/photos/GDP/GDP3/GDP3-74b.jpg" alt="photo" onerror="this.src='/static/images/error.jpg';">
      </div>
    
  </div>

  <p><br></p>

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Abduction, Detention, &amp; Torture' %}</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Prior detentions' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %}, {{'6'|numpa}}-{{'7'|numpa}}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Prior torture' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %}</p>
    </div>

    
    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Perceived reason for targeting victim' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Victim was a militant' %}</p>
    </div>
    

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Abduction preceding extrajudicial execution' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %},  {% trans 'between March 29, <a href="/year/1993">1993</a> and April 1, <a href="/year/1993">1993</a>' %}</p>
    </div>
    

      <div class="col-sm-6">
        <p class="kicker dots">{% trans 'Place of abduction' %}</p>
      </div>
      <div class="col-sm-6">
        <p>{% trans 'Friend/relative’s residence, in Kolkata, West Bengal' %}</p>
      </div>
    
    
    

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Witness(es) to abduction' %}</p>
    </div>
    <div class="col-sm-6">      
        <p>{% trans 'Parents; Sibling; Cousin; Aunt/uncle' %}</p>
    </div>


    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Security officials informed witnesses about destination' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Security officials uniformed' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Demands by security forces' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Money' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Victim presented before judge/magistrate' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>
   
   

  </div>

   <!-- was here -->

  <p><br></p>

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Detention Locations' %}</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Location' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Police station' %}, <a href="{% url 'locality' '40106000' %}">{% trans 'Dinanagar' %}</a>, {% trans '15+ days, witnessed by relative' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Witness report' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Victim reported torture, including insertion of hot peppers in wounds in thighs, and could not stand' %}</p>
    </div>
        

	 

  </div>

   <!-- was here -->

  <p><br></p>

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Extrajudicial Execution on April 17, <a href="/year/1993">1993</a>' %}</h4>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <p><br></p>
      <h4>{% trans 'Body Disposal' %}</h5>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Body returned' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Body disposal by security forces' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Cremated the body' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Cremation location' %}</p>    
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Municipal cremation ground' %}, {% trans 'Gurdaspur' %}</p>
    </div>

  </div>

<!-- #equal victim.victim_disappeared_killed 2 -->

  <p><br></p>
  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Security Forces Implicated' %}</h4>
    </div>
  </div>  

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Forces involved in abduction' %}</p>
    </div>
    <div class="col-sm-6">
    
      <p>      
      <a href="{% url 'locality' '40106000' %}">{% trans 'Dinanagar' %}</a>,       
      <a href="{% url 'securityforce' 'police' %}">{% trans 'Punjab Police' %}</a></p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Officials involved in abduction' %}</p>
    </div>
    <div class="col-sm-6">

      <p>{% trans 'Jaswinder Singh' %}<!-- rank -->, 
{% trans 'Station House Officer' %}<!-- affiliaton -->, 
{% trans 'Punjab Police' %}<!-- arrest_so_affiliation_oth -->, <a href="{% url 'locality' '40106000' %}">{% trans 'Dinanagar' %}</a></p>

      <p>{% trans 'Jarnail Singh' %}<!-- rank -->, 
{% trans 'Sub Inspector' %}<!-- affiliaton -->, 
{% trans 'Punjab Police' %}<!-- arrest_so_affiliation_oth -->, <a href="{% url 'locality' '40106000' %}">{% trans 'Dinanagar' %}</a></p>

    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Forces involved in extrajudicial execution' %}</p>
    </div>
    <div class="col-sm-6">
          
      <p>
      <a href="{% url 'locality' '40107000' %}">{% trans 'Gurdaspur' %}</a>, <a href="{% url 'securityforce' 'police' %}">{% trans 'Punjab Police' %}</a></p>

    </div>

 <!-- was here -->

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Officials involved in extrajudicial execution' %}</p>
    </div>
    <div class="col-sm-6">
      <p>Prem Kumar, {% trans 'Station House Officer' %}, {% trans 'Punjab Police' %}, <a href="{% url 'locality' '40107000' %}">{% trans 'Gurdaspur' %}</a></p>
    </div>

</div>

  <p><br></p>

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Militancy Involvement' %}</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Militant alias' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Haneri' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Combatant' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %}</p>
    </div>

    
    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Reason(s) for joining militancy' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans '1984 Indian Army attack on the Harmandir Sahib' %}; {% trans 'Persecution (i.e. arbitrary arrest, torture, self-defense)' %}</p>
    </div>
    

  </div>

  <p><br></p>  

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Remedies & Impact' %}</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Security officials approached' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Legal remedies pursued' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No, Afraid of retaliation, Believed it would have been ineffective' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Impact on family' %}</p>      
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Family member(s) dropped out of school, Family abandoned home, Family member(s) died due to depression/shock, Family became impoverished' %}</p>
    </div>

    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Remedies desired from government' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Memorial for victims' %}</p>
    </div>

  </div>

  <p><br></p>  

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Connected Victims' %}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Genuine encounters in family' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Co-victims of abduction' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'No' %}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p class="kicker dots">{% trans 'Co-victims of extrajudicial execution' %}</p>
    </div>
    <div class="col-sm-6">
      <p>{% trans 'Yes' %}, {{'2'|numpa}}; <a href="{% url 'profile' '2271' %}">{% trans 'Baldev Singh' %}</a>, <a href="{% url 'locality' '00057000' %}">{% trans 'Dorangla' %}</a></p>
    </div>
  </div>

  <p><br></p>  

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Family Reflections' %}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Sibling, in detention with him at Dinanagar police station: When I would ask him, he would say, “I have been beaten very badly and they are going to kill me. They want to kill you as well, so they are planning to kill you. However, I am begging them to kill me but not to kill you as you are a child.”</p>
    </div>
  </div>

<div class="row">
  <div class="col-12">

    <hr>

    <div class="aspect-ratio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2_AK3mtyJco?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    
    <hr>

    <h4>{% trans 'Summary' %}</h4>

    <p>Manohar Singh, also known as Haneri, was a Saini, Amritdhari Sikh, and a resident of village Kahnuwan. He was 26 years old at the time of his killing. Manohar Singh had graduated from 10th grade, and worked at a family-owned rice mill. Narinder Singh describes his brother as a “very good natured” individual whom people “still remember.”</p>

    <p>Security officials detained and tortured Manohar Singh six to seven times prior to the detention leading to his killing. The local Station House Officer (SHO) targeted Manohar Singh’s family because his dad had protested illegal police abductions in his village. Manohar Singh’s brother, Narinder Singh, recounts: “[SHO] Bisambar [Das] was angry with my father over this. He held a grudge, and two to three months later, Bisambar Das abducted my brother Manohar Singh...They beat him very badly.” Narinder Singh added that after multiple illegal detentions and experiences of torture, “[f]ed up with the police’s beatings, Manohar Singh joined the militancy.” Manohar Singh voluntarily joined the Babbar Khalsa militant group as a response to his personal persecution and Operation Bluestar--the Indian Army attack on the Harmandir Sahib Complex in June 1984. Narinder Singh believes security forces subsequently targeted his brother because he was a militant.</p>

    <p>Prior to the detention leading to Manohar Singh’s killing, the family faced harassment of security officials visiting their home, abducting and detaining family members, threatening them with harm, demanding money or valuables, confiscating or destroying property, and torturing them. Narinder Singh explains, “When Manohar Singh was away from home, police severely beat me, my older brother, and my father. They held my father in police stations for one year. They came to our home and insulted our mother. This continued for a long time. I had to drop my studies.” </p>

    <p>Between April 1, 1993 and April 3, 1993, four to five Punjab Police officials, in civilian clothes, from Dinanagar police station arrested Manohar Singh from his uncle’s house outside of Punjab. They had abducted Narinder Singh, detained and tortured him for 8 to 10 days, and then brought him with them to his uncle’s house. His uncle lived in Kolkata, West Bengal, near Andal town in Paschim Bardhaman district. Sub-Inspector (SI) Jarnail Singh and SHO Jaswinder Singh, all affiliated with the Punjab Police from Dinanagar police station, led the abduction. Manohar Singh’s parents, sibling, cousin, and uncle witnessed the abduction, and the security officials informed the witnesses that they were taking Manohar Singh to Dinanagar police station. </p>

    <p>Punjab Police officials detained Manohar Singh and his brother at a police station in Delhi, and then Dinanagar police station for more than 15 days. Narinder Singh recounts, “[Manohar Singh] told me, ‘They cut my legs apart. [They] cut open my legs with a cutter, and put hot peppers in [the wounds]. They humiliated [me] a lot.’” Punjab Police officials demanded money in exchange for Manohar Singh’s release.</p>

    <p>On April 17, 1993, at 1 o'clock in the morning, Punjab Police officials from Gurdaspur police station killed Manohar Singh in the village fields in Dorangla town in Gurdaspur district. Punjab Police also killed two other individuals alongside Manohar Singh. One of the co-victims is identified as Baldev Singh, a resident of Dorangla town in Gurdaspur district. Narinder Singh was awake when the police took Manohar Singh and Baldev Singh out of their cells. SHO Prem Kumar of the Punjab Police from Gurdaspur police station participated in the killing. The family does not know of any witnesses to the killing. </p>

    <p>Manohar Singh’s family learned of his killing from an article published in a newspaper between April 18, 1993 and April 19, 1993. The newspaper article alleged that police killed Manohar Singh in a genuine encounter. </p>

    <p>Punjab Police officials did not return Manohar Singh’s body to his family. The family learned that the security officials cremated his body at a municipal cremation ground in Gurdaspur city and collected his ashes from there. The family does not know the date of cremation, or any other details about Manohar Singh’s cremation. </p>

    <p>Following Manohar Singh’s killing, the family did not approach security officials, or a court or commission, due to fear of retaliation and because they believed it would have been ineffective. As a result of of Manohar Singh’s killing, someone in the family died due to depression or shock; they faced a significant loss of income and became impoverished; someone dropped out of school; and the family abandoned their home. The family also faced subsequent harassment of security officials visiting their home, insulting them, threatening them with harm, and confiscating or destroying their property. Today, the family believes the government should provide a memorial for victims.</p>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="footnotes">
    
        <hr>

      <p>{% trans 'Note: Subdistrict and district boundaries are based on the 2001 census. Read more about <a href="/about">our methodology</a>.' %}</p>
    </div>
  </div>
</div>

{% endblock %}
