{% extends "base.html" %}

{% load humanize %}

{% block title %}{{villages.all.0.district}}{% endblock %}

{% block content %}



<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{{villages.all.0.district}}</h1>
  </div>
</div>



<div class="row">
  <div class="col-sm-12 col-md m-2">
    
    <p>List of Tehsils:</p>


    {% for village in villages.all %}

<div class="row">
  <div class="col-sm-12 col-md m-2">
    
  <a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}}</a>
  
  </div>
</div>
      
    {% endfor %}

<br>
  </div>
  <div class="col-sm-6 col-md m-2">
    <h4>Documented Cases in {{villages.all.0.district}}</h4>
    <p>{{stats.total_killed|intcomma}} killed<br>{{stats.total_disappeared|intcomma}} disappearances</p>
    <p>{{stats.male|intcomma}} male vicitms<br>{{stats.female|intcomma}} female vicitms</p>
    <p>{{stats.not_married|intcomma}} not married<br>{{stats.married|intcomma}} married</p>
    <p>{{stats.genuine_encounter|intcomma}} genuine encounters in family<br>{{stats.not_genuine_encounter|intcomma}} no genuine encounters in family</p>
    <p>{{stats.amritdhari|intcomma}} Amritdhari<br>{{stats.kesdhari|intcomma}} Kesdhari</p>
    <p>{{stats.militant|intcomma}} militant<br>{{stats.not_militant|intcomma}} not militant</p>
    <p>{{stats.militant_support|intcomma}} provided militant support<br>{{stats.no_militant_support|intcomma}} did not provide militant support</p>
    <p>{{stats.prior_detentions|intcomma}} had prior detentions<br>{{stats.no_prior_detentions|intcomma}} had no prior detentions</p>
    <p>{{stats.security_officials_apprchd|intcomma}} families approached security officials<br>{{stats.no_security_officials_apprchd|intcomma}} families did not approach security officials</p>
    <p>{{stats.court_or_commission|intcomma}} families approached court or commission<br>{{stats.no_court_or_commission|intcomma}} families did not approach court or commission</p>
  </div>
</div>


{% endblock %}
