{% extends "base.html" %}

{% load humanize %}

{% block title %}Enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District{% endblock %}


{% block head %}
  <meta name="description" content="Enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District, based on data collected through primary source interviews." />

  <meta itemprop="name" content="Enforced Disappearances &amp; Extrajudicial Executions in {{district.0.district}} District" />
  <meta itemprop="description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District" />
  <meta name="twitter:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{district.0.district}} District, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1 style="margin-bottom:1rem;">{{district.0.district}}</h1>
    <p class="kicker" style="margin-bottom:1rem;">Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.</p>
    <br>
  </div>
</div>



<div class="row">
  <div class="col-sm-6">
    
    <p>{{stats.total|intcomma}} documented cases in {{district.0.district}} District</p>

    {% for village in villages %}
      {% if village.data_count != None %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
      <a href="{% url 'tehsil' village.tehsil_id %}">{{village.tehsil}} Subdistrict,</a> {{village.data_count}} {% if forloop.first %} case{{village.data_count|pluralize}} {% endif %}  
      </div>
    </div>
      
      {% endif %}
    {% endfor %}

    <br>

  </div>
  <div class="col-sm-6 border-left">


    <p>Key statistics for documented cases in {{district.0.district}} District</p>

    {% include 'stats.html' %}

  </div>  
</div>

{% endblock %}
