{% extends "base.html" %}

{% load humanize %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div class="home">


<div class="row">
  <div class="col-sm-6 col-md m-2">
    <h4>Random Profiles for Testing</h4>
    <ul>
    {% for victim in victims %}
      <li><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm-6 col-md m-2">
    <h4>Overview of Documented Cases</h4>
    <p>{{total_disappeared|intcomma}} disappearances<br>{{total_killed|intcomma}} killed</p>
    <p>{{male|intcomma}} male vicitms<br>{{female|intcomma}} female vicitms</p>
    <p>{{not_married|intcomma}} not married<br>{{married|intcomma}} married</p>
    <p>{{genuine_encounter|intcomma}} genuine encounters in family<br>{{not_genuine_encounter|intcomma}} no genuine encounters in family</p>
    <p>{{amritdhari|intcomma}} amritdhari<br>{{kesdhari|intcomma}} kesdhari</p>
    <p>{{militant|intcomma}} militant<br>{{not_militant|intcomma}} not militant</p>
    <p>{{militant_support|intcomma}} militant support provided<br>{{no_militant_support|intcomma}} no militant support provided</p>
    <p>{{prior_detentions|intcomma}} had prior detentions<br>{{no_prior_detentions|intcomma}} had no prior detentions</p>
    <p>{{security_officials_apprchd|intcomma}} families approached security officials<br>{{no_security_officials_apprchd|intcomma}} families did not approach security officials</p>
    <p>{{court_or_commission|intcomma}} families approached court or commission<br>{{no_court_or_commission|intcomma}} families did not approach court or commission</p>
  </div>
</div>



<!--
-number of victims per family
-victim militant support (yes/no. And then further breakdown of voluntary vs. involuntary)
-victim arrest status
-witnesses to abduction/arrest
-security officials inform witnesses
-security forces uniformed
-presented before judge/magistrate
-victim detention location known
-witness to detention
-security officials return body
-body disposal by security forces
-identity of arresting security forces known
-security officials approached
-court or commission approached
-->



{% endblock %}
