{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div class="home">


<div class="row">
  <div class="col-sm-6 col-md m-2">
    <h4>Random Profiles for Testing</h4>
    <ul>
    {% for victim in victims %}
      <li><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm-6 col-md m-2">
    <h4>Overview of Documented Cases</h4>
    {% include 'stats.html' %}
  </div>
</div>

{% endblock %}
