{% extends "base.html" %}

{% load profiletags %}


{% block title %}Welcome{% endblock %}

{% block content %}


  <div class="row">
    {% for victim in victims %}

     {% if victim.photo_vic_fn %}
      <a href="{% hphoto victim.photo_vic_fn %}"><img src="{% hphoto victim.photo_vic_fn %}" style="width:50px;height:75px;padding:3px;" onerror="console.log('{{victim.record_id}}: {{victim.photo_vic_fn}}');this.src='/static/images/error.jpg';"></a>
     {% endif %}
  
    {% endfor %}
  </div>

{% endblock %}
