{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load profiletags %}

{% block title %}Documented cases implicating security forces based in {% if request.LANGUAGE_CODE == 'pa' %}{{name_pa}}{% else %}{{name}}{% endif %}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{% if request.LANGUAGE_CODE == 'pa' %}{{name_pa}}{% else %}{{name}}{% endif %}</h1>
  </div>
</div>

{% if victims.all|length > 0 %}


<div class="row keyword">
  <div class="col-sm-6">
      
  <p class="m-2">{{stats.total|numpa}} documented case{{stats.total|pluralize}} implicating security forces based in {% if request.LANGUAGE_CODE == 'pa' %}{{name_pa}}{% else %}{{name}}{% endif %}:</p>

  {% regroup victims.all by district as district_list %}



  {% for district in district_list %}
    {% if forloop.first %}
      <ul>{% endif %}
        <li><a href="#{{district.grouper|default_if_none:"Location Withheld"|slugify}}">{% with mydistrict=district.grouper|default_if_none:"Location Withheld" %}{% trans mydistrict %}{% endwith %}</a></li>
    {% if forloop.last %}</ul>{% endif %}        
  {% endfor %}
  

  {% for district in district_list %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
          <hr>
        <h2><a name="{{district.grouper|default_if_none:"Location Withheld"|slugify}}"></a>{% with mydistrict=district.grouper|default_if_none:"Location Withheld" %}{% trans mydistrict %}{% endwith %} {% if district.grouper != None %}{% trans 'District' %}{% endif %}</h2>
      </div>
    </div>
    
  {% regroup district.list by tehsil as tehsil_list %}

  {% for tehsil in tehsil_list %}

    {%if tehsil.grouper %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
        <h5>{% trans tehsil.grouper|default_if_none:""  %} {% trans 'Subdistrict' %}</h5>
      </div>
    </div>
    {% endif %}

    {% for victim in tehsil.list %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
  
      <strong><a href="{% url 'profile' victim.record_id %}">{{victim.victim_name}}</a></strong>
      {% if victim.victim_sex %}{% sex victim.victim_sex %}{% endif %}{% if victim.victim_age %}{% if victim.victim_age != "Don't know" %}{% if victim.victim_sex %},{% endif %}        {% if victim.victim_disappeared_killed  %}{% if victim.victim_disappeared_killed == 1 %}{% blocktrans with thisage=victim.victim_age|default:"unknown"|numpa %}age {{thisage}} at time of disappearance{% endblocktrans %}{% endif %}{% if victim.victim_disappeared_killed == 2 %}{% blocktrans with thisage=victim.victim_age|default:"unknown"|numpa %}age {{thisage}} at time of extrajudicial execution{% endblocktrans %}{% endif %}{% endif %}{% endif %}{% endif %}{% if victim.village_name_checked %}, <a href="{% url 'village' victim.village_id %}">{% if request.LANGUAGE_CODE == 'pa' %}{{victim.village_name_pa}}{% else %}{{victim.village_name}}{% endif %}</a>{% else %}{% if victim.village_name %}, {{victim.village_name|lowercaselocationwithheld}} {% endif %}{% endif %}

      </div>
    </div>
    
    {% endfor %}
  
  {% endfor %}

  {% endfor %}

  </div>
  
  
  <div class="col-sm-6 border-left">
    
    {% if request.LANGUAGE_CODE == 'pa' %}
      <p class="m-2-top">ਉਨ੍ਹਾਂ ਕੇਸਾਂ ਦੇ ਮੁੱਖ ਅੰਕੜੇ ਜਿਨ੍ਹਾਂ ਵਿੱਚ {{name_pa}} ਦੇ ਸੁਰੱਖਿਆ ਬਲਾਂ ਵੱਲ ਇਸ਼ਾਰਾ ਹੰuਦਾ ਹੈ:</p>
    {% else %}
      <p class="m-2-top">Key statistics of cases implicating security forces based in {{name}}:</p>
    {% endif %}

    {% include 'stats.html' %}

  </div>      
</div>      
  


  
  {% else %}

  <div class="row">
    <div class="col-sm-12 col-md m-2">   
      {% if request.LANGUAGE_CODE == 'pa' %}
        <p>{{name_pa}} ਦੇ ਸੁਰੱਖਿਆ ਬਲਾਂ ਨਾਲ ਸੰਬੰਧਿਤ ਕੋਈ ਕੇਸ ਦਰਜ ਨਹੀਂ ਹੈ।</p>
      {% else %}
        <p>No documented cases implicating security forces based in {{name}}.</p>
      {% endif %}
    </div>
  </div>

  {% endif %}
  


<div class="row">
  <div class="col-12">
    <div class="border-top footnotes">
      <p> {% trans 'Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.' %} </p>
    </div>
  </div>
</div>

{% endblock %}
