{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India{% endblock %}

{% block head %}

  <meta name="description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />

  <meta itemprop="name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta itemprop="description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta name="twitter:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />

  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/carto.css" />
  <script type="text/javascript" src="/static/js/carto.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.zoomhome.min.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.minimap.min.js"></script>

  <style>
    #mapid {
      height:650px;
      width: calc(100% - 2rem);
      background-color: #000;
      margin: 0 1rem;
    }
  </style>
  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12">
      <h2 style="margin-bottom:0;">Mapping Crimes Against Humanity</h2>
      <h4 style="margin-top:0;">Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India</h4>
    </div>
</div>



<form method="get" id="form">


<div class="row" id="clear-filters"{%if selected %} style="display:block;"{%endif%}>
  <div class="col-12">
      <p class="float-right"><a href="#" onclick="clearFilters();return false;">Clear filters</a></p>
  </div>
</div>

<div class="row">

    <div class="form-group filter{% if selected_age %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="age" name="age" onchange="updateMapData()">
        <option value="">Age</option>
        <option{% if selected_age == '0-17' %} selected=selected{% endif %}>0-17</option>
        <option{% if selected_age == '18-33' %} selected=selected{% endif %}>18-33</option>
        <option{% if selected_age == '34-49' %} selected=selected{% endif %}>34-49</option>
        <option{% if selected_age == '50-64' %} selected=selected{% endif %}>50-64</option>
        <option{% if selected_age == '65+' %} selected=selected{% endif %}>65+</option>
      </select>
    </div>


    <div class="form-group filter{% if selected_caste %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="caste" name="caste" onchange="updateMapData()">
        <option value="">Caste</option>
        <option{% if selected_caste == 'Chamar' %} selected=selected{% endif %}>Chamar</option>
        <option{% if selected_caste == 'Dalit/SC/BC' %} selected=selected{% endif %}>Dalit/SC/BC</option>
        <option{% if selected_caste == 'Jat' %} selected=selected{% endif %}>Jat</option>
        <option{% if selected_caste == 'Khatri' %} selected=selected{% endif %}>Khatri</option>
        <option{% if selected_caste == 'Mazbi' %} selected=selected{% endif %}>Mazbi</option>
        <option{% if selected_caste == 'Naee' %} selected=selected{% endif %}>Naee</option>
        <option{% if selected_caste == 'Ramgarhia' %} selected=selected{% endif %}>Ramgarhia</option>
        <option{% if selected_caste == 'Other' %} selected=selected{% endif %}>Other</option>
      </select>
    </div>
        
    <div class="form-group filter{% if selected_classification %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="classification" name="classification" onchange="updateMapData()">
        <option value="">Classification</option>
        <option {% if selected_classification == 'Enforced Disappearance' %} selected=selected{% endif %} value="Enforced Disappearance">Enforced Disappearance</option>
        <option {% if selected_classification == 'Extrajudicial Execution' %} selected=selected{% endif %} value="Extrajudicial Execution">Extrajudicial Execution</option>
      </select>
    </div>
    
    <div class="form-group filter{% if selected_gender %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="gender" name="gender" onchange="updateMapData()">
        <option value="">Gender</option>
        <option {% if selected_gender == 'Female' %} selected=selected{% endif %} value="Female">Female</option>
        <option {% if selected_gender == 'Male' %} selected=selected{% endif %} value="Male">Male</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_combatant %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="combatant" name="combatant" onchange="updateMapData()">
        <option value="">Combatant Status</option>
        <option {% if selected_combatant == 'Combatant' %} selected=selected{% endif %} value="Combatant">Combatant</option>
        <option {% if selected_combatant == 'Non-Combatant' %} selected=selected{% endif %} value="Non-Combatant">Non-Combatant</option>
        <option {% if selected_combatant == 'Unknown' %} selected=selected{% endif %} value="Unknown">Unknown</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_religion %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="religion" name="religion" onchange="updateMapData()">
        <option value="">Religion</option>
        <option{% if selected_religion == 'Christian' %} selected=selected{% endif %}>Christian</option>
        <option{% if selected_religion == 'Hindu' %} selected=selected{% endif %}>Hindu</option>
        <option{% if selected_religion == 'Muslim' %} selected=selected{% endif %}>Muslim</option>
        <option{% if selected_religion == 'Sikh' %} selected=selected{% endif %}>Sikh</option>
        <option{% if selected_religion == 'No religion' %} selected=selected{% endif %}>No religion</option>
        <option{% if selected_religion == 'Other' %} selected=selected{% endif %}>Other</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_district %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="district" name="district" onchange="updateMapData()">
        <option value="">District</option>
        {% for o in districts %}
        <option value="{{o.district_id}}" {% if selected_district|add:"0" == o.district_id %} selected=selected{% endif %}>{{o.district}}</option>
        {% for t in o.subdistricts %}
        <option value="{{t.tehsil_id}}" {% if selected_district|add:"0" == t.tehsil_id %} selected=selected{% endif %}>&nbsp;&nbsp;- {{t.tehsil}}</option>
        {% endfor %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group filter{% if selected_urban_rural %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="urban_rural" name="urban_rural" onchange="updateMapData()">
        <option value="">Urban / Rural</option>
        <option {% if selected_urban_rural == 'Urban' %} selected=selected{% endif %} value="Urban">Urban</option>
        <option {% if selected_urban_rural == 'Rural' %} selected=selected{% endif %} value="Rural">Rural</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_year %} selected{% endif %} col-6 col-md-3 col-lg-2">
      <select class="form-control" id="year" name="year" onchange="updateMapData()">
        <option value="">Year</option>
        {% for o in years %}
        <option{% if selected_year|add:"0" == o %} selected=selected{% endif %}>{{o}}</option>
        {% endfor %}
      </select>
    </div>

</div>
    
</form>


</div><!-- end container -->



<div id="map-over">
  <div class="container">
    <h4>At least <span id="count">{{all|length|intcomma}}</span> Enforced Disappearance<span class="count-plural">s</span>/Extrajudicial Execution<span class="count-plural">s</span></h4>
  </div><!-- end container -->
</div>
<div id="mapid">
</div>
<div id="year_buttons"></div>


<div id="timeline"></div>


  
  
<div class="container">

  <div class="row">
    <div class="col-12">
      <p>The Crimes Against Humanity Data Project is a portrait of widespread and systematic enforced disappearances and extrajudicial executions, based on data collected through primary source interviews. Ensaaf created this site to build informed consensus on the nature of the crimes perpetrated by India’s security forces in Punjab. <a href="/about/">Read more about our goals »</a></p>
    </div>
  </div>



<script type="text/javascript">


/*
// old, HTML year buttons
for (i = 1984; i<=2000; i++) {
  $('#year_buttons').append('<button type="button" class="btn btn-dark">'+i+'</button>');
}
$('#year_buttons button').on('click', function(e) {
  //console.log(e);
  $("#year").val(e.target.innerText);
  updateMapData();
});
*/


function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}



var timeCapsule = [{% for o in all %}{"v":{"id":"{{o.village_id|default:"0"}}","t":{{o.timeline|date:"U"|default:"0"}}}}{% if forloop.last %}{%else%},{% endif %}{% endfor %}];

for (var i=0;i<timeCapsule.length;i++) {
    if ( timeCapsule[i]['v']['id'] ) {
      timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
      var d = new Date(0);
      timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
    }
}  

var start = d3.min(d3.entries(timeCapsule), function(d) { return d.value.date; });
var end = d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

var villages = {};
var villageCentroids = [];
var markers = {};




function clearFilters() {
  $("#form option[selected]").removeAttr("selected");    
  $("#form .filter").removeClass('selected');
  $("#form .filter select").val($("#form option:first").val());
  updateMapData();
  mymap.setView([31.0157601,75.45], 8);
}


function updateMapData() {

  var hasFilters = 0;
  
  $('.filter select').each(function(i, obj) {
    $o = $(obj);
    if ($o.val() !== '') {
      $o.parent().addClass('selected'); 
      hasFilters = 1;
    } else {
      $o.parent().removeClass('selected');
    }
  });

  if (hasFilters) {
    $('#clear-filters').fadeIn(); 
  } else {
    $('#clear-filters').hide(); 
  }

  var params = $('#form').serialize();

  $.getJSON("/map_ajax/?" + params, function(json) {
      timeCapsule = [];
      timeCapsule = json.timeline;

      $("#count").html( numberWithCommas(timeCapsule.length) );

      if (timeCapsule.length == 1) {
        $(".count-plural").html("");
      } else {     
        $(".count-plural").html("s");
      }
      
      for (var i=0;i<timeCapsule.length;i++) {
          if ( timeCapsule[i]['v']['t']  < 1514764800 ) {
            timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
            var d = new Date(0);
            timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
          }
      } 
     
      // history.pushState(params,'Mapping Crimes Against Humanity in Punjab, India: Enforced Disappearances and Extrajudicial Executions', "/?" + params);
      

      makeTimeline();
      makeVillageNames(start, end);
  })
  .fail(function(error) {
    console.log("error");
    console.log(error);
  })

}





// init

var previousDistrict = '';





// load basemap
var mymap = new L.Map('mapid', {
  center: [31.0157601,75.45],
  zoom: 8
});
cartodb.createLayer(mymap, 'https://sukhmandhami.carto.com/api/v2/viz/9650d7c6-9865-4151-a4e7-3456ef906d7d/viz.json', {https: true}).addTo(mymap);
var zoomHome = L.Control.zoomHome({ zoomHomeIcon: 'refresh' });
zoomHome.addTo(mymap);
mymap.scrollWheelZoom.disable();

var osm2 = new L.TileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {minZoom: 0, maxZoom: 13, attribution: null});
var miniMap = new L.Control.MiniMap(osm2, { width: 250, height: 200, zoomLevelFixed: 3, position: 'topright', centerFixed: [21.28,77] }).addTo(mymap);
mymap.setView(new L.LatLng(31.0157601,75.45),8);


// load village centroids

$.getJSON("/static/js/village_loc.json", function(json) {
    villageCentroids = json
    makeTimeline();
});




function makeVillageNames(start, end) {

    villages = {};

    // update size per village
    for (var i=0;i<timeCapsule.length;i++) {
        if ((end >= timeCapsule[i]['date']) && (timeCapsule[i]['date'] >= start) && ( timeCapsule[i]['v']['id'] ))  {
          var id = timeCapsule[i]['v']['id'];
          villages[id] = (villages[id] || 0) + 1;
        }
    }
        
    updateMap(start, end);
}



var area = d3.scalePow().exponent(0.5).domain([0, 100]).range([1, 15]);



function updateMap(start, end) {

    // make map
    var points = [];
    var keys = Object.keys(villages);
    for (var i in keys) {
      var thisVillage = _.find(villageCentroids, function(o) {
        return o.CODE.endsWith(keys[i]);        
      });
      if (keys[i] && thisVillage) {
        points.push({'id':keys[i],'coord':thisVillage.coord,'subdist':thisVillage.SUBDIST,'dist':thisVillage.DIST,'size':villages[keys[i]],'name':thisVillage.NAME});
      }
    }


    // test Object.keys(markers).length to see less than total? see if need to recreate map or just update

    if (Object.keys(markers).length > 0) {

        var params = $('#form').serialize();
        var markers_array = [];

        // update markers
        _.forEach(markers, function(value, key) {
          if ( d = _.find(points, { 'id': key }) ) {
              markers[key].setStyle({fillOpacity: .5});
              markers[key].setRadius(area(d.size));

              var tultipText = '<div class="name">' + d.name + '</div><div class="position">' + d.size + ' Victim';
                if (d.size > 1) { tultipText += 's'; }
                tultipText += '</div>';

              markers[key].bindPopup(tultipText, {offset:[0,-5]});
              markers[key].on('mouseover', function (e) { this.openPopup(); });
              markers[key].on('mouseout', function (e) { this.closePopup(); });
              markers[key].on('click', function (e) {
                var params = $('#form').serialize();
                document.location.href = this.options.url + '/?' + params;
              });


              markers_array.push( markers[key] );
          } else {
            markers[key].setStyle({fillOpacity: 0});            
            markers[key].unbindPopup();
          }
        });

        if ( $( "#district" ).val() !== '' ) {
          // zoom to district
          var group = new L.featureGroup(markers_array);
          var bounds = group.getBounds();
          var buffer = {
            "lat": (bounds._northEast.lat - bounds._southWest.lat) * .15,
            "lng": (bounds._northEast.lng - bounds._southWest.lng) * .15
            };
          bounds._northEast.lat = bounds._northEast.lat + buffer.lat;
          bounds._northEast.lng = bounds._northEast.lng + buffer.lng;
          bounds._southWest.lat = bounds._southWest.lat - buffer.lat;
          bounds._southWest.lng = bounds._southWest.lng - buffer.lng;
          mymap.flyToBounds(bounds);
          previousDistrict = $( "#district" ).val();
        } else if (previousDistrict) {
          // reset map zoom
          mymap.setView([31.0157601,75.45], 8);            
        }
    
    } else {
        
        // add points to map
        _.forEach(points, function(d) {
          if (d.id !== '0') {
            var customCircleMarker = L.CircleMarker.extend({
               options: { 
                  url: '/village/' + d.id,
               }
            });
            markers[String(d.id)] = new customCircleMarker([d.coord[1] + .015,d.coord[0] - .025], {
                stroke: false,
                fillColor: '#fc0',
                fillOpacity: 0.5,
                url: '/village/' + d.id,
            }).addTo(mymap);
          }
        }); // end for points

    } // end if markers

}




d3.select(window).on('resize', function() {
  makeTimeline();
});

var maxHeight = 0;




function makeTimeline() {

  d3.select("#timeline").html("")
 
  var timeline_margin = {top: 10, right: 10, bottom: 35, left: 10};

  var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
      height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

  var start = new Date('January 1, 1981');
  var end = new Date('December 31, 2008');

  var xScale = d3.scaleTime()
      .domain([start, end])
      .rangeRound([0, width]);

  //console.log(start);

  var y = d3.scaleLinear()
      .range([height, 0]);

  var brush = d3.brushX().on("start brush end", brushed);

  var histogram = d3.histogram()
      .value(function(d) { return d.date; })
      .domain(xScale.domain())
      .thresholds(xScale.ticks(d3.timeMonth));

  var svg = d3.select("#timeline").append("svg")
      .attr("width", width + timeline_margin.left + timeline_margin.right)
      .attr("height", height + timeline_margin.top + timeline_margin.bottom)
    .append("g")
      .attr("transform", 
            "translate(" + timeline_margin.left + "," + timeline_margin.top + ")");


  var bins = histogram(timeCapsule);


  if (maxHeight == 0) {
    maxHeight = d3.max(bins, function(d) { return d.length; });
  }
  
  y.domain([-3, maxHeight ]);

  // timeline bars
  var bars = svg.selectAll("rect")
      .data(bins)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) { return "translate(" + xScale(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return xScale(d.x1) - xScale(d.x0); })
      .style("opacity", function(d) { 
          if (d.length < 1) { 
            return 0;
          } else {
            return 1;
          }
        })
      .attr("height", function(d) { return height - y(d.length); });

  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .attr('class','axis')
      .call(d3.axisBottom(xScale));

  // make years clickcable
  d3.selectAll('.tick')
    .on('click',clickMe)

  function clickMe(d){
    var endDate = new Date(d);
    endDate.setDate(endDate.getDate()+365);
    gBrush.call(brush.move, [d, endDate].map(xScale));
  }


  // brush
  var gBrush = svg.append("g")
      .attr("class", "brush")
      .call(brush);

  d3.select('.overlay').style('height', '145px');
  d3.select('.selection').style('height', '145px');
  d3.select('.handle').style('height', '145px');

  var handle = gBrush.selectAll(".handle--custom")
    .data([{type: "0"}, {type: "1"}])
    .enter().append("circle")
      .attr("class", "handle--custom")
        .attr("cx", function(d) { return width * d.type; })
        .attr("r", 5)
        .attr("cy", 70);

  gBrush.call(brush.move, xScale.range());

  // https://bl.ocks.org/mbostock/4349545
  
  function brushed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
    var s = d3.event.selection || xScale.range();
    
    var total = 0;
    var unfilteredTotal = 0;
    
    if (s == null) {
      bars.classed("active", false);
    } else {
      var start = new Date(0).setUTCSeconds( xScale.invert( s[0] ) ) / 1000;
      var end = new Date(0).setUTCSeconds( xScale.invert( s[1] ) ) / 1000;
      bars.classed("active", function(d) {
        if (d.length) { 
          if (start <= d[0]['date'] && d[0]['date'] <= end) {
            total += d.length;
          }
          unfilteredTotal += d.length;
          return start <= d[0]['date'] && d[0]['date'] <= end;
        } else {
          return 0;
        }
      });
    }
    
    if (handle) {
      handle.attr("cx", function(d, i) { return s[i] ; });
    }
    
    if (total == unfilteredTotal) { 
      //d3.select('#count').html( '{{all|length|intcomma}}' );
    } else {
      d3.select('#count').html( numberWithCommas(total) );    
    }
    makeVillageNames( xScale.invert(s[0]), xScale.invert(s[1]) );
  }

} // end makeTimeline



</script>

{% endblock %}