{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <script src="/static/js/leaflet.js"></script>

  <style>
    .bar { fill: #900; }
    .axis line, .axis path { stroke: #aaa; }
    .tick { font-family: 'Fira Sans', sans-serif; }

    #mapid {
      height:600px;
      width:100%;
      background-color: #000;
    }
    .leaflet-interactive { cursor: default; }
    .leaflet-popup-content-wrapper { border-radius: 2px; }
    .leaflet-control-attribution { display: none; }  
  </style>
  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12">
      <h2 style="margin-bottom:0;">Mapping Crimes Against Humanity</h2>
      <h4 style="margin-top:0;">Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India</h4>
    </div>
</div>



<form method="get" id="form">


<div class="row" id="clear-filters"{%if selected %} style="display:block;"{%endif%}>
  <div class="col-12">
      <p class="float-right"><a href="#" onclick="clearFilters();return false;">Clear filters</a></p>
  </div>
</div>

<div class="row">

    <div class="form-group filter{% if selected_age %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="age" name="age" onchange="updateMapData()">
        <option value="">Age</option>
        <option{% if selected_age == '0-17' %} selected=selected{% endif %}>0-17</option>
        <option{% if selected_age == '18-33' %} selected=selected{% endif %}>18-33</option>
        <option{% if selected_age == '34-49' %} selected=selected{% endif %}>34-49</option>
        <option{% if selected_age == '50-64' %} selected=selected{% endif %}>50-64</option>
        <option{% if selected_age == '65+' %} selected=selected{% endif %}>65+</option>
      </select>
    </div>


    <div class="form-group filter{% if selected_caste %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="caste" name="caste" onchange="updateMapData()">
        <option value="">Caste</option>
        <option{% if selected_caste == 'Chamar' %} selected=selected{% endif %}>Chamar</option>
        <option{% if selected_caste == 'Dalit/SC/BC' %} selected=selected{% endif %}>Dalit/SC/BC</option>
        <option{% if selected_caste == 'Jat' %} selected=selected{% endif %}>Jat</option>
        <option{% if selected_caste == 'Khatri' %} selected=selected{% endif %}>Khatri</option>
        <option{% if selected_caste == 'Mazbi' %} selected=selected{% endif %}>Mazbi</option>
        <option{% if selected_caste == 'Naee' %} selected=selected{% endif %}>Naee</option>
        <option{% if selected_caste == 'Ramgarhia' %} selected=selected{% endif %}>Ramgarhia</option>
        <option{% if selected_caste == 'Other' %} selected=selected{% endif %}>Other</option>
      </select>
    </div>
        
    <div class="form-group filter{% if selected_classification %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="classification" name="classification" onchange="updateMapData()">
        <option value="">Classification</option>
        <option {% if selected_classification == 'Enforced Disappearance' %} selected=selected{% endif %} value="Enforced Disappearance">Enforced Disappearance</option>
        <option {% if selected_classification == 'Extrajudicial Execution' %} selected=selected{% endif %} value="Extrajudicial Execution">Extrajudicial Execution</option>
      </select>
    </div>
    
    <div class="form-group filter{% if selected_gender %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="gender" name="gender" onchange="updateMapData()">
        <option value="">Gender</option>
        <option {% if selected_gender == 'Female' %} selected=selected{% endif %} value="Female">Female</option>
        <option {% if selected_gender == 'Male' %} selected=selected{% endif %} value="Male">Male</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_combatant %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="combatant" name="combatant" onchange="updateMapData()">
        <option value="">Combatant Status</option>
        <option {% if selected_combatant == 'Combatant' %} selected=selected{% endif %} value="Combatant">Combatant</option>
        <option {% if selected_combatant == 'Non-Combatant' %} selected=selected{% endif %} value="Non-Combatant">Non-Combatant</option>
        <option {% if selected_combatant == 'Unknown' %} selected=selected{% endif %} value="Unknown">Unknown</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_religion %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="religion" name="religion" onchange="updateMapData()">
        <option value="">Religion</option>
        <option{% if selected_religion == 'Christian' %} selected=selected{% endif %}>Christian</option>
        <option{% if selected_religion == 'Hindu' %} selected=selected{% endif %}>Hindu</option>
        <option{% if selected_religion == 'Muslim' %} selected=selected{% endif %}>Muslim</option>
        <option{% if selected_religion == 'Sikh' %} selected=selected{% endif %}>Sikh</option>
        <option{% if selected_religion == 'No religion' %} selected=selected{% endif %}>No religion</option>
        <option{% if selected_religion == 'Other' %} selected=selected{% endif %}>Other</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_district %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="district" name="district" onchange="updateMapData()">
        <option value="">District</option>
        {% for o in districts %}
        <option value="{{o.district_id}}" {% if selected_district|add:"0" == o.district_id %} selected=selected{% endif %}>{{o.district}}</option>
        {% for t in o.subdistricts %}
        <option value="{{t.tehsil_id}}" {% if selected_district|add:"0" == t.tehsil_id %} selected=selected{% endif %}>&nbsp;&nbsp;- {{t.tehsil}}</option>
        {% endfor %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group filter{% if selected_year %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="year" name="year" onchange="updateMapData()">
        <option value="">Year</option>
        {% for o in years %}
        <option{% if selected_year|add:"0" == o %} selected=selected{% endif %}>{{o}}</option>
        {% endfor %}
      </select>
    </div>

<!--
    <div class="form-group filter{% if selected_urban_rural %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="urban_rural" name="urban_rural" onchange="updateMapData()">
        <option value="">Urban/Rural</option>
        <option{% if selected_urban_rural == "Urban" %} selected=selected{% endif %}>Urban</option>
        <option{% if selected_urban_rural == "Rural" %} selected=selected{% endif %}>Rural</option>
      </select>
    </div>
-->

</div>
    
</form>


</div><!-- end container -->



<div id="map-over">
  <div class="container">
    <h4><span id="count">At least {{total|intcomma}}</span> Extrajudicial Executions/Enforced Disappearance<span id="count-plural">s</span></h4>
  </div><!-- end container -->
</div>
<div id="mapid">
</div>
<div id="year_buttons"></div>



<div class="container">
  <!--
  <div class="row">
    <div class="col-sm-12">    
      <p><br>Drag the gray area on the timeline to update the map. Zoom into the map to see individual villages. Clicking on the red dots will take you to individual profiles from that village, excluding anonymous profiles.</p>
    </div>
  </div>
  -->
  <div id="timeline"></div>
  <p><br></p>
  
  
<script type="text/javascript">



// make year buttons
for (i = 1984; i<=2000; i++) {
  $('#year_buttons').append('<button type="button" class="btn btn-dark">'+i+'</button>');
}
$('#year_buttons button').on('click', function(e) {
  console.log(e);
  $("#year").val(e.target.innerText);
  updateMapData();
});




function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}



function formatDate(date) {
  var monthNames = [
    "January", "February", "March",
    "April", "May", "June", "July",
    "August", "September", "October",
    "November", "December"
  ];
  var day = date.getDate();
  var monthIndex = date.getMonth();
  var year = date.getFullYear();
  //  return day + ' ' + monthNames[monthIndex] + ' ' + year;
  return monthNames[monthIndex] + ' ' + year;
}




var timeCapsule = [{% for o in all %}{% if o.timeline != None %}{v:{ vid:"{{o.village_id}}",t:{{o.timeline|date:"U"}} }},{% endif %}{% endfor %}];

for (var i=0;i<timeCapsule.length;i++) {
    if ( timeCapsule[i]['v']['t']  < 1514764800 ) {
      timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
      var d = new Date(0);
      timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
    }
}  

var start = d3.min(d3.entries(timeCapsule), function(d) {
  if (d.value.date > 0) {
    return d.value.date;
  }
});

var end = d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

var villages = {};
var villageCentroids = [];
var markers = {};




function clearFilters() {
  $("#form option[selected]").removeAttr("selected");    
  $("#form .filter").removeClass('selected');
  $("#form .filter select").val($("#form option:first").val());
  updateMapData();
  $("#count").html("{{total|intcomma}}");
  $("#count-plural").html("s");
}


function updateMapData() {

  var hasFilters = 0;
  
  $('.filter select').each(function(i, obj) {
    $o = $(obj);
    if ($o.val() !== '') {
      $o.parent().addClass('selected'); 
      hasFilters = 1;
    } else {
      $o.parent().removeClass('selected');
    }
  });

  if (hasFilters) {
    $('#clear-filters').fadeIn(); 
  } else {
    $('#clear-filters').hide(); 
  }

  var params = $('#form').serialize();

  console.log(params);

  $.getJSON("/map_ajax/?" + params, function(json) {
      timeCapsule = [];
      timeCapsule = json.timeline;

      $("#count").html( numberWithCommas(timeCapsule.length) );
      if (timeCapsule.length == 1) {
        $("#count-plural").html("");
      } else {     
        $("#count-plural").html("s");
      }
      
      for (var i=0;i<timeCapsule.length;i++) {
          if ( timeCapsule[i]['v']['t']  < 1514764800 ) {
            timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
            var d = new Date(0);
            timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
          }
      } 
     // todo 
     // window.history.pushState({"html":'',"pageTitle":'Mapping Crimes Against Humanity in Punjab, India: Enforced Disappearances and Extrajudicial Executions'},"", "/map?" + params);

      makeVillageNames(start, end);
  })
  .fail(function(error) {
    console.log("error");
    console.log(error);
  })

}


var options = { minZoom: 8, maxZoom: 12 };

var mymap = L.map('mapid', options).setView([31.0157601,75], 8);

L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}{r}.png', {
	subdomains: 'abcd',
  attribution: '',
}).addTo(mymap);

mymap.scrollWheelZoom.disable();



var punjabStyle = { "color": "#999", "weight": 1, "opacity": 0.65, "fillOpacity": 0 };
var punjab = new L.geoJson();
punjab.addTo(mymap);
$.ajax({
  dataType: "json",
  url: "/static/js/punjab.geojson",
  success: function(data) {
      $(data.features).each(function(key, data) {
          punjab.addData(data);
      });
      punjab.setStyle(punjabStyle);
      punjab.bringToBack()
  }
});

var indiaStyle = { "color": "#fff", "weight": 1, "opacity": 0.65, "fillOpacity": 0 };
var india = new L.geoJson();
india.addTo(mymap);
$.ajax({
  dataType: "json",
  url: "/static/js/india.geojson",
  success: function(data) {
      $(data.features).each(function(key, data) {
          india.addData(data);
      });
      india.setStyle(indiaStyle);
      india.bringToBack()
  }
});

var disputedStyle = { "color": "#666", "weight": 1, "opacity": 0.65, "fillOpacity": 0, "dashArray": "2 2" };
var disputed = new L.geoJson();
disputed.addTo(mymap);
$.ajax({
  dataType: "json",
  url: "/static/js/disputed.geojson",
  success: function(data) {
      $(data.features).each(function(key, data) {
          disputed.addData(data);
      });
      disputed.setStyle(disputedStyle);
      disputed.bringToBack()
  }
});

$.getJSON("/static/js/village_loc.json", function(json) {
    villageCentroids = json
    makeTimeline();
});




function makeVillageNames(start, end) {

    villages = {};
    
    // update size per village
    for (var i=0;i<timeCapsule.length;i++) {
        if ((end >= timeCapsule[i]['date']) && (timeCapsule[i]['date'] >= start))  {
          var id = timeCapsule[i]['v']['vid'];
          villages[id] = (villages[id] || 0) + 1;
        }
    }

    updateMap(start, end);
}



var area = d3.scalePow().exponent(0.5).domain([0, 100]).range([1, 15]);



function updateMap(start, end) {

    // make map
    var points = [];
    var keys = Object.keys(villages);
    for (var i in keys) {
      var thisVillage = _.find(villageCentroids, function(o) {
        return o.CODE.endsWith(keys[i]);        
      });
      if (keys[i]) {
        points.push({'id':keys[i],'coord':thisVillage.coord,'subdist':thisVillage.SUBDIST,'dist':thisVillage.DIST,'size':villages[keys[i]],'name':thisVillage.NAME});
      }
    }

    if (Object.keys(markers).length > 0) {

        // update markers
        _.forEach(markers, function(value, key) {
          if ( d = _.find(points, { 'id': key }) ) {
              markers[key].setStyle({fillOpacity: .5});
              markers[key].setRadius(area(d.size));

              var tultipText = '<div class="name">' + d.name + '</div><div class="position">' + d.size + ' Victim';
                if (d.size > 1) { tultipText += 's'; }
                tultipText += '</div>';

              markers[key].bindPopup(tultipText);

          } else {
            markers[key].setStyle({fillOpacity: 0});            
            markers[key].unbindPopup();
          }
        });
    
    } else {
        
        // create map
        _.forEach(points, function(d) {
          var customCircleMarker = L.CircleMarker.extend({
             options: { 
                url: '/village/' + d.id,
             }
          });

          markers[String(d.id)] = new customCircleMarker([d.coord[1] + .015,d.coord[0] - .025], {
              stroke: false,
              fillColor: '#fc0',
              fillOpacity: 0.5,
              url: '/village/' + d.id,
          }).addTo(mymap);

          var tultipText = '<div class="name">' + d.name + ', ';
            if (d.subdist !== d.dist) { tultipText += d.subdist + ', '; }
            tultipText += d.dist + '</div><div class="position">' + d.size + ' Victim';
            if (d.size > 1) { tultipText += 's'; }
            tultipText += '</div>';

          var url = '/village/' + d.id;

          markers[String(d.id)].bindPopup(tultipText);
          markers[String(d.id)].on('mouseover', function (e) { this.openPopup(); });
          markers[String(d.id)].on('mouseout', function (e) { this.closePopup(); });
          markers[String(d.id)].on('click', function (e) { document.location.href = this.options.url; });
          
        }); // end for points

    } // end if markers

}






//d3.select(window).on('resize', resize);

var timeline_margin = {top: 10, right: 0, bottom: 50, left: 30};

function resize() {  

  var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
      height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

  //d3.select("#timeline svg").attr("width",width);
  //d3.selectAll("path").attr('d', path);
}





function makeTimeline() {
    
  var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
      height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

  var start = 369792000000; // d3.min(d3.entries(timeCapsule), function(d) { if (d.value.date > 0) { return d.value.date; } });
  var end = 962409600000; // d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

  var xScale = d3.scaleTime().domain([start, end]).rangeRound([0, width]);

  var brush = d3.brushX().extent([[0, 0], [width, height]]).on("brush end", brushed);

  /*

  var y = d3.scaleLinear()
      .range([height, 0]);

  var histogram = d3.histogram()
      .value(function(d) { return d.date; })
      .domain(xScale.domain())
      .thresholds(xScale.ticks(d3.timeMonth));
  */

  var svg = d3.select("#timeline").append("svg")
      .attr("width", width + timeline_margin.left + timeline_margin.right)
      .attr("height", height + timeline_margin.top + timeline_margin.bottom)
    .append("g")
      .attr("transform", 
            "translate(" + timeline_margin.left + "," + timeline_margin.top + ")");

  function brushed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
    var s = d3.event.selection || xScale.range();
    makeVillageNames( xScale.invert(s[0]), xScale.invert(s[1]) );
  }

  /*

  var bins = histogram(timeCapsule);

  y.domain([-3, d3.max(bins, function(d) { return d.length; })]);

  svg.selectAll("rect")
      .data(bins)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) { return "translate(" + xScale(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return xScale(d.x1) - xScale(d.x0); })
      .style("opacity", function(d) { 
          if (d.length < 1) { 
            return 0;
          } else {
            return 1;
          }
        })
      .attr("height", function(d) { return height - y(d.length); });


  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .attr('class','axis')
      .call(d3.axisBottom(xScale));

  svg.append("g")
      .attr('class','axis')
      .call(d3.axisLeft(y));
  */

  svg.append("g")
      .attr("class", "brush")
      .call(brush)
      .call(brush.move, xScale.range());
  

} // end makeTimeline



</script>

{% endblock %}