{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Sumedh Singh [Saini] and enforced disappearances &amp; extrajudicial executions in Punjab, India{% endblock %}

{% block head %}
  <meta name="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />

  <meta itemprop="name" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta itemprop="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta name="twitter:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />


  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/css/carto.css" />
  <script type="text/javascript" src="/static/js/carto.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.zoomhome.min.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.minimap.min.js"></script>

  <style>
    #mapid {
      height:500px;
      width: calc(100% - 2rem);
      background-color: #000;
      margin: 0 1rem;
    }
    h1 { margin-bottom: 0; }
  </style>
  <script type="text/javascript" src="/static/js/d3.v4.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>

{% endblock %}


{% block content %}

<div class="row">
  <div class="col-12">  
      <h1>Sumedh Singh [Saini]</h1>
  </div>
 
<div id="mapid"></div>

<div id="timeline"></div>

</div>







<div class="row">
    <div class="col-sm-10">
      <p>This is some intro text. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>This is some intro text. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </div>
    <div class="col-sm-2">
      <p><img src="https://via.placeholder.com/500x500" width="100%" height="auto" vspace="5"><br>Photo here</p>
    </div>
</div>

<div class="row">
  <div class="col-12">  
      <hr>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">


  <script>
  
    var timeCapsule = [];
    
    function makeList(data, selector) {
      var html = '<ul>';
      for (var i in data) {
        html += '<li>'+ data[i].pk +' <a href="/profile/' + data[i].pk + '">'+ data[i].fields['victim_name'] +'</a></li>';

        timeCapsule.push( {"v":{"id":data[i].fields['village_id'],"t": new Date(data[i].fields['timeline']).valueOf() / 1000  }} );

      }
      html += '</ul>';
      // photo_vic_fn
      console.log(data);
      $( selector ).html(html);
      
    }
    
  </script>


      <h5>Command History</h5>

      <p><em><small style="line-height:1.3;">Unless otherwise noted, the command history draws from the following sources: (1) the annual Civil List of the Indian Police Service (IPS) for the Punjab cadre, prepared by the Ministry of Home Affairs, naming the position and date of posting of the senior police official as of January 1 of that year (copies for 1983 to 1996 obtained by Ensaaf at the U.S. Library of Congress), and (2) individual websites of the police districts, listing the names of Senior Superintendents of Police (SSP) and their dates of tenure. This information draws from what is available publicly; the exact account and information rests with the government of India.</small></em></p>

      <p><strong>SSP Ferozepur</strong>, June 28, 1987 —  April 18, 1988:<br>
      <div id="d1"></div></p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 311 '1987-06-28' '1988-04-18' %}, '#d1' );
      </script>
      {% endautoescape %}    
      


      <p>Awarded President's Police Medal of Gallantry in 1987</p>


      <p><strong>SSP Batala</strong>, April 19, 1988 – July 31, 1988:<br>
      <div id="d2"></div></p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'tehsil' 3010004 '1988-04-19' '1988-07-31' %}, '#d2' );
      </script>
      {% endautoescape %}    


      <p><strong>SSP Ludhiana</strong>, August 1, 1988 – February 4, 1990:<br>
      <div id="d3"></div></p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 309 '1988-08-01' '1990-02-04' %}, '#d3' );
      </script>
      {% endautoescape %}    



      <p><strong>SSP Bathinda</strong>, February 5, 1990 – April 28, 1990:<br>
      <div id="d4"></div></p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 314 '1990-02-05' '1990-04-28' %}, '#d4' );
      </script>
      {% endautoescape %}    



      <p>Most likely <strong>SSP Kapurthala</strong>, April 29, 1990 – July 17, 1990 (Because this posting falls in the middle of the year, it is not reported in the IPS Civil List. Further, Kapurthala has not provided any information online regarding its historical postings. The daily newspaper <em>Tribune</em> also did not name the SSP Kapurthala during the above time period. We have inferred that Saini was posted in Kapurthala using the process of elimination to determine the SSPs of all other districts during that time frame.)<br>
      <div id="d5"></div><p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 303 '1990-04-29' '1990-07-17' %}, '#d5' );
      </script>
      {% endautoescape %}


      <p><strong>SSP Hoshiarpur</strong>, July 17, 1990 – December 11, 1990:<br>
      <div id="d6"></div></p>
      
      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 305 '1990-07-17' '1990-12-11' %}, '#d6' );
      </script>
      {% endautoescape %}


      <p><strong>SSP Chandigarh</strong>  (technically on Deputation to Government of India, as SSP Chandigarh, because Chandigarh is a Union Territory) December 12, 1990 – January 3, 1993. The Punjab Governor and others decided to remove Saini from this position due to police abuse of an Army official. Ensaaf has not yet incorporated/included data from Chandigarh on its data visualization site; it is forthcoming.</p>

      <p><strong>Assistant to the Inspector General</strong>, January 15, 1993 to September 28, 1993: According to articles in the <em>Tribune</em> on <a href="https://data.ensaaf.org/static/files/sumedh_saini_aig_personnel_19930117.pdf">January 17</a> and <a href="https://data.ensaaf.org/static/files/sumedh_saini_police_commissioner_19930929.pdf">September 29</a>,  Sumedh Saini held, at least, the posts of AIG (Personnel) and AIG (Administration) during this time period.</p>

      <p><strong>SSP/Police Commissioner Ludhiana</strong>, September 30, 1993  – June 19, 1994 (The IPS Civil List describes this posting as SSP, whereas the <a href="https://data.ensaaf.org/static/files/sumedh_saini_police_commissioner_19930929.pdf"><em>Tribune</em> reported</a> this position as the newly created Commissioner of Police of Ludhiana. The Ludhiana police website list a non-cadre Punjab Police Service official as SSP.)<br>
      <div id="d7"></div></p>

      {% autoescape off %}
      <script>
      makeList( {% official_bar_data 'district' 309 '1993-09-30' '1994-06-19' %}, '#d7');
      </script>
      {% endautoescape %}



    </div>
    <div class="col-sm-6">

      <h5>Key Cases</h5>

      <ul>
      <li><a href="TK">Vestibulum Sollicitudin</a>, April 16, 1998</li>
      <li><a href="TK">Sem Pellentesque</a>, April 16, 1998</li>
      <li><a href="TK">Ipsum Vehicula</a>, April 16, 1998</li>
      <li><a href="TK">Ornare Tortor</a>, April 16, 1998</li>
      </ul>

  
      <hr>


      <h5>Command Responsibility</h5>

      <p><a href="/official/S0001/">11 documented cases directly implicating Sumedh Singh »</a></p>
  
      <hr>


      <h5>Known Promotions</h5>

      <ul>
      <li><strong>DIG Admn. (CPO), Punjab, Chandigarh (ORP)</strong>, June 20, 1994<br><br></li>

      <li><strong>Inspector General of Police</strong>, on September 5, 2005, reported to currently be IG, Economic Offences <br><br></li>

      <li><strong>Inspector General of Police</strong>, Vigilance, March 8, 2007<br><br></li>

      <li><strong>Additional Director General of Police-Cum-Chief Dir., Vigilance Bureau, Pb, Chg.</strong>, February 16, 2009<br><br></li>

      <li><strong>Director General of Police, Punjab</strong>, March 15, 2012 - October 25, 2015<br><br></li>

      <li><strong>Director General of Police-Cum-Chairman, Police Housing Corporation</strong>, October 26, 2015 (date of retirement June 20, 2018)</li>
      </ul>

      <hr>

      <h5>Disciplinary Proceedings / Legal Cases</h5>
      <ul>
      <li><a href="TK">Nullam Id</a>, April 16, 1998</li>
      <li><a href="TK">Morbi Leo</a>, April 16, 1998</li>
      <li><a href="TK">Donec Id</a>, April 16, 1998</li>
      <li><a href="TK">Cras Justo</a>, April 16, 1998</li>
      </ul>

      <hr>


      <h5>News articles</h5>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>


            <hr>


      <h5>Quotes</h5>

      <p>“Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>

      <p>“Praesent commodo cursus magna, vel scelerisque nisl consectetur et.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>

      <p>“Nullam quis risus eget urna mollis ornare vel eu leo.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>


    </div>

  </div>
</div>




<script type="text/javascript">

function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}


// var timeCapsule = [{% for o in all %}{"v":{"id":"{{o.village_id|default:"0"}}","t":{{o.timeline|date:"U"|default:"0"}}}}{% if forloop.last %}{%else%},{% endif %}{% endfor %}];

for (var i=0;i<timeCapsule.length;i++) {
    if ( timeCapsule[i]['v']['id'] ) {
      timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
      var d = new Date(0);
      timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
    }
}  

var start = d3.min(d3.entries(timeCapsule), function(d) { return d.value.date; });
var end = d3.max(d3.entries(timeCapsule), function(d) { return d.value.date; });

var villages = {};
var villageCentroids = [];
var markers = {};


function clearFilters() {
  $("#form option[selected]").removeAttr("selected");    
  $("#form .filter").removeClass('selected');
  $("#form .filter select").val($("#form option:first").val());
  updateMapData();
  mymap.setView([31.0157601,75.45], 8);
}


function updateMapData() {

  var hasFilters = 0;
  
  $('.filter select').each(function(i, obj) {
    $o = $(obj);
    if ($o.val() !== '') {
      $o.parent().addClass('selected'); 
      hasFilters = 1;
    } else {
      $o.parent().removeClass('selected');
    }
  });

  if (hasFilters) {
    $('#clear-filters').fadeIn(); 
  } else {
    $('#clear-filters').hide(); 
  }

  var params = $('#form').serialize();

  $.getJSON("/map_ajax/?" + params, function(json) {
      timeCapsule = [];
      timeCapsule = json.timeline;

      $("#count").html( numberWithCommas(timeCapsule.length) );

      if (timeCapsule.length == 1) {
        $(".count-plural").html("");
      } else {     
        $(".count-plural").html("s");
      }
      
      for (var i=0;i<timeCapsule.length;i++) {
          if ( timeCapsule[i]['v']['t']  < 1514764800 ) {
            timeCapsule[i]['date'] = timeCapsule[i]['v']['t'];
            var d = new Date(0);
            timeCapsule[i]['date'] = d.setUTCSeconds( timeCapsule[i]['date'] );
          }
      } 
     
      // history.pushState(params,'Mapping Crimes Against Humanity in Punjab, India: Enforced Disappearances and Extrajudicial Executions', "/?" + params);
      

      makeTimeline();
      makeVillageNames(start, end);
  })
  .fail(function(error) {
    console.log("error");
    console.log(error);
  })

}





// init

var previousDistrict = '';





// load basemap
var mymap = new L.Map('mapid', {
  center: [31.0157601,75.45],
  zoom: 8
});
cartodb.createLayer(mymap, 'https://sukhmandhami.carto.com/api/v2/viz/9650d7c6-9865-4151-a4e7-3456ef906d7d/viz.json', {https: true}).addTo(mymap);
var zoomHome = L.Control.zoomHome({ zoomHomeIcon: 'refresh' });
zoomHome.addTo(mymap);

// https://sukhmandhami.carto.com/builder/350efab7-443d-419e-930c-b50ab8e394cd/embed
var osm2 = new L.TileLayer('https://cartocdn-gusc.global.ssl.fastly.net/sukhmandhami/api/v1/map/sukhmandhami@8cf94c4f@7394194616a5b4936fb73a4555534a43:1554421032266/1,2/{z}/{x}/{y}.png');
var pubs2 = new L.TileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png');
var layers = new L.LayerGroup([pubs2, osm2]);
var miniMap = new L.Control.MiniMap(layers, { width: 250, height: 200, zoomLevelFixed: 3, position: 'topright', centerFixed: [21.28,77] }).addTo(mymap);

mymap.setView(new L.LatLng(31.0157601,75.45),8);
mymap.scrollWheelZoom.disable();


// load village centroids

$.getJSON("/static/js/village_loc.json", function(json) {
    villageCentroids = json
    makeTimeline();
});




function makeVillageNames(start, end) {

    villages = {};

    // update size per village
    for (var i=0;i<timeCapsule.length;i++) {
        if ((end >= timeCapsule[i]['date']) && (timeCapsule[i]['date'] >= start) && ( timeCapsule[i]['v']['id'] ))  {
          var id = timeCapsule[i]['v']['id'];
          villages[id] = (villages[id] || 0) + 1;
        }
    }
        
    updateMap(start, end);
}



var area = d3.scalePow().exponent(0.5).domain([0, 10]).range([1, 15]);



function updateMap(start, end) {

    // make map
    var points = [];
    var keys = Object.keys(villages);
    for (var i in keys) {
      var thisVillage = _.find(villageCentroids, function(o) {
        return o.CODE.endsWith(keys[i]);        
      });
      if (keys[i] && thisVillage) {
        points.push({'id':keys[i],'coord':thisVillage.coord,'subdist':thisVillage.SUBDIST,'dist':thisVillage.DIST,'size':villages[keys[i]],'name':thisVillage.NAME});
      }
    }


    // test Object.keys(markers).length to see less than total? see if need to recreate map or just update

    if (Object.keys(markers).length > 0) {

        var params = $('#form').serialize();
        var markers_array = [];

        // update markers
        _.forEach(markers, function(value, key) {
          if ( d = _.find(points, { 'id': key }) ) {
              markers[key].setStyle({fillOpacity: .5});
              markers[key].setRadius(area(d.size));

              var tultipText = '<div class="name">' + d.name + '</div><div class="position">' + d.size + ' Victim';
                if (d.size > 1) { tultipText += 's'; }
                tultipText += '</div>';

              markers[key].bindPopup(tultipText, {offset:[0,-5]});
              markers[key].on('mouseover', function (e) { this.openPopup(); });
              markers[key].on('mouseout', function (e) { this.closePopup(); });
              markers[key].on('click', function (e) {
                var params = $('#form').serialize();
                document.location.href = this.options.url + '/?' + params;
              });


              markers_array.push( markers[key] );
          } else {
            markers[key].setStyle({fillOpacity: 0});            
            markers[key].unbindPopup();
          }
        });

        if ( $( "#district" ).val() !== '' ) {
          // zoom to district
          var group = new L.featureGroup(markers_array);
          var bounds = group.getBounds();
          var buffer = {
            "lat": (bounds._northEast.lat - bounds._southWest.lat) * .15,
            "lng": (bounds._northEast.lng - bounds._southWest.lng) * .15
            };
          bounds._northEast.lat = bounds._northEast.lat + buffer.lat;
          bounds._northEast.lng = bounds._northEast.lng + buffer.lng;
          bounds._southWest.lat = bounds._southWest.lat - buffer.lat;
          bounds._southWest.lng = bounds._southWest.lng - buffer.lng;
          mymap.flyToBounds(bounds);
          previousDistrict = $( "#district" ).val();
        } else if (previousDistrict) {
          // reset map zoom
          mymap.setView([31.0157601,75.45], 8);            
        }
    
    } else {
        
        // add points to map
        _.forEach(points, function(d) {
          if (d.id !== '0') {
            var customCircleMarker = L.CircleMarker.extend({
               options: { 
                  url: '/village/' + d.id,
               }
            });
            markers[String(d.id)] = new customCircleMarker([d.coord[1] + .015,d.coord[0] - .025], {
                stroke: false,
                fillColor: '#fc0',
                fillOpacity: 0.5,
                url: '/village/' + d.id,
            }).addTo(mymap);
          }
        }); // end for points

    } // end if markers

}




d3.select(window).on('resize', function() {
  makeTimeline();
});

var maxHeight = 0;




function makeTimeline() {

  d3.select("#timeline").html("")
 
  var timeline_margin = {top: 10, right: 10, bottom: 35, left: 10};

  var width = $('#timeline').width() - timeline_margin.left - timeline_margin.right,
      height = $('#timeline').height() - timeline_margin.top - timeline_margin.bottom;

  var start = new Date('January 1, 1986');
  var end = new Date('December 31, 1999');

  var xScale = d3.scaleTime()
      .domain([start, end])
      .rangeRound([0, width]);

  //console.log(start);

  var y = d3.scaleLinear()
      .range([height, 0]);

  var brush = d3.brushX().on("start brush end", brushed);

  var histogram = d3.histogram()
      .value(function(d) { return d.date; })
      .domain(xScale.domain())
      .thresholds(xScale.ticks(d3.timeMonth));

  var svg = d3.select("#timeline").append("svg")
      .attr("width", width + timeline_margin.left + timeline_margin.right)
      .attr("height", height + timeline_margin.top + timeline_margin.bottom)
    .append("g")
      .attr("transform", 
            "translate(" + timeline_margin.left + "," + timeline_margin.top + ")");


  var bins = histogram(timeCapsule);


  if (maxHeight == 0) {
    maxHeight = d3.max(bins, function(d) { return d.length; });
  }
  
  y.domain([-3, maxHeight ]);

  // timeline bars
  var bars = svg.selectAll("rect")
      .data(bins)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) { return "translate(" + xScale(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return xScale(d.x1) - xScale(d.x0); })
      .style("opacity", function(d) { 
          if (d.length < 1) { 
            return 0;
          } else {
            return 1;
          }
        })
      .attr("height", function(d) { return height - y(d.length); });

  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .attr('class','axis')
      .call(d3.axisBottom(xScale));

  // make years clickcable
  d3.selectAll('.tick')
    .on('click',clickMe)

  function clickMe(d){
    var endDate = new Date(d);
    endDate.setDate(endDate.getDate()+365);
    gBrush.call(brush.move, [d, endDate].map(xScale));
  }


  // brush
  var gBrush = svg.append("g")
      .attr("class", "brush")
      .call(brush);

  d3.select('.overlay').style('height', '145px');
  d3.select('.selection').style('height', '145px');
  d3.select('.handle').style('height', '145px');

  var handle = gBrush.selectAll(".handle--custom")
    .data([{type: "0"}, {type: "1"}])
    .enter().append("circle")
      .attr("class", "handle--custom")
        .attr("cx", function(d) { return width * d.type; })
        .attr("r", 5)
        .attr("cy", 70);

  gBrush.call(brush.move, xScale.range());

  // https://bl.ocks.org/mbostock/4349545
  
  function brushed() {
    if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
    var s = d3.event.selection || xScale.range();
    
    var total = 0;
    var unfilteredTotal = 0;
    
    if (s == null) {
      bars.classed("active", false);
    } else {
      var start = new Date(0).setUTCSeconds( xScale.invert( s[0] ) ) / 1000;
      var end = new Date(0).setUTCSeconds( xScale.invert( s[1] ) ) / 1000;
      bars.classed("active", function(d) {
        if (d.length) { 
          if (start <= d[0]['date'] && d[0]['date'] <= end) {
            total += d.length;
          }
          unfilteredTotal += d.length;
          return start <= d[0]['date'] && d[0]['date'] <= end;
        } else {
          return 0;
        }
      });
    }
    
    if (handle) {
      handle.attr("cx", function(d, i) { return s[i] ; });
    }
    
    if (total == unfilteredTotal) { 
      //d3.select('#count').html( '{{all|length|intcomma}}' );
    } else {
      d3.select('#count').html( numberWithCommas(total) );    
    }
    makeVillageNames( xScale.invert(s[0]), xScale.invert(s[1]) );
  }

} // end makeTimeline

</script>






{% endblock %}
