{% extends "base.html" %}

{% load profiletags %}

{% block title %}Sumedh Singh [Saini] and enforced disappearances &amp; extrajudicial executions in Punjab, India{% endblock %}

{% block head %}
  <meta name="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />

  <meta itemprop="name" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta itemprop="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta name="twitter:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-12">  
      <h1>Sumedh Singh [Saini]</h1>
      <hr>
  </div>
</div>
 

<div class="row">
    <div class="col-sm-10">
      <p>This is some intro text. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>This is some intro text. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </div>
    <div class="col-sm-2">
      <p><img src="https://via.placeholder.com/500x500" width="100%" height="auto" vspace="5"><br>Photo here</p>
    </div>
</div>

<div class="row">
  <div class="col-12">  
      <hr>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">


      <h5>Command History</h5>

      <p><em><small style="line-height:1.4;">Unless otherwise noted, the command history draws from the following sources: (1) the annual Civil List of the Indian Police Service (IPS) for the Punjab cadre, prepared by the Ministry of Home Affairs, naming the position and date of posting of the senior police official as of January 1 of that year (copies for 1983 to 1996 obtained by Ensaaf at the U.S. Library of Congress), and (2) individual websites of the police districts, listing the names of Senior Superintendents of Police (SSP) and their dates of tenure. This information draws from what is available publicly; the exact account and information rests with the government of India.</small></em></p>

      <p><strong>SSP Ferozepur</strong>, June 28, 1987 —  April 18, 1988:<br>
      <img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p>Awarded President's Police Medal of Gallantry in 1987</p>

      <p><strong>SSP Batala</strong>, April 19, 1988 – July 31, 1988:<br><img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p><strong>SSP Ludhiana</strong>, August 1, 1988 – February 4, 1990:<br>
      <img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p><strong>SSP Bathinda</strong>, February 5, 1990 – April 28, 1990:<br>
      <img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p>Most likely <strong>SSP Kapurthala</strong>, April 29, 1990 – July 17, 1990 (Because this posting falls in the middle of the year, it is not reported in the IPS Civil List. Further, Kapurthala has not provided any information online regarding its historical postings. The daily newspaper <em>Tribune</em> also did not name the SSP Kapurthala during the above time period. We have inferred that Saini was posted in Kapurthala using the process of elimination to determine the SSPs of all other districts during that time frame.)<p>

      <p><strong>SSP Hoshiarpur</strong>, July 17, 1990 – December 11, 1990:<br>
      <img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p><strong>SSP Chandigarh</strong>  (technically on Deputation to Government of India, as SSP Chandigarh, because Chandigarh is a Union Territory) December 12, 1990 – January 3, 1993. The Punjab Governor and others decided to remove Saini from this position due to police abuse of an Army official. Ensaaf has not yet incorporated/included data from Chandigarh on its data visualization site; it is forthcoming.</p>

      <p>Assistant to the Inspector General, January 15, 1993 to September 28, 1993: According to articles in the <em>Tribune</em> on <a href="https://data.ensaaf.org/static/files/sumedh_saini_aig_personnel_19930117.pdf">January 17</a> and <a href="https://data.ensaaf.org/static/files/sumedh_saini_police_commissioner_19930929.pdf">September 29</a>,  Sumedh Saini held, at least, the posts of AIG (Personnel) and AIG (Administration) during this time period.</p>

      <p><strong>SSP/Police Commissioner Ludhiana</strong>, September 30, 1993  – June 19, 1994 (The IPS Civil List describes this posting as SSP, whereas the <a href="https://data.ensaaf.org/static/files/sumedh_saini_police_commissioner_19930929.pdf"><em>Tribune</em> reported</a> this position as the newly created Commissioner of Police of Ludhiana. The Ludhiana police website list a non-cadre Punjab Police Service official as SSP.)<br>
      <img src="https://via.placeholder.com/600x200" width="100%" height="auto" vspace="10"></p>

      <p><strong>DIG Admn. (CPO), Punjab, Chandigarh (ORP)</strong>, June 20, 1994</p>



    </div>
    <div class="col-sm-6">

      <h5>Key Cases</h5>

      <ul>
      <li><a href="TK">Vestibulum Sollicitudin</a>, April 16, 1998</li>
      <li><a href="TK">Sem Pellentesque</a>, April 16, 1998</li>
      <li><a href="TK">Ipsum Vehicula</a>, April 16, 1998</li>
      <li><a href="TK">Ornare Tortor</a>, April 16, 1998</li>
      </ul>

  
      <hr>


      <h5>Command Responsibility</h5>

      <p><a href="/official/S0001/">11 documented cases directly implicating Sumedh Singh »</a></p>
  
      <hr>


      <h5>Disciplinary Proceedings / Legal Cases</h5>
      <ul>
      <li><a href="TK">Nullam Id</a>, April 16, 1998</li>
      <li><a href="TK">Morbi Leo</a>, April 16, 1998</li>
      <li><a href="TK">Donec Id</a>, April 16, 1998</li>
      <li><a href="TK">Cras Justo</a>, April 16, 1998</li>
      </ul>

      <hr>


      <h5>Lawsuits</h5>
      <ul>
      <li><a href="TK">Nullam id v Sumedh Singh</a>, April 16, 1998</li>
      <li><a href="TK">Morbi leo  v Sumedh Singh</a>, April 16, 1998</li>
      <li><a href="TK">Donec id  v Sumedh Singh</a>, April 16, 1998</li>
      <li><a href="TK">Cras justo  v Sumedh Singh</a>, April 16, 1998</li>
      </ul>

            <hr>


      <h5>News articles</h5>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>
      <div class="row">
          <div class="col-2">
            <a href="TK"><img src="https://via.placeholder.com/100x100" width="100%" height="auto" style="margin-bottom:5px;"></a>
          </div>
          <div class="col-10">
            <a href="TK">Nullam id dolor id nibh ultricies vehicula ut id elit</a>, April 16, 1998
          </div>
      </div>


            <hr>


      <h5>Quotes</h5>

      <p>“Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>

      <p>“Praesent commodo cursus magna, vel scelerisque nisl consectetur et.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>

      <p>“Nullam quis risus eget urna mollis ornare vel eu leo.”<br>
      &nbsp;&nbsp;&nbsp; — April 16, 1998</p>


    </div>

  </div>
</div>


{% endblock %}
