{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Key Statistics{% endblock %}

{% block head %}{% endblock %}

{% block content %}



<div class="row">
  <div class="col-12">
    <h1>Key Statistics</h1>
    Percentage of {{stats.total|intcomma}} documented cases<sup>*</sup>
  </div>    
</div>    

<hr>

{% include 'stats.html' %}

<hr>

<p><sup>*</sup> Percentages may not add up to 100%  because some families did not answer every survey question.</p>

{% endblock %}
