{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Key Statistics on Documented Cases of Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India{% endblock %}


{% block head %}

  <meta name="description" content="Key statistics on enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />

  <meta itemprop="name" content="Key Statistics on Documented Cases of Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta itemprop="description" content="Key statistics on enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Key Statistics on Documented Cases of Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta name="twitter:description" content="Key statistics on enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Key Statistics on Documented Cases of Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Key statistics on enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />

{% endblock %}

{% block content %}



<div class="row">
  <div class="col-12">
    <h1>Key Statistics</h1>
    Percentage of {{stats.total|intcomma}} documented cases. Percentages may not equal 100% because some respondents did not answer every survey question.</p>
  </div>    
</div>    

<hr>

{% include 'stats.html' %}

<hr>

{% endblock %}
