{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Overview of Documented Cases{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
{% endblock %}


{% block content %}



<div class="row">
  <div class="col-12">
    <h1>Overview</h1>
    Documented Cases
  </div>    
</div>    

<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.total_killed stats.total_disappeared %}%</span>
    Killed
    <span class="number-of-cases">{{stats.total_killed|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.total_killed stats.total_disappeared %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.total_disappeared stats.total_killed %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.total_disappeared stats.total_killed %}%</span>
    Disappeared
    <span class="number-of-cases">{{stats.total_disappeared|intcomma}}</<span>
  </div> 
</div>

<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.male stats.female %}%</span>
    Male vicitms
    <span class="number-of-cases">{{stats.male|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.male stats.female %}%">&nbsp;</div>
  </div> 


  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.female stats.male %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.female stats.male %}%</span>
    Female vicitms
    <span class="number-of-cases">{{stats.female|intcomma}}</span>
  </div> 

</div> 
    
<hr>
<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.not_married stats.married %}%</span>
    Not married
    <span class="number-of-cases">{{stats.not_married|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.not_married stats.married %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.married stats.not_married %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.married stats.not_married %}%</span>
    Married
    <span class="number-of-cases">{{stats.married|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.genuine_encounter stats.not_genuine_encounter %}%</span>
    Genuine encounters in family
    <span class="number-of-cases">{{stats.genuine_encounter|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.genuine_encounter stats.not_genuine_encounter %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.not_genuine_encounter stats.genuine_encounter %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.not_genuine_encounter stats.genuine_encounter %}%</span>
    No genuine encounters in family
    <span class="number-of-cases">{{stats.not_genuine_encounter|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.amritdhari stats.kesdhari %}%</span>
    Amritdhari
    <span class="number-of-cases">{{stats.amritdhari|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.amritdhari stats.kesdhari %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.kesdhari stats.amritdhari %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.kesdhari stats.amritdhari %}%</span>
    Kesdhari
    <span class="number-of-cases">{{stats.kesdhari|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.militant stats.not_militant %}%</span>
    Militant
    <span class="number-of-cases">{{stats.militant|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.militant stats.not_militant %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.not_militant stats.militant %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.not_militant stats.militant %}%</span>
    Not militant
    <span class="number-of-cases">{{stats.not_militant|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.militant_support stats.no_militant_support %}%</span>
    Provided militant support
    <span class="number-of-cases">{{stats.militant_support|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.militant_support stats.no_militant_support %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_militant_support stats.militant_support %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_militant_support stats.militant_support %}%</span>
    Did not provide militant support
    <span class="number-of-cases">{{stats.no_militant_support|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.prior_detentions stats.no_prior_detentions %}%</span>
    Had prior detentions
    <span class="number-of-cases">{{stats.prior_detentions|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.prior_detentions stats.no_prior_detentions %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_prior_detentions stats.prior_detentions %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_prior_detentions stats.prior_detentions %}%</span>
    Had no prior detentions
    <span class="number-of-cases">{{stats.no_prior_detentions|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.security_officials_apprchd stats.no_security_officials_apprchd %}%</span>
    Families approached security officials
    <span class="number-of-cases">{{stats.security_officials_apprchd|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.security_officials_apprchd stats.no_security_officials_apprchd %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_security_officials_apprchd stats.security_officials_apprchd %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_security_officials_apprchd stats.security_officials_apprchd %}%</span>
    Families did not approach security officials
    <span class="number-of-cases">{{stats.no_security_officials_apprchd|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.court_or_commission stats.no_court_or_commission %}%</span>
    Families approached court or commission
    <span class="number-of-cases">{{stats.court_or_commission|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.court_or_commission stats.no_court_or_commission %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_court_or_commission stats.court_or_commission %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_court_or_commission stats.court_or_commission %}%</span>
    Families did not approach court or commission
    <span class="number-of-cases">{{stats.no_court_or_commission|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_militant_support stats.no_victim_militant_support %}%</span>
    Victim supported militants
    <span class="number-of-cases">{{stats.victim_militant_support|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support stats.no_victim_militant_support %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_militant_support stats.victim_militant_support %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_militant_support stats.victim_militant_support %}%</span>
    Victim did not support militants
    <span class="number-of-cases">{{stats.no_victim_militant_support|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_militant_support_voluntary stats.victim_militant_support_forced %}%</span>
    Vitcims supported militants voluntarily
    <span class="number-of-cases">{{stats.victim_militant_support_voluntary|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support_voluntary stats.victim_militant_support_forced %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support_forced stats.victim_militant_support_voluntary %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.victim_militant_support_forced stats.victim_militant_support_voluntary %}%</span>
    Victims forced to support militants
    <span class="number-of-cases">{{stats.victim_militant_support_forced|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_arrest_status stats.no_victim_arrest_status %}%</span>
    Victims taken into custody before killing or disappearence
    <span class="number-of-cases">{{stats.victim_arrest_status|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_arrest_status stats.no_victim_arrest_status %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_arrest_status stats.victim_arrest_status %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_arrest_status stats.victim_arrest_status %}%</span>
    Victims were not taken into custody before killing or disappearence
    <span class="number-of-cases">{{stats.no_victim_arrest_status|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.so_inform_witnesses stats.no_so_inform_witnesses %}%</span>
    Cases where security officials informed witnesses where they were taking the victim
    <span class="number-of-cases">{{stats.so_inform_witnesses|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.so_inform_witnesses stats.no_so_inform_witnesses %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_so_inform_witnesses stats.so_inform_witnesses %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_so_inform_witnesses stats.so_inform_witnesses %}%</span>
    Cases where security officials did not inform witnesses where they were taking the victim
    <span class="number-of-cases">{{stats.no_so_inform_witnesses|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.security_forces_uniformed stats.no_security_forces_uniformed %}%</span>
    Cases where security forces were uniformed
    <span class="number-of-cases">{{stats.security_forces_uniformed|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.security_forces_uniformed stats.no_security_forces_uniformed %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_security_forces_uniformed stats.security_forces_uniformed %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_security_forces_uniformed stats.security_forces_uniformed %}%</span>
    Cases where security forces were not uniformed
    <span class="number-of-cases">{{stats.no_security_forces_uniformed|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.judge_or_magistrate_status stats.no_judge_or_magistrate_status %}%</span>
    Victims were presented before a judge or magistrate
    <span class="number-of-cases">{{stats.judge_or_magistrate_status|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.judge_or_magistrate_status stats.no_judge_or_magistrate_status %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_judge_or_magistrate_status stats.judge_or_magistrate_status %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_judge_or_magistrate_status stats.judge_or_magistrate_status %}%</span>
    Victims were not presented before a judge or magistrate
    <span class="number-of-cases">{{stats.no_judge_or_magistrate_status|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_detention_loc_known stats.no_victim_detention_loc_known %}%</span>
    Victim detention location known
    <span class="number-of-cases">{{stats.victim_detention_loc_known|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_detention_loc_known stats.no_victim_detention_loc_known %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_detention_loc_known stats.victim_detention_loc_known %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_detention_loc_known stats.victim_detention_loc_known %}%</span>
    Victims detention location not known
    <span class="number-of-cases">{{stats.no_victim_detention_loc_known|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.so_return_body stats.no_so_return_body %}%</span>
    Cases where security officials returned the victim’s body
    <span class="number-of-cases">{{stats.so_return_body|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.so_return_body stats.no_so_return_body %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_so_return_body stats.so_return_body %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_so_return_body stats.so_return_body %}%</span>
    Cases where security officials did not return the victim’s body
    <span class="number-of-cases">{{stats.no_so_return_body|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.securityoff_id_known stats.no_securityoff_id_known %}%</span>
    Cases where the identity of the security officials involved was known
    <span class="number-of-cases">{{stats.securityoff_id_known|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.securityoff_id_known stats.no_securityoff_id_known %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_securityoff_id_known stats.securityoff_id_known %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_securityoff_id_known stats.securityoff_id_known %}%</span>
    Cases where the identity of the security officials involved was not known
    <span class="number-of-cases">{{stats.no_securityoff_id_known|intcomma}}</span>
  </div> 

</div> 
    
<hr>

    <p>Witnesses to abduction/arrest:</p>
      <ul>
      {%if stats.witness_arrest_0 %}<li>{{stats.witness_arrest_0|intcomma}} No witness</li>{%endif%}
      {%if stats.witness_arrest_1 %}<li>{{stats.witness_arrest_1|intcomma}} Spouse</li>{%endif%}
      {%if stats.witness_arrest_2 %}<li>{{stats.witness_arrest_2|intcomma}} Parents</li>{%endif%}
      {%if stats.witness_arrest_3 %}<li>{{stats.witness_arrest_3|intcomma}} Children</li>{%endif%}
      {%if stats.witness_arrest_4 %}<li>{{stats.witness_arrest_4|intcomma}} Sibling</li>{%endif%}
      {%if stats.witness_arrest_5 %}<li>{{stats.witness_arrest_5|intcomma}} Grandparent</li>{%endif%}
      {%if stats.witness_arrest_6 %}<li>{{stats.witness_arrest_6|intcomma}} Cousin</li>{%endif%}
      {%if stats.witness_arrest_7 %}<li>{{stats.witness_arrest_7|intcomma}} Aunt/Uncle</li>{%endif%}
      {%if stats.witness_arrest_8 %}<li>{{stats.witness_arrest_8|intcomma}} Friend</li>{%endif%}
      {%if stats.witness_arrest_9 %}<li>{{stats.witness_arrest_9|intcomma}} Co-villager</li>{%endif%}
      {%if stats.witness_arrest_10 %}<li>{{stats.witness_arrest_10|intcomma}} Interviewee</li>{%endif%}
      {%if stats.witness_arrest_11 %}<li>{{stats.witness_arrest_11|intcomma}} Other</li>{%endif%}
      </ul>


    <p>Number of victims per family:</p>
      <ul>
       {% for o in stats.number_of_victims %}
       {% if o.number_of_victims %}
       <li>{{o.number_of_victims}}: {{o.number_of_victims__count|intcomma}}</li>       
       {% endif %}
       {% endfor %}
      </ul>


      <p>Witness to detention:</p>
      <ul>
      {%if stats.witness_detention_3 %}<li>{{stats.witness_detention_3|intcomma}} Interviewee</li>{%endif%}
      {%if stats.witness_detention_4 %}<li>{{stats.witness_detention_4|intcomma}} Relative</li>{%endif%}
      {%if stats.witness_detention_5 %}<li>{{stats.witness_detention_5|intcomma}} Other Detainee</li>{%endif%}
      {%if stats.witness_detention_6 %}<li>{{stats.witness_detention_6|intcomma}} Sarpanch/politician</li>{%endif%}
      {%if stats.witness_detention_7 %}<li>{{stats.witness_detention_7|intcomma}} Newspaper</li>{%endif%}
      {%if stats.witness_detention_8 %}<li>{{stats.witness_detention_8|intcomma}} Security official</li>{%endif%}
      {%if stats.witness_detention_9 %}<li>{{stats.witness_detention_9|intcomma}} Friend</li>{%endif%}
      {%if stats.witness_detention_10 %}<li>{{stats.witness_detention_10|intcomma}} Other witness</li>{%endif%}
      {%if stats.witness_detention_11 %}<li>{{stats.witness_detention_11|intcomma}} Interview Belief (No Source)</li>{%endif%}
      {%if stats.witness_detention_12 %}<li>{{stats.witness_detention_12|intcomma}} Doctor</li>{%endif%}
      {%if stats.witness_detention_13 %}<li>{{stats.witness_detention_13|intcomma}} Other Victim Family</li>{%endif%}
      {%if stats.witness_detention_14 %}<li>{{stats.witness_detention_14|intcomma}} Other</li>{%endif%}
      </ul>


      <p>Body disposal by security forces:<p>
      <ul>
      {%if stats.so_body_disposal_1 %}<li>{{stats.so_body_disposal_1|intcomma}} Cremated the body</li>{%endif%}
      {%if stats.so_body_disposal_2 %}<li>{{stats.so_body_disposal_2|intcomma}} Dumped body in canal or river</li>{%endif%}
      {%if stats.so_body_disposal_3 %}<li>{{stats.so_body_disposal_3|intcomma}} Dumped body in well or drain</li>{%endif%}
      {%if stats.so_body_disposal_4 %}<li>{{stats.so_body_disposal_4|intcomma}} Buried the body</li>{%endif%}
      {%if stats.so_body_disposal_6 %}<li>{{stats.so_body_disposal_6|intcomma}} Other</li>{%endif%}
      </ul>



  </div>

{% endblock %}
