{% extends "base.html" %}

{% load profiletags %}

{% block title %}Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India{% endblock %}

{% block head %}
  <meta name="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />

  <meta itemprop="name" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta itemprop="description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta name="twitter:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Key perpetrators of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Senior officials implicated in documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-12">
    
      <h1>Key Perpetrators</h1>

      <blockquote>
      <p>“In order to escape accountability for his crimes, the perpetrator does everything in his power to promote forgetting. Secrecy and silence are the perpetrator’s first line of defense. If secrecy fails, the perpetrator attacks the credibility of his victim. If he cannot silence her absolutely, he tries to make sure that no one listens... After every atrocity one can expect to hear the same predictable apologies: it never happened; the victim lies; the victim exaggerates; the victim brought it upon herself; and in any case it is time to forget the past and move on.” </p>
      <p>– Judith Herman </p>
      </blockquote>
 
      <hr>
      
      <p><a href="/static/files/punjab_police_structure.pdf">Police structure chart</a></p>
 
      <p>This page identifies many of the senior officials who reportedly perpetrated gross human rights violations in Punjab, India. Victim profiles that directly implicate these officials in abductions and/or enforced disappearances are linked to each perpetrator. This page will be updated to also identify officials who are directly implicated in extrajudicial executions, and who bear command responsibility for abuses committed under their command.</p>

      <ul>
    {% for o in officials %}
        <li><a href="/official/{{o.0}}">{{o.1}}</li>
    {% endfor %}
      </ul>

      <p><br></p>

  </div>
</div>


{% endblock %}
