{% extends "base.html" %}

{% load profiletags %}

{% block title %}Profiles of the Victims{% endblock %}

{% block content %}

<div class="home">


  <div class="row">
    <div class="col-12">
      <h1>Profiles of the Victims</h1>
      
      <p>Filters here, TK</p>
      
    </div>
  </div>



  <div class="row victims">

    {% for victim in victims %}

    <div class="col-6 col-sm-4 col-md-3" onclick="window.location.href='/profile/{{victim.record_id}}';">

     {% if victim.photo_vic_fn %}
      <div class="home-box" style="background-image:url({% hphoto victim.photo_vic_fn %})">
     {% else %}
      <div class="home-box" style="background-image:url(/static/images/gray.jpg)">
     {% endif %}
      </div>

        <div class="names">
          <h5 style="margin: 0;"><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></h5>
          {% if victim.victim_disappeared_killed == 2 %}
            Killed{% hyear victim.victim_death_date %}
          {% endif %}
          {% if victim.victim_disappeared_killed == 1 %}
            Disappeared{% if victim.victim_last_heard_alive == 4 %}, date unknown{% endif %}{% if victim.victim_last_heard_alive == 1 %}{% hyear victim.victim_arrest_date %}{% endif %}{% if victim.victim_last_heard_alive == 2 %}{% hyear victim.victim_death_date %}{% endif %}{% if victim.victim_last_heard_alive == 3 %}{% hyear dt_last_heard_victim_alive %}{% endif %}
          {% endif %}
          <p><br></p>
        </div>

    </div>
    {% endfor %}



  </div>

</div>

{% endblock %}
