{% extends "base.html" %}

{% load i18n %}
{% load profiletags %}
{% load humanize %}

{% block title %}Profiles of victims of enforced disappearances &amp; extrajudicial executions in Punjab, India{% endblock %}

{% block head %}
  <meta name="description" content="Portraits of the victims of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />

  <meta itemprop="name" content="Profiles of victims of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta itemprop="description" content="Portraits of the victims of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Profiles of victims of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta name="twitter:description" content="Portraits of the victims of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Profiles of victims of enforced disappearances &amp; extrajudicial executions in Punjab, India" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Portraits of the victims of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
{% endblock %}


{% block content %}

<div class="home">


  <form method="get">

  <div class="row">
    <div class="col-md-8">
      <h1 style="margin-bottom:.5rem;">{% trans 'Victim Profiles' %}</h1>
    </div>
    <div class="col-md-4">
      {% if selected or selected_sort %}<p><br><a href="?">{% trans 'Clear filters' %}</a></p>{% endif %}
    </div>


    <div class="form-group filter{% if selected_age %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="age" name="age" onchange="this.form.submit()">
        <option value="">{% trans 'Age' %}</option>
        <option{% if selected_age == '0-17' %} selected=selected{% endif %}>0-17</option>
        <option{% if selected_age == '18-33' %} selected=selected{% endif %}>18-33</option>
        <option{% if selected_age == '34-49' %} selected=selected{% endif %}>34-49</option>
        <option{% if selected_age == '50-64' %} selected=selected{% endif %}>50-64</option>
        <option{% if selected_age == '65+' %} selected=selected{% endif %}>65+</option>
      </select>
    </div>


    <div class="form-group filter{% if selected_caste %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="caste" name="caste" onchange="this.form.submit()">
        <option value="">{% trans 'Caste' %}</option>
        <option{% if selected_caste == 'Chamar' %} selected=selected{% endif %}>{% trans 'Chamar' %}</option>
        <option{% if selected_caste == 'Dalit/SC/BC' %} selected=selected{% endif %}>{% trans 'Dalit/SC/BC' %}</option>
        <option{% if selected_caste == 'Jat' %} selected=selected{% endif %}>{% trans 'Jat' %}</option>
        <option{% if selected_caste == 'Khatri' %} selected=selected{% endif %}>{% trans 'Khatri' %}</option>
        <option{% if selected_caste == 'Mazbi' %} selected=selected{% endif %}>{% trans 'Mazbi' %}</option>
        <option{% if selected_caste == 'Naee' %} selected=selected{% endif %}>{% trans 'Naee' %}</option>
        <option{% if selected_caste == 'Ramgarhia' %} selected=selected{% endif %}>{% trans 'Ramgarhia' %}</option>
        <option{% if selected_caste == 'Other' %} selected=selected{% endif %}>{% trans 'Other' %}</option>
      </select>
    </div>
        
    <div class="form-group filter{% if selected_classification %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="classification" name="classification" onchange="this.form.submit()">
        <option value="">{% trans 'Classification' %}</option>
        <option {% if selected_classification == 'Enforced Disappearance' %} selected=selected{% endif %} value="Enforced Disappearance">{% trans 'Enforced Disappearance' %}</option>
        <option {% if selected_classification == 'Extrajudicial Execution' %} selected=selected{% endif %} value="Extrajudicial Execution">{% trans 'Extrajudicial Execution' %}</option>
      </select>
    </div>
    
    <div class="form-group filter{% if selected_first_name %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="first_name" name="first_name" onchange="this.form.submit()">
        <option value="">{% trans 'First Name' %}</option>
        {% for o in first_names %}
        <option{% if selected_first_name == o.victim_first_name %} selected=selected{% endif %}>{{o.victim_first_name}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group filter{% if selected_gender %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="gender" name="gender" onchange="this.form.submit()">
        <option value="">{% trans 'Gender' %}</option>
        <option {% if selected_gender == 'Female' %} selected=selected{% endif %} value="Female">{% trans 'Female' %}</option>
        <option {% if selected_gender == 'Male' %} selected=selected{% endif %} value="Male">{% trans 'Male' %}</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_urban_rural %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="urban_rural" name="urban_rural" onchange="this.form.submit()">
        <option value="">{% trans 'Urban / Rural' %}</option>
        <option {% if selected_urban_rural == 'Urban' %} selected=selected{% endif %} value="Urban">{% trans 'Urban' %}</option>
        <option {% if selected_urban_rural == 'Rural' %} selected=selected{% endif %} value="Rural">{% trans 'Rural' %}</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_combatant %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="combatant" name="combatant" onchange="this.form.submit()">
        <option value="">{% trans 'Combatant Status' %}</option>
        <option {% if selected_combatant == 'Combatant' %} selected=selected{% endif %} value="Combatant">{% trans 'Combatant' %}</option>
        <option {% if selected_combatant == 'Non-Combatant' %} selected=selected{% endif %} value="Non-Combatant">{% trans 'Non-Combatant' %}</option>
        <option {% if selected_combatant == 'Unknown' %} selected=selected{% endif %} value="Unknown">{% trans 'Unknown' %}</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_religion %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="religion" name="religion" onchange="this.form.submit()">
        <option value="">{% trans 'Religion' %}</option>
        <option{% if selected_religion == 'Christian' %} selected=selected{% endif %}>{% trans 'Christian' %}</option>
        <option{% if selected_religion == 'Hindu' %} selected=selected{% endif %}>{% trans 'Hindu' %}</option>
        <option{% if selected_religion == 'Muslim' %} selected=selected{% endif %}>{% trans 'Muslim' %}</option>
        <option{% if selected_religion == 'Sikh' %} selected=selected{% endif %}>{% trans 'Sikh' %}</option>
        <option{% if selected_religion == 'No religion' %} selected=selected{% endif %}>{% trans 'No religion' %}</option>
        <option{% if selected_religion == 'Other' %} selected=selected{% endif %}>{% trans 'Other' %}</option>
      </select>
    </div>

    <div class="form-group filter{% if selected_district %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="district" name="district" onchange="this.form.submit()">
        <option value="">{% trans 'District / Subdistrict' %}</option>
        {% for o in districts %}
        <option value="{{o.district_id}}" {% if selected_district|add:"0" == o.district_id %} selected=selected{% endif %}>{% trans o.district %}</option>
        {% for t in o.subdistricts %}
        <option value="{{t.tehsil_id}}" {% if selected_district|add:"0" == t.tehsil_id %} selected=selected{% endif %}>&nbsp;&nbsp;- {% trans t.tehsil %}</option>
        {% endfor %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group filter{% if selected_year %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="year" name="year" onchange="this.form.submit()">
        <option value="">{% trans 'Year' %}</option>
        {% for o in years %}
        <option{% if selected_year|add:"0" == o %} selected=selected{% endif %}>{{o}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group filter{% if selected_sort %} selected{% endif %} col-6 col-md-4 col-lg-3">
      <select class="form-control" id="sort" name="sort" onchange="this.form.submit()">
        <option value="">{% trans 'Sort Order' %}</option>
        <option{% if selected_sort == "Oldest to Newest" %} selected=selected{% endif %}>{% trans 'Oldest to Newest' %}</option>
        <option{% if selected_sort == "Newest to Oldest" %} selected=selected{% endif %}>{% trans 'Newest to Oldest' %}</option>
      </select>
    </div>


    <div class="form-group col-6 col-md-4 col-lg-3">
      <a href="../detail" class="btn btn-primary">{% trans 'Sample Full Profile' %}</a>
    </div>

    
  </div>
  </form>


  <br>

  <h3>{{victims|length|numpa}}</h3>


  <div class="row victims">

  {% regroup victims by year as year_list %}

    {% for year in year_list %}

    <div class="col-6 col-sm-4 col-md-3"> 
      <div class="home-box year">
      {% if year.grouper == None %}
        <h3>{% trans 'Date Unknown' %}</h3>
      {% else %}
        <h3>{{year.grouper|date:"Y"}}</h3>
      {% endif %}
      </div>
    </div>

    {% for victim in year.list %}

    <div class="col-6 col-sm-4 col-md-3 victim">

      <div class="home-box" style="background-image:url('{% if victim.photo_vic_fn %}{% hphoto victim.photo_vic_fn %}{% else %}{% if victim.victim_sex == 2 %}/static/images/woman.jpg{% else %}/static/images/gray.jpg{% endif %}{% endif %}')" onclick="window.location.href='/profile/{{victim.record_id}}';" id="p{{victim.record_id}}">     
      </div>

        <div class="names">
          <h5 style="margin: 0;"><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></h5>
          {{victim.village_name}}<br>
          {% if victim.victim_disappeared_killed == 2 %}
            {% trans 'Extrajudicial execution' %},
          {% endif %}
          {% if victim.victim_disappeared_killed == 1 %}
            {% trans 'Disappeared' %},
          {% endif %}
          {% hdateslash victim.timeline_start victim.timeline_end %}
          <p><br></p>
        </div>

    </div>
    {% endfor %}
    {% endfor %}

      
  </div>
</div>


<div class="row">
  <div class="col-12">
    <p><a href="#">▲ {% trans 'Return to the top of the page' %}</a></p>
  </div>
</div>



{% if victims %}{% else %}
  <div class="row"> 
    <div class="col-12"> 
    <p>No matching results for
    {% for t in selected %} {% if not forloop.first %} and {% endif %} <strong>{{ t }}</strong>{% endfor %}. <a href="?">Clear filters.</a></p>
  </div>
</div>
{% endif %}

{% endblock %}
