{% extends "base.html" %}

{% load humanize %}
{% load profiletags %}

{% block title %}Documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India directly implicating {{name}}{% endblock %}

{% block head %}
  <meta name="description" content="Documented cases of enforced disappearances &amp; extrajudicial executions implicating {{name}} in Punjab, India based on data collected through primary source interviews." />

  <meta itemprop="name" content="Documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India directly implicating {{name}}" />
  <meta itemprop="description" content="Documented cases of enforced disappearances &amp; extrajudicial executions implicating {{name}} in Punjab, India based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India directly implicating {{name}}" />
  <meta name="twitter:description" content="Documented cases of enforced disappearances &amp; extrajudicial executions implicating {{name}} in Punjab, India based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Documented cases of enforced disappearances &amp; extrajudicial executions in Punjab, India directly implicating {{name}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="Documented cases of enforced disappearances &amp; extrajudicial executions implicating {{name}} in Punjab, India based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />
{% endblock %}


{% block content %}


<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{{name}}</h1>
  </div>
</div>

{% if victims.all|length > 0 %}


<div class="row keyword">
  <div class="col-sm-6">
      
   
  {% if slug == 'S0001' %}
    <p class="m-2">View the <strong><a href="/official/S0001/detail">complete perpetrator profile on Sumedh Saini</a></strong>, incorporating command history, promotions, awards, and legal cases.</p>
    <hr>
  {% endif %}

      
  <p class="m-2">{{stats.total|intcomma}} documented case{{stats.total|pluralize}} directly implicating {{name}}:</p>

  {% regroup victims.all by district as district_list %}

  {% for district in district_list %}
    {% if forloop.first %}
      <ul>{% endif %}
        <li><a href="#{{district.grouper|default_if_none:"Location Withheld"|slugify}}">{{ district.grouper|default_if_none:"Location Withheld"  }}</a></li>
    {% if forloop.last %}</ul>{% endif %}        
  {% endfor %}
  

  {% for district in district_list %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
          <hr>
        <h2><a name="{{district.grouper|default_if_none:"Location Withheld"|slugify}}"></a>{{ district.grouper|default_if_none:"Location Withheld"  }} {% if district.grouper != None %}District{% endif %}</h2>
      </div>
    </div>
    
  {% regroup district.list by tehsil as tehsil_list %}

  {% for tehsil in tehsil_list %}
  
    {%if tehsil.grouper %}
    <div class="row">
      <div class="col-sm-12 col-md m-2">
        <h5>{{ tehsil.grouper|default_if_none:""  }} Subdistrict</h5>
      </div>
    </div>
    {% endif %}

    {% for victim in tehsil.list %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
  
      <strong><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></strong>


      {% if victim.victim_sex %}{% sex victim.victim_sex %}{% endif %}{% if victim.victim_age %}{% if victim.victim_age != "Don't know" %}{% if victim.victim_sex %},{% endif %}        
      age {{victim.victim_age|default:"unknown"}}        
        {% if victim.victim_disappeared_killed  %}
         at time of 
        {% if victim.victim_disappeared_killed == 1 %}disappearance{% endif %}{% if victim.victim_disappeared_killed == 2 %}extrajudicial execution{% endif %}{% endif %}{% endif %}{% endif %}{% if victim.village_name_checked %}, <a href="/village/{{victim.village_id}}">{{victim.village_name}}</a>{% else %}{% if victim.village_name %}, {{victim.village_name|lowercaselocationwithheld}} {% endif %}{% endif %}

      </div>
    </div>
    
    {% endfor %}
  
  {% endfor %}

  {% endfor %}

  
  </div>
  
  
  <div class="col-sm-6 border-left">
    
    <p class="m-2-top">Key statistics of cases directly implicating {{name}}:</p>

    {% include 'stats.html' %}

  </div>      
</div>      
  


  
  {% else %}

  <div class="row">
    <div class="col-sm-12 col-md m-2">   
      <p>No documented cases directly implicating {{name}}.</p>
    </div>
  </div>

  {% endif %}
  


<div class="row">
  <div class="col-12">
    <div class="border-top footnotes">
      <p> Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
