{% load humanize %}
{% load i18n %}
{% load profiletags %}



<div id="stats-profile" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Victim Demographics" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">
 
    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Gender" %}</strong></p>

        <div>
          <span class="percent">{% percent stats.male stats.total%}%</span>
          {% trans "Male" %}
          <span class="number-of-cases">{{stats.male|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.male stats.total%}%">&nbsp;</div>
        </div> 
        <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.female stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.female stats.total%}%</span>
          <a href="/profiles/?gender=Female">{% trans "Female" %}</a>
          <span class="number-of-cases">{{stats.female|numpa}}</span>
        </div> 

      </div> 
    </div> 
    
    <hr>

    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Marital status" %}</strong></p>

        <div>
          <span class="percent">{% percent stats.not_married stats.total%}%</span>
          {% trans "Not married" %}
          <span class="number-of-cases">{{stats.not_married|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.not_married stats.total%}%">&nbsp;</div>
        </div> 

        <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.married stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.married stats.total%}%</span>
          {% trans "Married" %}
          <span class="number-of-cases">{{stats.married|numpa}}</span>
        </div> 


      </div> 
    </div> 
    
    <hr>

    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "If married, did the victim have children?" %}</strong></p>
           {% for o in stats.children %}
           {%if o.1 %}
       
            {% if forloop.first %}
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
            {% endif %}

            {% if forloop.last %}
            <div>
            <div class="percent-bar bar-2" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            </div>
            {% endif %}
       
           {% endif %}
           {% endfor %}


        <p><br>{% trans "Total children surviving victims:" %} {{stats.total_children|numpa}}</p>
      </div>
    </div>
    
    <hr>

    <div class="row">
      <div class="col-12">

          <p><strong>{% trans "Religion" %}</strong></p>

           {% for o in stats.religion %}
           {%if o.1 %}
       
            {% if forloop.first %}
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
           {% endif %}

            {% if forloop.last %}
            <div>
            <div class="percent-bar bar-2" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            </div>
           {% endif %}
   
           {% endif %}
           {% endfor %}

      </div>
    </div>
    
    <hr>

    <div class="row">
      <div class="col-12">

          <p><strong>{% trans "Caste" %}</strong></p>

           {% for o in stats.caste %}
           {%if o.1 %}
       
            {% if forloop.first %}
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
           {% endif %}

            {% if forloop.last %}
            <div>
            <div class="percent-bar bar-2" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            </div>
           {% endif %}
       
           {% endif %}
           {% endfor %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Age" %}</strong></p>

           {% for o in stats.age_range %}
           {%if o.1 %}
       
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
       
           {% endif %}
           {% endfor %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">

          <p><strong>{% trans "Education" %}</strong></p>

           {% for o in stats.education %}
           {%if o.1 %}
       
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
       
           {% endif %}
           {% endfor %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">

            <p><strong>{% trans "Employment" %}</strong></p>

           {% for o in stats.employment %}
           {%if o.1 %}
       
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
       
           {% endif %}
           {% endfor %}

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Urban / Rural" %}</strong></p>

        <div>
          <span class="percent">{% percent stats.rural stats.total%}%</span>
          {% trans 'Rural' %}
          <span class="number-of-cases">{{stats.rural|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.rural stats.total%}%">&nbsp;</div>
        </div> 
        <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.urban stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.urban stats.total%}%</span>
          {% trans 'Urban' %}
          <span class="number-of-cases">{{stats.urban|numpa}}</span>
        </div> 

      </div>
    </div>


  </div>
</div>


<hr>

<div id="stats-detention" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Abduction, Detention, & Torture" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">


      <div class="row">
        <div class="col-12">
        
          <p><strong>{% trans "Prior detentions" %}</strong></p>

          <div>
          <span class="percent">{% percent stats.prior_detentions stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.prior_detentions|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.prior_detentions stats.total%}%">&nbsp;</div>
          </div> 

          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_prior_detentions stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_prior_detentions stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_prior_detentions|numpa}}</span>
          </div> 

      </div> 
    </div> 
    
      <hr>


      <div class="row">
        <div class="col-12">
          <p><strong>{% trans "Prior torture" %}</strong></p>

          <div>          
          <span class="percent">{% percent stats.prior_torture_yes stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.prior_torture_yes|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.prior_torture_yes stats.total%}%">&nbsp;</div>
          </div> 
          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.prior_torture_no stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.prior_torture_no stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.prior_torture_no|numpa}}</span>
        </div> 

        </div> 
      </div> 
      
        
      <hr>

      <div class="row">

        <div class="col-12">
          <p><strong>{% trans "Abduction preceding enforced disappearance/extrajudicial execution" %}</strong></p>

          <div>
          <span class="percent">{% percent stats.victim_arrest_status stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.victim_arrest_status|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.victim_arrest_status stats.total%}%">&nbsp;</div>
          </div>
          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_victim_arrest_status stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_victim_arrest_status stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_victim_arrest_status|numpa}}</span>
          </div> 

        </div> 
      </div> 

      <hr>

      <div class="row">
        <div class="col-12">
          <p><strong>{% trans "Security officials informed witnesses where they were taking the victim" %}</strong></p>

          <div>
          <span class="percent">{% percent stats.so_inform_witnesses stats.witness_arrest_yes%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.so_inform_witnesses|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.so_inform_witnesses stats.witness_arrest_yes%}%">&nbsp;</div>
          </div> 

          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_so_inform_witnesses stats.witness_arrest_yes%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_so_inform_witnesses stats.witness_arrest_yes%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_so_inform_witnesses|numpa}}</span>
          </div> 

        </div> 
      </div> 

      <hr>

      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Witnesses to abduction" %}</strong></p>

             {% for o in stats.witness_arrest %}
             {%if o.1 %}

            {% if forloop.first %}
              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
            {% endif %}
            {% if forloop.last %}
              <div>
              <div class="percent-bar bar-2" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0}} <span class="number-of-cases">{{o.1|numpa}}</span>
              </div>
            {% endif %}

             {% endif %}
             {% endfor %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Victim abduction location" %}</strong></p>

             {% for o in stats.victim_arrest_location %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Detention facility type" %}</strong></p>

          <p><em>{% trans "Data forthcoming" %}</em></p>

          {% comment %}
             {% for o in stats.detention_facility_type %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0|safe}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}
          {% endcomment %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">
          <p><strong>{% trans "Preceding detention location known" %}</strong></p>

          <div>
            <span class="percent">{% percent stats.victim_detention_loc_known stats.total%}%</span>
            {% trans "Yes" %}
            <span class="number-of-cases">{{stats.victim_detention_loc_known|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.victim_detention_loc_known stats.total%}%">&nbsp;</div>
          </div>
          <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.no_victim_detention_loc_known stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.no_victim_detention_loc_known stats.total%}%</span>
            {% trans "No" %}
            <span class="number-of-cases">{{stats.no_victim_detention_loc_known|numpa}}</span>
          </div> 

        </div> 
      </div> 

      <hr>

      <div class="row">
        <div class="col-12">

            <p><strong>{% trans "Witnesses to detention preceding enforced disappearance/extrajudicial execution" %}</strong></p>
            
            <p><em>{% trans "Data forthcoming" %}</em></p>

             {% comment %}
              
             {% for o in stats.witness_detention %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}

             {% endcomment %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">

              <p><strong>{% trans "Security official response to victim status" %}</strong></p>

             {% for o in stats.security_official_response %}
             {%if o.1 %}
       
              <div>
              <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0|safe}}  <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
       
             {% endif %}
             {% endfor %}

        </div>
      </div>
            
      <hr>

      <div class="row">
        <div class="col-12">
        
          <p><strong>{% trans "Victim presented before judge/magistrate" %}</strong></p>
        
          <div>
          <span class="percent">{% percent stats.judge_or_magistrate_status stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.judge_or_magistrate_status|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.judge_or_magistrate_status stats.total%}%">&nbsp;</div>
          </div> 

          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_judge_or_magistrate_status stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_judge_or_magistrate_status stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_judge_or_magistrate_status|numpa}}</span>
          </div> 

        </div> 
      </div> 
  
        
  </div>
</div>


<hr>

<div id="stats-execution" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Enforced Disappearances vs. Extrajudicial Executions" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">

    <div class="row">
      <div class="col-12">
        <p><strong>{% trans "Classification" %}</strong></p>
              
        <div>
          <span class="percent">{% percent stats.total_killed stats.total%}%</span>
          {% trans "Extrajudicial executions" %}
          <span class="number-of-cases">{{stats.total_killed|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.total_killed stats.total%}%">&nbsp;</div>
        </div> 

        <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.total_disappeared stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.total_disappeared stats.total%}%</span>
          {% trans "Enforced disappearances" %}
          <span class="number-of-cases">{{stats.total_disappeared|numpa}}</<span>
        </div> 

      </div>
    </div>


    <hr>
    
    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Number of victims per family" %}</strong></p>
           {% for o in stats.number_of_victims %}
           {% if o.number_of_victims %}
     
            <div>
            <span class="percent">{% percent o.number_of_victims__count stats.total %}%</span> {{o.number_of_victims}} {% trans 'victim' %}{% if request.LANGUAGE_CODE == 'en-US' %}{{ o.number_of_victims|pluralize }}{%endif%} <span class="number-of-cases">{{o.number_of_victims__count|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.number_of_victims__count stats.total %}%">&nbsp;</div>        
            </div>
     
           {% endif %}
           {% endfor %}

      </div>
    </div>


    <hr>


    <div class="row">
      <div class="col-12">

        <p><strong>{% trans "Related incidents" %}</strong></p>

        <div>
          <span class="percent">{% percent stats.genuine_encounter stats.total%}%</span>
          {% trans "Genuine encounters in family" %}
          <span class="number-of-cases">{{stats.genuine_encounter|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.genuine_encounter stats.total%}%">&nbsp;</div>
        </div> 

        <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.not_genuine_encounter stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.not_genuine_encounter stats.total%}%</span>
          {% trans "No genuine encounters in family" %}
          <span class="number-of-cases">{{stats.not_genuine_encounter|numpa}}</span>
        </div> 

      </div> 
    </div> 


  </div>
</div>



<hr>



<div id="stats-disposal" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Body Disposal" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">


      <div class="row">
        <div class="col-12">

            <p><strong>{% trans "Body disposal by security forces" %}</strong><p>

           {% for o in stats.so_body_disposal %}
           {%if o.1 %}
       
            <div>
            <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
            <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
            </div>
       
           {% endif %}
           {% endfor %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">

        <p><strong>{% trans "Security forces returned body" %}</strong></p>

        <div>
          <span class="percent">{% percent stats.so_return_body_1 stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.so_return_body_1|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.so_return_body_1 stats.total%}%">&nbsp;</div>
        </div> 

        <div>
          <span class="percent">{% percent stats.so_return_body_2 stats.total%}%</span>
          Yes, but forced immediate cremation
          <span class="number-of-cases">{{stats.so_return_body_2|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.so_return_body_2 stats.total%}%">&nbsp;</div>
        </div> 

        <div>
          <span class="percent">{% percent stats.no_so_return_body stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_so_return_body|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.no_so_return_body stats.total%}%">&nbsp;</div>
        </div> 

      </div> 
    </div> 


      <hr>

      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Condition of corpse, if known" %}</strong></p>

             {% for o in stats.condition_of_remains %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}

        </div>
      </div>
      
      
  </div>
</div>

    


<hr>

<div id="stats-security" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Security Forces Implicated" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">


      <div class="row">

        <div class="col-12">
          <p><strong>{% trans "Names of involved security officials known" %}</strong></p>
        
          <div>
          <span class="percent">{% percent stats.securityoff_id_known stats.total%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.securityoff_id_known|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.securityoff_id_known stats.total%}%">&nbsp;</div>
         </div> 

          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_securityoff_id_known stats.total%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_securityoff_id_known stats.total%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_securityoff_id_known|numpa}}</span>
          </div> 

        </div> 
      </div> 
    
      <hr>

      {% if stats.witness_arrest_yes %}

      <div class="row">
        <div class="col-12">
        
          <p><strong>{% trans "Security forces uniformed" %}</strong></p>

          <div>
          <span class="percent">{% percent stats.security_forces_uniformed stats.witness_arrest_yes%}%</span>
          {% trans "Yes" %}
          <span class="number-of-cases">{{stats.security_forces_uniformed|numpa}}</span>
          <div class="percent-bar" style="width:{% percent stats.security_forces_uniformed stats.witness_arrest_yes%}%">&nbsp;</div>
          </div> 

          <div>
          <div class="percent-bar bar-2" style="width:{% percent stats.no_security_forces_uniformed stats.witness_arrest_yes%}%">&nbsp;</div>
          <span class="percent">{% percent stats.no_security_forces_uniformed stats.witness_arrest_yes%}%</span>
          {% trans "No" %}
          <span class="number-of-cases">{{stats.no_security_forces_uniformed|numpa}}</span>
          </div> 

        </div> 
      </div> 

      {% endif %}

      <hr>

      <div class="row">
        <div class="col-12">

            <p><strong>{% trans "Type(s) of security forces involved in abduction" %}</strong></p>

             {% for o in stats.arrest_security_type %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0|safe}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}

        </div>
      </div>



      <hr>

      <div class="row">
        <div class="col-12">

            <p><strong>{% trans "Type(s) of security forces involved in extrajudicial execution" %}</strong></p>

             {% for o in stats.killing_securityforcestype %}
             {%if o.1 %}

              <div>
              <span class="percent">{% percent o.1 stats.total %}% </span> {{o.0|safe}} <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>

             {% endif %}
             {% endfor %}

        </div>
      </div>



  </div>
</div>


<hr>

<div id="stats-militancy" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Militancy Involvement" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">

        <div class="row">
          <div class="col-12">
            <p><strong>{% trans "Combatant status" %}</strong></p>

          <div>
            <span class="percent">{% percent stats.militant stats.total%}%</span>
            {% trans "Combatant" %}
            <span class="number-of-cases">{{stats.militant|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.militant stats.total%}%">&nbsp;</div>
          </div> 

          <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.not_militant stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.not_militant stats.total%}%</span>
            {% trans "Non-combatant" %}
            <span class="number-of-cases">{{stats.not_militant|numpa}}</span>
          </div> 

        </div> 
        </div> 
    
        <hr>

        <div class="row">
          <div class="col-12">
            <p><strong>{% trans "Non-combatant, provided support to militants" %}</strong></p>

            <div>          
            <span class="percent">{% percent stats.militant_support stats.total%}%</span>
            {% trans "Yes" %}
            <span class="number-of-cases">{{stats.militant_support|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.militant_support stats.total%}%">&nbsp;</div>
            </div> 

            <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.no_militant_support stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.no_militant_support stats.total%}%</span>
            {% trans "No" %}
            <span class="number-of-cases">{{stats.no_militant_support|numpa}}</span>
            </div> 

          </div> 
        </div> 
    
        <hr>

        <div class="row">
          <div class="col-12">
            <p><strong>{% trans "If provided support, support was voluntary" %}</strong></p>

            <div>          
            <span class="percent">{% percent stats.victim_militant_support_voluntary stats.total%}%</span>
            {% trans "Yes" %}
            <span class="number-of-cases">{{stats.victim_militant_support_voluntary|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.victim_militant_support_voluntary stats.total%}%">&nbsp;</div>
            </div> 
            <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.victim_militant_support_forced stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.victim_militant_support_forced stats.total%}%</span>
            {% trans "No" %}
            <span class="number-of-cases">{{stats.victim_militant_support_forced|numpa}}</span>
          </div> 

          </div> 
        </div> 
    
  </div>
</div>
    
    
<hr>



<div id="stats-advocacy" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Remedies & Impact" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">


      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Approached court or commission" %}</strong></p>
          
          <div>
            <span class="percent">{% percent stats.court_or_commission stats.total%}%</span>
            {% trans "Yes" %}
            <span class="number-of-cases">{{stats.court_or_commission|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.court_or_commission stats.total%}%">&nbsp;</div>
          </div> 

          <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.no_court_or_commission stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.no_court_or_commission stats.total%}%</span>
            {% trans "No" %}
            <span class="number-of-cases">{{stats.no_court_or_commission|numpa}}</span>
          </div> 


        </div> 
      </div> 


      <hr>
      
      
      <div class="row">

        <div class="col-12">

          <p><strong>{% trans "Approached security officials" %}</strong></p>

          <div>
            <span class="percent">{% percent stats.security_officials_apprchd stats.total%}%</span>
            {% trans "Yes" %}
            <span class="number-of-cases">{{stats.security_officials_apprchd|numpa}}</span>
            <div class="percent-bar" style="width:{% percent stats.security_officials_apprchd stats.total%}%">&nbsp;</div>
          </div> 

          <div>
            <div class="percent-bar bar-2" style="width:{% percent stats.no_security_officials_apprchd stats.total%}%">&nbsp;</div>
            <span class="percent">{% percent stats.no_security_officials_apprchd stats.total%}%</span>
            {% trans "No" %}
            <span class="number-of-cases">{{stats.no_security_officials_apprchd|numpa}}</span>
          </div> 

        </div> 
      </div> 
      
      <hr>

      <div class="row">
        <div class="col-12">

              <p><strong>{% trans "Reason the family did not pursue any kind of action" %}</strong></p>

             {% for o in stats.no_action_pursued_reason %}
             {%if o.1 %}
       
              <div>
              <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
       
             {% endif %}
             {% endfor %}

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12">

              <p><strong>{% trans "Remedies desired from government" %}</strong></p>

             {% for o in stats.govnt_response_desired %}
             {%if o.1 %}
       
              <div>
              <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
       
             {% endif %}
             {% endfor %}

        </div>
      </div>


  </div>
</div>

    

<hr>
    

<div id="stats-location" class="stats-block">
  <p><a class="toggle-switch" href="#"><strong>{% trans "Year &amp; District" %}&nbsp;<span class="arrow"></span></strong></a></p>
  <div class="toggle">


      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "District" %}</strong></p>
          
             {% for o in stats.districts %}
             {%if o.1 %}
       
              <div>
              <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
       
             {% endif %}
             {% endfor %}

        </div> 
      </div> 

      <hr>

      <div class="row">
        <div class="col-12">

          <p><strong>{% trans "Year" %}</strong></p>
          
             {% for o in stats.years %}
     
              <div>
              <span class="percent">{% percent o.1 stats.total %}%</span>  {{o.0}}  <span class="number-of-cases">{{o.1|numpa}}</span>
              <div class="percent-bar" style="width:{% percent o.1 stats.total %}%">&nbsp;</div>        
              </div>
       
             {% endfor %}

        </div> 
      </div> 



  </div>
</div>

