{% load humanize %}
{% load profiletags %}


<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.total_killed stats.total_disappeared %}%</span>
    Killed
    <span class="number-of-cases">{{stats.total_killed|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.total_killed stats.total_disappeared %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.total_disappeared stats.total_killed %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.total_disappeared stats.total_killed %}%</span>
    Disappeared
    <span class="number-of-cases">{{stats.total_disappeared|intcomma}}</<span>
  </div> 
</div>

<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.male stats.female %}%</span>
    Male vicitms
    <span class="number-of-cases">{{stats.male|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.male stats.female %}%">&nbsp;</div>
  </div> 


  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.female stats.male %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.female stats.male %}%</span>
    Female vicitms
    <span class="number-of-cases">{{stats.female|intcomma}}</span>
  </div> 

</div> 
    
<hr>
<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.not_married stats.married %}%</span>
    Not married
    <span class="number-of-cases">{{stats.not_married|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.not_married stats.married %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.married stats.not_married %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.married stats.not_married %}%</span>
    Married
    <span class="number-of-cases">{{stats.married|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.genuine_encounter stats.not_genuine_encounter %}%</span>
    Genuine encounters in family
    <span class="number-of-cases">{{stats.genuine_encounter|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.genuine_encounter stats.not_genuine_encounter %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.not_genuine_encounter stats.genuine_encounter %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.not_genuine_encounter stats.genuine_encounter %}%</span>
    No genuine encounters in family
    <span class="number-of-cases">{{stats.not_genuine_encounter|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.amritdhari stats.kesdhari %}%</span>
    Amritdhari
    <span class="number-of-cases">{{stats.amritdhari|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.amritdhari stats.kesdhari %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.kesdhari stats.amritdhari %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.kesdhari stats.amritdhari %}%</span>
    Kesdhari
    <span class="number-of-cases">{{stats.kesdhari|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.militant stats.not_militant %}%</span>
    Militant
    <span class="number-of-cases">{{stats.militant|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.militant stats.not_militant %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.not_militant stats.militant %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.not_militant stats.militant %}%</span>
    Not militant
    <span class="number-of-cases">{{stats.not_militant|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.militant_support stats.no_militant_support %}%</span>
    Provided militant support
    <span class="number-of-cases">{{stats.militant_support|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.militant_support stats.no_militant_support %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_militant_support stats.militant_support %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_militant_support stats.militant_support %}%</span>
    Did not provide militant support
    <span class="number-of-cases">{{stats.no_militant_support|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.prior_detentions stats.no_prior_detentions %}%</span>
    Had prior detentions
    <span class="number-of-cases">{{stats.prior_detentions|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.prior_detentions stats.no_prior_detentions %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_prior_detentions stats.prior_detentions %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_prior_detentions stats.prior_detentions %}%</span>
    Had no prior detentions
    <span class="number-of-cases">{{stats.no_prior_detentions|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.security_officials_apprchd stats.no_security_officials_apprchd %}%</span>
    Families approached security officials
    <span class="number-of-cases">{{stats.security_officials_apprchd|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.security_officials_apprchd stats.no_security_officials_apprchd %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_security_officials_apprchd stats.security_officials_apprchd %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_security_officials_apprchd stats.security_officials_apprchd %}%</span>
    Families did not approach security officials
    <span class="number-of-cases">{{stats.no_security_officials_apprchd|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.court_or_commission stats.no_court_or_commission %}%</span>
    Families approached court or commission
    <span class="number-of-cases">{{stats.court_or_commission|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.court_or_commission stats.no_court_or_commission %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_court_or_commission stats.court_or_commission %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_court_or_commission stats.court_or_commission %}%</span>
    Families did not approach court or commission
    <span class="number-of-cases">{{stats.no_court_or_commission|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_militant_support stats.no_victim_militant_support %}%</span>
    Victim supported militants
    <span class="number-of-cases">{{stats.victim_militant_support|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support stats.no_victim_militant_support %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_militant_support stats.victim_militant_support %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_militant_support stats.victim_militant_support %}%</span>
    Victim did not support militants
    <span class="number-of-cases">{{stats.no_victim_militant_support|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_militant_support_voluntary stats.victim_militant_support_forced %}%</span>
    Vitcims supported militants voluntarily
    <span class="number-of-cases">{{stats.victim_militant_support_voluntary|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support_voluntary stats.victim_militant_support_forced %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.victim_militant_support_forced stats.victim_militant_support_voluntary %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.victim_militant_support_forced stats.victim_militant_support_voluntary %}%</span>
    Victims forced to support militants
    <span class="number-of-cases">{{stats.victim_militant_support_forced|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_arrest_status stats.no_victim_arrest_status %}%</span>
    Victims taken into custody before killing or disappearence
    <span class="number-of-cases">{{stats.victim_arrest_status|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_arrest_status stats.no_victim_arrest_status %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_arrest_status stats.victim_arrest_status %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_arrest_status stats.victim_arrest_status %}%</span>
    Victims were not taken into custody before killing or disappearence
    <span class="number-of-cases">{{stats.no_victim_arrest_status|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.so_inform_witnesses stats.no_so_inform_witnesses %}%</span>
    Cases where security officials informed witnesses where they were taking the victim
    <span class="number-of-cases">{{stats.so_inform_witnesses|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.so_inform_witnesses stats.no_so_inform_witnesses %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_so_inform_witnesses stats.so_inform_witnesses %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_so_inform_witnesses stats.so_inform_witnesses %}%</span>
    Cases where security officials did not inform witnesses where they were taking the victim
    <span class="number-of-cases">{{stats.no_so_inform_witnesses|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.security_forces_uniformed stats.no_security_forces_uniformed %}%</span>
    Cases where security forces were uniformed
    <span class="number-of-cases">{{stats.security_forces_uniformed|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.security_forces_uniformed stats.no_security_forces_uniformed %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_security_forces_uniformed stats.security_forces_uniformed %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_security_forces_uniformed stats.security_forces_uniformed %}%</span>
    Cases where security forces were not uniformed
    <span class="number-of-cases">{{stats.no_security_forces_uniformed|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.judge_or_magistrate_status stats.no_judge_or_magistrate_status %}%</span>
    Victims were presented before a judge or magistrate
    <span class="number-of-cases">{{stats.judge_or_magistrate_status|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.judge_or_magistrate_status stats.no_judge_or_magistrate_status %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_judge_or_magistrate_status stats.judge_or_magistrate_status %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_judge_or_magistrate_status stats.judge_or_magistrate_status %}%</span>
    Victims were not presented before a judge or magistrate
    <span class="number-of-cases">{{stats.no_judge_or_magistrate_status|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.victim_detention_loc_known stats.no_victim_detention_loc_known %}%</span>
    Victim detention location known
    <span class="number-of-cases">{{stats.victim_detention_loc_known|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.victim_detention_loc_known stats.no_victim_detention_loc_known %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_victim_detention_loc_known stats.victim_detention_loc_known %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_victim_detention_loc_known stats.victim_detention_loc_known %}%</span>
    Victims detention location not known
    <span class="number-of-cases">{{stats.no_victim_detention_loc_known|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.so_return_body stats.no_so_return_body %}%</span>
    Cases where security officials returned the victim’s body
    <span class="number-of-cases">{{stats.so_return_body|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.so_return_body stats.no_so_return_body %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_so_return_body stats.so_return_body %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_so_return_body stats.so_return_body %}%</span>
    Cases where security officials did not return the victim’s body
    <span class="number-of-cases">{{stats.no_so_return_body|intcomma}}</span>
  </div> 


</div> 
    
<hr>

<div class="row">

  <div class="col-12">
    <span class="percent">{% percentage stats.securityoff_id_known stats.no_securityoff_id_known %}%</span>
    Cases where the identity of the security officials involved was known
    <span class="number-of-cases">{{stats.securityoff_id_known|intcomma}}</span>
    <div class="percent-bar" style="width:{% percentage stats.securityoff_id_known stats.no_securityoff_id_known %}%">&nbsp;</div>
  </div> 

  <div class="col-12">
    <div class="percent-bar" style="width:{% percentage stats.no_securityoff_id_known stats.securityoff_id_known %}%">&nbsp;</div>
    <span class="percent">{% percentage stats.no_securityoff_id_known stats.securityoff_id_known %}%</span>
    Cases where the identity of the security officials involved was not known
    <span class="number-of-cases">{{stats.no_securityoff_id_known|intcomma}}</span>
  </div> 

</div> 
    
<hr>

<div class="row">
  <div class="col-12">

    <p>Witnesses to abduction/arrest:</p>

       {% for o in stats.witness_arrest %}
       {%if o.1 %}

        <div>
        <span class="percent">{% percent_total o.1 stats.total %}% </span> {{o.0}} &nbsp; <span class="number-of-cases">{{o.1|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total o.1 stats.total %}%">&nbsp;</div>        
        </div>

       {% endif %}
       {% endfor %}

  </div>
</div>
  
    <hr>

<div class="row">
  <div class="col-12">

    <p>Number of victims per family:</p>
       {% for o in stats.number_of_victims %}
       {% if o.number_of_victims %}
       
        <div>
        <strong>{{o.number_of_victims}}</strong> victim{{ o.number_of_victims|pluralize }} &nbsp; {% percent_total o.number_of_victims__count stats.total %}% &nbsp; <span class="number-of-cases">{{o.number_of_victims__count|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total o.number_of_victims__count stats.total %}%">&nbsp;</div>        
        </div>
       
       {% endif %}
       {% endfor %}

  </div>
</div>
  
    <hr>

<div class="row">
  <div class="col-12">

      <p>Witness to detention:</p>

       {% for o in stats.witness_detention %}
       {%if o.1 %}

        <div>
        <span class="percent">{% percent_total o.1 stats.total %}% </span> {{o.0}} &nbsp; <span class="number-of-cases">{{o.1|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total o.1 stats.total %}%">&nbsp;</div>        
        </div>

       {% endif %}
       {% endfor %}

  </div>
</div>
  
    <hr>

<div class="row">
  <div class="col-12">

      <p>Body disposal by security forces:<p>

      {%if stats.so_body_disposal_1 %}
        <div>
        <span class="percent">{% percent_total stats.so_body_disposal_1 stats.total %}% </span> Cremated the body &nbsp; <span class="number-of-cases">{{stats.so_body_disposal_1|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total stats.so_body_disposal_1 stats.total %}%">&nbsp;</div>        
        </div>
      {%endif%}

      {%if stats.so_body_disposal_2 %}
        <div>
        <span class="percent">{% percent_total stats.so_body_disposal_2 stats.total %}% </span> Dumped body in canal or river &nbsp; <span class="number-of-cases">{{stats.so_body_disposal_2|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total stats.so_body_disposal_2 stats.total %}%">&nbsp;</div>        
        </div>
      {%endif%}

      {%if stats.so_body_disposal_3 %}
        <div>
        <span class="percent">{% percent_total stats.so_body_disposal_3 stats.total %}% </span> Dumped body in well or drain &nbsp; <span class="number-of-cases">{{stats.so_body_disposal_3|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total stats.so_body_disposal_3 stats.total %}%">&nbsp;</div>        
        </div>
      {%endif%}

      {%if stats.so_body_disposal_4 %}
        <div>
        <span class="percent">{% percent_total stats.so_body_disposal_4 stats.total %}% </span> Buried the body &nbsp; <span class="number-of-cases">{{stats.so_body_disposal_4|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total stats.so_body_disposal_4 stats.total %}%">&nbsp;</div>        
        </div>
      {%endif%}

      {%if stats.so_body_disposal_6 %}
        <div>
        <span class="percent">{% percent_total stats.so_body_disposal_6 stats.total %}% </span> Other &nbsp; <span class="number-of-cases">{{stats.so_body_disposal_6|intcomma}}</span>
        <div class="percent-bar" style="width:{% percent_total stats.so_body_disposal_6 stats.total %}%">&nbsp;</div>        
        </div>
      {%endif%}
      

    </div>
  </div>
