{% extends "base.html" %}

{% load humanize %}

{% block title %}{{villages.all.0.tehsil}}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{{villages.all.0.tehsil}}</h1>
    <p><span class="kicker">District</span> <a href="/district/{{villages.all.0.district_id}}">{{villages.all.0.district}}</a></p>
  </div>
</div>



<div class="row">
  <div class="col-sm-12 col-md m-2">
    
    <p>List of villages:</p>


    {% for village in villages.all %}

<div class="row">
  <div class="col-sm-12 col-md m-2">
    
    <a href="/village/{{village.id}}">{{village.village_name}}</a>

  </div>
</div>
      
    {% endfor %}


<br>
  </div>
  <div class="col-sm-6 col-md m-2">
    <h4>Documented Cases in {{villages.all.0.tehsil}}</h4>
    <p>{{total_killed|intcomma}} killed<br>{{total_disappeared|intcomma}} disappearances</p>
    <p>{{male|intcomma}} male vicitms<br>{{female|intcomma}} female vicitms</p>
    <p>{{not_married|intcomma}} not married<br>{{married|intcomma}} married</p>
    <p>{{genuine_encounter|intcomma}} genuine encounters in family<br>{{not_genuine_encounter|intcomma}} no genuine encounters in family</p>
    <p>{{amritdhari|intcomma}} Amritdhari<br>{{kesdhari|intcomma}} Kesdhari</p>
    <p>{{militant|intcomma}} militant<br>{{not_militant|intcomma}} not militant</p>
    <p>{{militant_support|intcomma}} provided militant support<br>{{no_militant_support|intcomma}} did not provide militant support</p>
    <p>{{prior_detentions|intcomma}} had prior detentions<br>{{no_prior_detentions|intcomma}} had no prior detentions</p>
    <p>{{security_officials_apprchd|intcomma}} families approached security officials<br>{{no_security_officials_apprchd|intcomma}} families did not approach security officials</p>
    <p>{{court_or_commission|intcomma}} families approached court or commission<br>{{no_court_or_commission|intcomma}} families did not approach court or commission</p>
  </div>
</div>


{% endblock %}
