{% extends "base.html" %}

{% load humanize %}

{% block title %}{{villages.all.0.tehsil}}, {{villages.all.0.district}}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12">
    <p>Tehsil (Subdistrict):</p>
    <h1>{{villages.all.0.tehsil}}</h1>
    <p><span class="kicker">District:</span> <a href="/district/{{villages.all.0.district_id}}">{{villages.all.0.district}}</a></p>
    <p class="kicker">Boundaries based on the 2001 census. Read about <a href="/about/methodology">our methodology</a>.</p>
    <br>
  </div>
</div>



<div class="row">
  <div class="col-sm-6">
    
    <h5>Villages with documented cases</h5>

    {% for village in villages_with_count %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
        <a href="{% url 'village' village.id %}">{{village.village_name}}</a>, {{village.data_count}}{% if forloop.first %} case{{village.data_count|pluralize }}{% endif %}
      </div>
    </div>
      
    {% endfor %}

  </div>
  <div class="col-sm-6 border-left">

    <p>{{stats.total|intcomma}} documented cases in {{villages.all.0.tehsil}} Tehsil (Subdistrict)</p>
    {% include 'stats.html' %}

  </div>
</div>

{% endblock %}
