{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load profiletags %}

{% block title %}{% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}{% endblock %}

{% block head %}
  <meta name="description" content="{% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}, based on data collected through primary source interviews." />

  <meta itemprop="name" content="{% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}" />
  <meta itemprop="description" content="A portrait of widespread &amp; systematic {% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}" />
  <meta name="twitter:description" content="A portrait of widespread &amp; systematic {% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="{% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="A portrait of widespread &amp; systematic {% blocktrans with thistehsil=villages.all.0.tehsil thisdistrict=villages.all.0.district %}Enforced disappearances &amp; extrajudicial executions in {{thistehsil}}, {{thisdistrict}} District, based on data collected through primary source interviews.{% endblocktrans %}, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="{% trans 'Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12">
    <h1 style="margin-bottom:1rem;">{% trans villages.all.0.tehsil %}</h1>
    {% if villages.all.0.tehsil != 'Chandigarh' %}
      <p><span class="kicker">{% trans 'District' %}:</span> <a href="{% url 'district' villages.all.0.district_id %}">{% trans villages.all.0.district %}</a></p>
    {% else %}
      <p><span class="kicker">{% trans 'Territory' %}:</span> <a href="{% url 'district' villages.all.0.district_id %}">{% trans villages.all.0.district %}</a></p>      
    {% endif %}
    <p class="kicker" style="margin-bottom:1rem;">{% trans 'Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.' %}</p>
    <br>
  </div>
</div>



<div class="row">
  <div class="col-sm-6">

    

    {% if request.LANGUAGE_CODE == 'pa' %}
      <p>{% trans villages.all.0.tehsil %}, {{stats.total|numpa}} {% if villages.all.0.tehsil != 'Chandigarh' %}ਤਹਿਸੀਲ{% endif %} ਵਿੱਚ ਦਰਜ ਕੀਤੇ ਹੋਏ ਕੇਸ</p>
    {% else %}
      <p>{{stats.total|numpa}} documented cases in {{villages.all.0.tehsil}} {% if villages.all.0.tehsil != 'Chandigarh' %}Subdistrict{% endif %}</p>
    {% endif %}

    

    {% for village in villages_with_count %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
        <a href="{% url 'village' village.vid %}">{% if request.LANGUAGE_CODE == 'pa' %}{{village.village_name_pa}}{% else %}{{village.village_name}}{% endif %}</a>, {{village.data_count|numpa}}
        {% if forloop.first %} 
          {% if request.LANGUAGE_CODE == 'pa' %}
            ਦਰਜ ਕੀਤੇ ਕੇਸ
          {% else %}
            case{{village.data_count|pluralize}}
          {% endif %}  
        {% endif %}  
      </div>
    </div>
      
    {% endfor %}

  </div>
  <div class="col-sm-6 border-left">

    {% if request.LANGUAGE_CODE == 'pa' %}
      <p>{% trans villages.all.0.tehsil %} {% if villages.all.0.tehsil != 'Chandigarh' %}ਤਹਿਸੀਲ{% endif %} ਵਿੱਚ ਦਰਜ ਕੀਤੇ ਹੋਏ ਕੇਸਾਂ ਦੇ ਮੁੱਖ ਅੰਕੜੇ</p>
    {% else %}
      <p>Key statistics for documented cases in {{villages.all.0.tehsil}} {% if villages.all.0.tehsil != 'Chandigarh' %}Subdistrict{% endif %}</p>
    {% endif %}

    {% include 'stats.html' %}

  </div>
</div>

{% endblock %}
