{% extends "base.html" %}

{% load i18n %}
{% load profiletags %}
{% load humanize %}

{% block title %}{% trans 'Villages with Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}{% endblock %}

{% block head %}

  <meta name="description" content="{% trans 'Villages in Punjab, India where widespread &amp; systematic enforced disappearances &amp; extrajudicial executions were perpetrated.' %}" />

  <meta itemprop="name" content="{% trans 'Villages with Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />
  <meta itemprop="description" content="{% trans 'Villages in Punjab, India where widespread &amp; systematic enforced disappearances &amp; extrajudicial executions were perpetrated.' %}" />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="{% trans 'Villages with Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />
  <meta name="twitter:description" content="{% trans 'Villages in Punjab, India where widespread &amp; systematic enforced disappearances &amp; extrajudicial executions were perpetrated.' %}" />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="{% trans 'Villages with Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="{% trans 'Villages in Punjab, India where widespread &amp; systematic enforced disappearances &amp; extrajudicial executions were perpetrated.' %}" />
  <meta property="og:site_name" content="{% trans 'Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India' %}" />

{% endblock %}


{% block content %}


<div class="row">
  <div class="col-sm-12">
    <h1 style="margin-bottom:1rem;">{% trans 'Villages' %}</h1>
    <p class="kicker" style="margin-bottom:1rem;">{% trans 'Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.'%}</p>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-12">

  {% regroup villages.all by district as district_list %}
    
  {% for district in district_list %}
  <div class="stats-block">
    <hr>
    <p><a class="toggle-switch" href="#"><strong>{% trans district.grouper %}     
    {% if district.grouper == 'Chandigarh' %}
      {% trans '(Union Territory)' %}
    {% else %}    
      {% trans 'District' %}
    {% endif %}
    &nbsp;<span class="arrow"></span></strong></a> &nbsp;&nbsp; {% district_count district.list %} {% trans 'victims' %}</p>

    <div class="toggle">

    {% regroup district.list by village_name as villages_list %}
    
    {% for village in district.list %}

    <div class="row">
      <div class="col-sm-12 col-md m-2">
        {% if village.data_count %}
          <a href="{% url 'village' village.vid %}">{% if request.LANGUAGE_CODE == 'pa' %}{{village.village_name_pa}}{% else %}{{village.village_name}}{% endif %}</a>, {{village.data_count|numpa}}
          {% if request.LANGUAGE_CODE == 'pa' %}
            ਪੀੜਤ
          {% else %}
            victim{{village.data_count|pluralize }}
          {% endif %}
        {% else %}
          <a href="{% url 'village' village.vid %}" class="gray">{% if request.LANGUAGE_CODE == 'pa' %}{{village.village_name_pa}}{% else %}{{village.village_name}}{% endif %}</a>, <a href="http://reportpunjabpolice.org" class="gray">{% trans 'report a case' %}</a>
        {% endif %}
      </div>
    </div>
      
    {% endfor %}

    </div>
  </div>
  {% endfor %}


    </div>
  </div>
</div>

{% endblock %}
