{% extends "base.html" %}

{% load profiletags %}

{% block title %}Enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District{% endblock %}

{% block head %}
  <meta name="description" content="Enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District, based on data collected through primary source interviews." />

  <meta itemprop="name" content="Enforced Disappearances &amp; Extrajudicial Executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District" />
  <meta itemprop="description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District, based on data collected through primary source interviews." />
  <meta itemprop="image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ensaaf" />
  <meta name="twitter:title" content="Enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District" />
  <meta name="twitter:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District, based on data collected through primary source interviews." />
  <meta name="twitter:creator" content="@ensaaf" />
  <meta name="twitter:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />

  <meta property="og:title" content="Enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://data.ensaaf.org" />
  <meta property="og:image" content="https://data.ensaaf.org/static/images/social-share.jpg" />
  <meta property="og:description" content="A portrait of widespread &amp; systematic enforced disappearances &amp; extrajudicial executions in {{village.village_name}}, {{village.tehsil}}, {{village.district}} District, based on data collected through primary source interviews." />
  <meta property="og:site_name" content="Mapping Crimes Against Humanity: Enforced Disappearances &amp; Extrajudicial Executions in Punjab, India" />

  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/carto.css" />
  <script type="text/javascript" src="/static/js/carto.js"></script>
  <script type="text/javascript" src="/static/js/leaflet.zoomhome.min.js"></script>

  <style>
    @media (max-width: 768px) { .order-2 { order: 1; } }    
  </style>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-8">
    <h1 style="margin-bottom: 1rem;">{%autoescape off%}{{village.village_name|smallparen}}{%endautoescape%}</h1>
    <p><span class="kicker">Subdistrict:</span> <a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}}</a> &nbsp; <span class="kicker">District:</span> <a href="/district/{{village.district_id}}">{{village.district}}</a></p>
    <p class="kicker">Boundaries based on the 2001 census. Read about <a href="/about">our methodology</a>.</p>
  </div>

</div>




{% if victims.qs|length > 0 %}

    {% if victims.qs|length == total_victims  %}<!-- link from map may be filtered -->

      <div class="row">
        <div class="col-12"><br>
          <h5>{{victims.qs|length}} documented case{{victims.qs|pluralize}}:</h5>
        </div>
      </div>

    {% else %}

      <div class="row">
        <div class="col-12"><br>
          <h5>Displaying {{victims.qs|length}} of {{total_victims}} documented cases in {{village.village_name|unparen}}:</h5>
          <hr>
          <p><a href="/village/{{vid}}">Show all documented cases in {{village.village_name|unparen}}</a></p>
          <hr>
        </div>
      </div>

    {% endif %}






    <div class="row">

    <div class="col-12 col-sm-12 col-md-6 order-2" style="background-color:#fff;height:300px;margin-bottom:1rem;" id="village-map"></div>

    {% for victim in victims.qs %}

    <div class="col-6 col-sm-4 col-md-3 victim {%if forloop.counter < 3 %}order-1{%else%}order-3{%endif%}">

      <div class="home-box" style="background-image:url('{% if victim.photo_vic_fn %}{% hphoto victim.photo_vic_fn %}{% else %}{% if victim.victim_sex == 2 %}/static/images/woman.jpg{% else %}/static/images/gray.jpg{% endif %}{% endif %}')" onclick="window.location.href='/profile/{{victim.record_id}}';" id="p{{victim.record_id}}">     
      </div>

        <div class="names">
          <h5 style="margin: 0;"><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></h5>
          {{victim.village_name}}<br>
          {% if victim.victim_disappeared_killed == 2 %}
            Extrajudicial execution,
          {% endif %}
          {% if victim.victim_disappeared_killed == 1 %}
            Disappeared,
          {% endif %}
          {% hdateslash victim.timeline_start victim.timeline_end %}
          <p><br></p>
        </div>

    </div>
      
    {% endfor %}

    </div>

{% else %}

   <div class="row">
    <div class="col-sm-12 col-md">   
      <p><br>No documented cases.</p>
    </div>
  </div>

{% endif %}
    


  <br>
  <p><a href="http://reportpunjabpolice.org" class="btn btn-primary">Report a case</a></p>





<script>
  var options = { minZoom: 4, maxZoom: 12, zoomControl: true };
  var mymap = new L.Map('village-map', {
    center: [{{village.lat}},{{village.lon}}],
    zoom: 8
  });
  cartodb.createLayer(mymap, 'https://sukhmandhami.carto.com/api/v2/viz/9650d7c6-9865-4151-a4e7-3456ef906d7d/viz.json', {https: true}).addTo(mymap);
  var circle = L.circle( [{{village.lat}}, {{village.lon}}], 2500, {
        stroke: false,
        fillColor: '#079',
        fillOpacity: .75,
        url: '{% url 'village' village.vid %}',
  }).addTo(mymap);
  circle.on('click', function (e) { document.location.href = this.options.url; });
  mymap.scrollWheelZoom.disable();
</script>

  
{% endblock %}