{% extends "base.html" %}

{% load profiletags %}

{% block title %}{{victims.all.0.village_name}}, {{village.tehsil}}, {{village.district}}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12 col-md m-2">
    <h1>{{village.village_name}}</h1>
    <p><span class="kicker">Tehsil</span> <a href="/tehsil/{{village.tehsil_id}}">{{village.tehsil}}</a> &nbsp; <span class="kicker">District</span> <a href="/district/{{village.district_id}}">{{village.district}}</a></p>
  </div>
</div>

  {% if victims.all|length > 0 %}

   <div class="row">
    <div class="col-sm-12 col-md m-2">   
      <p>Documented cases:</p>
    </div>
  </div>


    {% for victim in victims.all %}

<div class="row">
  <div class="col-sm-12 col-md m-2">
    
  <strong><a href="/profile/{{victim.record_id}}">{{victim.victim_name}}</a></strong>
  
  {% if victim.victim_sex %}{% sex victim.victim_sex %}{% endif %}{% if victim.victim_age %}{% if victim.victim_age != "Don't know" %}{% if victim.victim_sex %},{% endif %}        
  age {{victim.victim_age}}        
    {% if victim.victim_disappeared_killed  %}
     at time of 
      {% if victim.victim_disappeared_killed == 1 %}
      disappearance
      {% endif %}
      {% if victim.victim_disappeared_killed == 2 %}
      killing
      {% endif %}
    {% endif %}
  {% endif %}{% endif %}

  </div>
</div>
      
    {% endfor %}
    {% else %}

   <div class="row">
    <div class="col-sm-12 col-md m-2">   
      <p>No documented cases.</p>
    </div>
  </div>

    {% endif %}
    
    
<div class="row">
  <div class="col-12">
    <div class="border-top footnotes">
      <p>Note: Tehsil and district boundaries are based on the 2001 census. Read more about <a href="/about/methodology">our methodology</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
