{% load i18n %}
{% load profiletags %} 
{% load tweetxtags %}



 {% comment %} {% if victim.photo_vic_fn %}
<img src="{% hphoto victim.photo_vic_fn %}"/>
{% endif %}  {% endcomment %}


      {% if victim.victim_disappeared_killed == 2 %}
      
      {% autoescape off %}
      
      {% if victim.victim_death_date %}
      {% hdate_t victim.victim_death_date %},
      {% else %}
      <!-- On unknown date -->
      {% endif %}
      
      {% endautoescape %}


      {% autoescape off %}

      {% if victim.arrest_security_type_1  or victim.arrest_security_type_2 or  victim.arrest_security_locality_3 or   victim.arrest_security_type_4 or  victim.arrest_security_type_5 or  victim.arrest_security_type_6 or  victim.arrest_security_type_7 or  victim.arrest_security_type_oth %}
        {% harrest_security_type_link_t victim.arrest_security_type_1 victim.arrest_security_type_2 victim.arrest_security_type_3 victim.arrest_security_type_4 victim.arrest_security_type_5 victim.arrest_security_type_6 victim.arrest_security_type_7 victim.arrest_security_type_oth %} 
      {% elif victim.killing_securityforces_lcl != 'Don\'t know' and  victim.killing_securityforces_lcl != None %}
      {{victim.killing_securityforces_lcl|censuslink_t|safe}}  {% harrest_security_type_link_t victim.killing_securityforcestype_1 victim.killing_securityforcestype_2 victim.killing_securityforcestype_3 victim.killing_securityforcestype_4 victim.killing_securityforcestype_5 victim.killing_securityforcestype_6 victim.killing_securityforcestype_7 victim.killing_securityforces_oth %}
     {% elif victim.killing_securityforcestype_1 or victim.killing_securityforcestype_2 or victim.killing_securityforcestype_3 or victim.killing_securityforcestype_4 or victim.killing_securityforcestype_5 or victim.killing_securityforcestype_6 or victim.killing_securityforces_oth %}{% elif victim.killing_securityforces_lcl %}
     <p><b>| cats</b></p>



      
  
{% endif %}

        {% endautoescape %}

        {% comment %} {% autoescape off %}
      {% harrest_security_type_link_t victim.arrest_security_type_1 victim.arrest_security_type_2 victim.arrest_security_type_3 victim.arrest_security_type_4 victim.arrest_security_type_5 victim.arrest_security_type_6 victim.arrest_security_type_7 victim.arrest_security_type_oth %}{% endautoescape %} {% endcomment %}

     
      {% autoescape off %}
        {% if victim.arrest_security_locality  %}{% if victim.arrest_security_type_1 or victim.arrest_security_type_2 or victim.arrest_security_type_3 or victim.arrest_security_type_4 or victim.arrest_security_type_5 or victim.arrest_security_type_6 or victim.arrest_security_type_7 or victim.arrest_security_type_oth%} from {% endif %}{% endif %}{% endautoescape %}


      {% autoescape off %}
        {% if victim.arrest_security_locality  %}{{victim.arrest_security_locality|censuslink_t}}{% if victim.arrest_security_type_1 or victim.arrest_security_type_2 or victim.arrest_security_type_3 or victim.arrest_security_type_4 or victim.arrest_security_type_5 or victim.arrest_security_type_6 or victim.arrest_security_type_7 or victim.arrest_security_type_oth%} {% endif %}{% endif %}{% endautoescape %}
      
{% comment %} <!-- security officials -->
        {% if victim.killing_securityforces_lcl != 'Don\'t know' and  victim.killing_securityforces_lcl != None %}
        {{victim.killing_securityforces_lcl|censuslink|safe}}{% if victim.killing_securityforcestype_1 or victim.killing_securityforcestype_2 or victim.killing_securityforcestype_3 or victim.killing_securityforcestype_4 or victim.killing_securityforcestype_5 or victim.killing_securityforcestype_6 or victim.killing_securityforces_oth %}{% if victim.killing_securityforces_lcl %}, {% endif %}{% endif %}{% endif %}{% autoescape off %}{% harrest_security_type_link_t victim.killing_securityforcestype_1 victim.killing_securityforcestype_2 victim.killing_securityforcestype_3 victim.killing_securityforcestype_4 victim.killing_securityforcestype_5 victim.killing_securityforcestype_6 victim.killing_securityforcestype_7 victim.killing_securityforces_oth %}{% endautoescape %} {% endcomment %}


               {% comment %} use a big statement and loop through possibilities?  victim.killing_securityforcestype {% endcomment %}

       {% comment %} <u> Police station</u> {% endcomment %}

       {% if victim.victim_disappeared_killed == 2 %}
       #UnlawfullyKilled
     {% endif %}
   
     {% if victim.victim_disappeared_killed == 1 %}     
     #Disappeared
     {% endif %}
      {% endif %}

      {% if victim.victim_disappeared_killed == 2 %}


{{victim.victim_name}}
{% if victim.record_id == '5510' or victim.record_id == '5511' or victim.record_id == '5512' or victim.record_id == '5513' %}{% if victim.victim_alias == 1 and victim.victim_alias_name  %}, also known as {{victim.victim_alias_name}}, {% endif %}{% endif %}



      {% if victim.victim_age != "Don't know" %}      
      ({{victim.victim_age|default:"unknown"|numpa}})
      {% endif %}

      {% endif %}

      <!-- if vicitem has disappared -->
<!---      Do we need this? --> 
      {% if victim.victim_disappeared_killed == 1 %} 
      

        {% if victim.victim_death_date %}
          {% hdate_t victim.victim_death_date %}
        {% elif victim.victim_arrest_date %}
          {% hdate_t victim.victim_arrest_date %}, 
          
         

          {% if victim.arrest_security_locality  %}{{victim.arrest_security_locality|censuslink_t}}{% if victim.arrest_security_type_1 or victim.arrest_security_type_2 or victim.arrest_security_type_3 or victim.arrest_security_type_4 or victim.arrest_security_type_5 or victim.arrest_security_type_6 or victim.arrest_security_type_7 or victim.arrest_security_type_oth%}, {% endif %}{% endif %}{% harrest_security_type_link_t victim.arrest_security_type_1 victim.arrest_security_type_2 victim.arrest_security_type_3 victim.arrest_security_type_4 victim.arrest_security_type_5 victim.arrest_security_type_6 victim.arrest_security_type_7 victim.arrest_security_type_oth %}

        #abducted

          {{victim.victim_name}}
          {% if victim.victim_age != "Don't know" %}      
          ({{victim.victim_age|default:"unknown"|numpa}})
          {% endif %}


        {% else %} 
        <!-- On unknown date  -->

        {% autoescape off %}

      {% comment %} need uknown secrurity forces or data forthcoming here {% endcomment %}
        {% comment %} unknown security officials {% endcomment %}
        

       

{% harrest_security_type_link_t victim.arrest_security_type_1 victim.arrest_security_type_2 victim.arrest_security_type_3 victim.arrest_security_type_4 victim.arrest_security_type_5 victim.arrest_security_type_6 victim.arrest_security_type_7 victim.arrest_security_type_oth %}{% endautoescape %} 



{% if victim.arrest_security_locality  %} from  {{victim.arrest_security_locality|censuslink_t}}{% if victim.arrest_security_type_1 or victim.arrest_security_type_2 or victim.arrest_security_type_3 or victim.arrest_security_type_4 or victim.arrest_security_type_5 or victim.arrest_security_type_6 or victim.arrest_security_type_7 or victim.arrest_security_type_oth%} {% endif %}{% endif %}


{% comment %} Profile 1948 {% endcomment %}

{% if victim.arrest_security_type_1 == 0 and victim.arrest_security_type_2 == 0 and  victim.arrest_security_type_3 == 0 and victim.arrest_security_type_4 == 0 and victim.arrest_security_type_5 == 0 and victim.arrest_security_type_6 == 0 and victim.arrest_security_type_7 == 0 %}
Unidentified security officials 
{% endif %}
        
        
        
{% if victim.victim_disappeared_killed == 2 %}
#UnlawfullyKilled
{% endif %}

{% if victim.victim_disappeared_killed == 1 %}     
#abducted
{% endif %}

  {% comment %} figure out about profile 1948 {% endcomment %}
     
        
        {{victim.victim_name}}
        
        {% if victim.victim_arrest_location is None %} from an undisclosed location.{% endif %}



        {% comment %} {% trans 'date unknown' %}{% endcomment %}
        {% endif %} 
        
      {% endif %}

      
      <!-- sex -->      
      {% comment %} {% if victim.victim_sex != None %}{% sex victim.victim_sex %}{% endif %} {% endcomment %}
      
     


      <!-- abduction-->
      {% if victim.victim_arrest_location != 1 %}
      {% if victim.victim_arrest_location != 11 %}
      
      {% if victim.victim_arrest_status == 2 or victim.victim_arrest_status == 1 %}
         from
          
         {% vvictim_arrest_location victim.victim_arrest_location victim.victim_sex %}{% if victim.victim_arrest_location and victim.victim_arrest_loc_vill %}, {% endif %}{% if victim.victim_arrest_loc_vill != None %}{% autoescape off %}{% hvictim_address_other_t victim.victim_arrest_loc_vill %}{% endautoescape %}{% endif %}{% endif %}{% if victim.victim_arrest_loc_thsl %},
  {{victim.victim_arrest_loc_thsl}}{% endif %}{% if victim.victim_arrest_loc_dist %},
  {{victim.victim_arrest_loc_dist}}{% endif %}{% if victim.victim_arrest_loc_st %},
  {{victim.victim_arrest_loc_st}}{% endif %}
      {% endif %}
             
      {% endif %}
  
      {% if victim.victim_arrest_location == 1 %}
       from an undisclosed location in #Punjab state{% if victim.victim_disappeared_killed == 1 %} and #disappeared him{% endif %}.       
      {% endif %}
  
      
      <!--- residence -->
      {% if victim.victim_arrest_location == 2 %}<!-- victim arrested/abducted at residence -->
        {% if victim.victim_address_int_loc == 1 %}
        {% if victim.village_name != None %}
        
            {% if victim.village_id|add:"0" > 0 and village.tehsil%}
            {% if request.LANGUAGE_CODE == 'pb' %}{{victim.village_name_pb}}{% else %}{{victim.village_name}}{% endif %} Village ,
         {% trans village.tehsil %} Subdistrict,
            {% trans 'District' %} District 
            {% else %}
              {% if request.LANGUAGE_CODE == 'pb' %}{{victim.village_name_pb}}{% else %}{{victim.village_name}}{% endif %}
            {% endif %}
     {% trans 'village.' %}
      {% endif %}
      {% endif %}
    {% endif %}

    {% if victim.victim_address_int_loc == 0 %}

    
      {% if victim.victim_address_other != 'Don\'t know' %}
      {% trans 'village' %}
      
          {% autoescape off %}
   {% hashtag_victim_address_other_t victim.victim_address_other %}
          {% endautoescape %}
      
      {% endif %}
    {% endif %}

    {% if victim.victim_death_date %}
    
    {% if victim.arrest_security_type_1  or victim.arrest_security_type_2 or  victim.arrest_security_locality_3 or   victim.arrest_security_type_4 or  victim.arrest_security_type_5 or victim.arrest_security_type_6 or  victim.arrest_security_type_7 or  victim.arrest_security_type_oth %}
    {% harrest_security_type_link_t victim.arrest_security_type_1 victim.arrest_security_type_2 victim.arrest_security_type_3 victim.arrest_security_type_4 victim.arrest_security_type_5 victim.arrest_security_type_6 victim.arrest_security_type_7 victim.arrest_security_type_oth %} 
  {% elif victim.killing_securityforces_lcl != 'Don\'t know' and  victim.killing_securityforces_lcl != None %}
  
  {% harrest_security_type_link_t victim.killing_securityforcestype_1 victim.killing_securityforcestype_2 victim.killing_securityforcestype_3 victim.killing_securityforcestype_4 victim.killing_securityforcestype_5 victim.killing_securityforcestype_6 victim.killing_securityforcestype_7 victim.killing_securityforces_oth %}


 {% elif victim.killing_securityforcestype_1 or victim.killing_securityforcestype_2 or victim.killing_securityforcestype_3 or victim.killing_securityforcestype_4 or victim.killing_securityforcestype_5 or victim.killing_securityforcestype_6 or victim.killing_securityforces_oth %}{% elif victim.killing_securityforces_lcl %}

  {% endif %}

  {% else %}


  {{victim.victim_name}}'s
{% if victim.record_id == '5510' or victim.record_id == '5511' or victim.record_id == '5512' or victim.record_id == '5513' %}{% if victim.victim_alias == 1 and victim.victim_alias_name  %}, also known as {{victim.victim_alias_name}}, {% endif %}{% endif %}
family does not know the date of  
{% if victim.victim_sex == 1 %}his{% endif %}
{% if victim.victim_sex == 2 %}her{% endif %} 
{% if victim.victim_disappeared_killed == 2 %}
#UnlawfullyKilling.
{% endif %}

{% if victim.victim_disappeared_killed == 1 %}
abduction.
{% endif %}

  {% endif %}

{% comment %} {% if victim.victim_arrest_status == 1 or victim.victim_arrest_status == 2 %}
  {% if victim.security_forces_uniformed != None and victim.security_forces_uniformed != 9 %}
{% trans 'Security officials' %}

  {% endif %}
  {% endif %} {% endcomment %}

{% comment %} 
  {% if victim.killing_securityforces_lcl != 'Don\'t know' and  victim.killing_securityforces_lcl != None %}
      {% if victim.killing_securityforcestype_1 or victim.killing_securityforcestype_2 or victim.killing_securityforcestype_3 or victim.killing_securityforcestype_4 or victim.killing_securityforcestype_5 or victim.killing_securityforcestype_6 or victim.killing_securityforces_oth %}{% if victim.killing_securityforces_lcl %}, {% endif %}{% endif %}{% endif %}{% autoescape off %}{% harrest_security_type_link_t victim.killing_securityforcestype_1 victim.killing_securityforcestype_2 victim.killing_securityforcestype_3 victim.killing_securityforcestype_4 victim.killing_securityforcestype_5 victim.killing_securityforcestype_6 victim.killing_securityforcestype_7 victim.killing_securityforces_oth %}{% endautoescape %} {% endcomment %}
        
                {% comment %} Victim's body  {% endcomment %}
        {% if victim.so_return_body != None and victim.so_return_body != 0 %}
        {% if victim.so_return_body == 3 %} did not return 
        
        {{victim.victim_name}}{% if victim.record_id == '5510' or victim.record_id == '5511' or victim.record_id == '5512' or victim.record_id == '5513' %}{% if victim.victim_alias == 1 and victim.victim_alias_name  %}, also known as {{victim.victim_alias_name}}, {% endif %}{% endif %}'s body to
        
        {% if victim.victim_sex == 1 %}his{% endif %}
        {% if victim.victim_sex == 2 %}her{% endif %}
        family.{% endif %}
        {% endif %}
      
    <br />    <br />
        https://data.ensaaf.org{% url 'profile' victim.record_id %}<br /> <br />
  
        <p>#Human Rights #Justice #Punjab #India #Impunity</p>
        


